﻿@model JMS.Models.ManufacturerViewModel

<div id="divNewOrg" style="margin:15px;">

    @using (Ajax.BeginForm("_NewManufacturer", "Manufacturer", new AjaxOptions { UpdateTargetId = "divNewOrg", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div id="div_Body"  class="row">
            <div class="col-xs-9">
                <h2>New Manufacturer</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <div style="float:right;">
                    <input type="submit" value="Add Manufacturer" class="btn btn-sm btn-inverse">
                    <a class="btn btn-sm btn-default" onclick="HideViews()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            @Html.HiddenFor(model => model.RefID)
            <div class="col-sm-4">
                <table>
                    @*<tr>
                        <td style="width:80px;"><label>ID:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.RefID, new { @class = "form-control", @placeholder = "ID", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.RefID, "", new { @class = "text-danger" })
                        </td>
                    </tr>*@
                    <tr>
                        <td style="width:80px;"><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Manufacturer Name", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <br />
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Manufacturer" class="btn btn-inverse">
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            Refresh();
            CreatedManufacturer(response["ID"]);
        }
    </script>

    <style>
        #div_Body table tr th, #div_Body table tr td {
            padding: 2px;
        }

        #div_Body table {
            width: 100%;
        }
    </style>

</div>