﻿
@{
    ViewBag.Title = "Manufacturer";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Manufacturer</h1>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6">
            @if (!User.IsInRole("Viewer"))
            {
                <a class="btn btn-inverse" onclick="NewManufacturer()"><span class="glyphicon glyphicon-home"></span>&nbsp;New Manufacturer</a>
            }            
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_ManufacturerFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
                 @if (ViewBag.EditCRM)
                 {
                    //<a class="btn btn-sm btn-default" onclick="Edit()"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</a>
                 } 
            </div>
        </div>

        @*@if (ViewBag.EditCRM)
        {
            <div id="divEdit" class="col-sm-12" style="display:none">
                <div class="form-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-default" onclick="SelectAll()"><span class="glyphicon glyphicon-check"></span>&nbsp; Select All</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DeleteSelected()"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Selected</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DoneEdit()"><span class="glyphicon glyphicon-ok"></span>&nbsp; Done</a>&nbsp;
                </div>
            </div>
        }*@
        <div class="col-sm-12">
            @(Html.Kendo().Grid<JMS.Models.ManufacturerViewModel>()
                .Name("GridManufacturers")
                .HtmlAttributes(new { style = "min-width: 500px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Manufacturer").Empty("No Manufacturer Found")))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    //columns.Bound(u => u.RefID).Title("ID").Width("1%");
                    columns.Bound(u => u.Name).Title("Name").ClientTemplate("<a href='\\#' onclick='EditManufacturer(\"#=ID#\"); return false;'><strong>#=Name#</strong></a>");
                    columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick='EditManufacturer(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }).Visible(!User.IsInRole("Viewer")).Width("1%");
                })
                .Sortable()
                .Editable(editable => editable.ConfirmDelete("Are you sure you want to delete this Manufacturer?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "ManufacturerGrid").Data("GetSearchInfo")).PageSize(50)
                    .Update(update => update.Action("Update", "ManufacturerGrid"))
                    .Destroy(destory => destory.Action("Destroy", "ManufacturerGrid"))
                    .Events(events => events.Error("KendoGridErrorHandler"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditManufacturer" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditManufacturer_Body"></div>
    </div>
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.ManufacturerID))
    {
        <text>
    EditManufacturer('@ViewBag.ManufacturerID');
    </text>
    }

    function Refresh() {
        var grid = $("#GridManufacturers").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function RefreshContacts() {
        var grid = $("#GridContactsSearch").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ManufacturerFilter').val(),
        }
    }

    function Edit() {
        var grid = $("#GridManufacturers").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').hide();
            $('#divEdit').show();
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridManufacturers").data("kendoGrid");
        $('#divPager').show();
        $('#divEdit').hide();
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }


    $("#TB_ManufacturerFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    $("#TB_ContactFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshContacts();
        //}
    });


    //Below the following functions are used the show/hide the content panels.
    function NewManufacturer() {
        $("#EditManufacturer_Body").load("@Url.Action("_NewManufacturer", "Manufacturers")");

        $("#SlideContent_EditManufacturer").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditManufacturer").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function EditManufacturer(id) {
        var url = '@Url.Action("_EditManufacturer", "Manufacturers")' + '?ID=' + id;
        $("#EditManufacturer_Body").load(url);

        $("#SlideContent_EditManufacturerTypes").fadeOut();
        $("#SlideContent_SearchContacts").fadeOut();

        $("#SlideContent_EditManufacturer").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditManufacturer").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedManufacturer(id) {
        var url = '@Url.Action("_EditManufacturer", "Manufacturers")' + '?ID=' + id;
        $("#EditManufacturer_Body").load(url);
    }

    @if (ViewBag.EditCRM)
    {
        <text>

            function DeleteManufacturer(id) {
                if (confirm("Are you sure you want to delete this organisation?")) {
                    $.ajax({
                        url: '@Url.Action("_DeleteManufacturer", "Manufacturers")',
                        type: 'POST',
                        data: { "ID": id },
                        dataType: "json",
                        success: function (data) { Refresh(); }
                    });
                }
            }

            function DeleteSelected() {
                if (confirm("Are you sure you want to delete these organisations?")) {

                    var ids = $("input[name=chk_grid]:checkbox:checked").map(function () { return this.value; }).get().join();

                    $.ajax({
                        url: '@Url.Action("_DeleteManufacturers", "ManufacturerGrid")',
                        type: 'POST',
                        data: { "IDs": ids },
                        dataType: "json",
                        success: function (data) { Refresh(); }
                    });
                }
            }
        </text>
    }

    function EditManufacturerTypes() {

        $("#SlideContent_EditManufacturerTypes").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditManufacturerTypes").fadeIn();
        $("#Button_Close_Content").fadeIn();

        var grid = $("#GridAllLogs").data("kendoGrid");
        grid.dataSource.read();
    }


    function SearchContacts() {
        $("#SlideContent_SearchContacts").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").fadeIn();
        $("#Button_Close_Content").fadeIn();

        var grid = $("#GridContactsSearch").data("kendoGrid");
        grid.dataSource.read();
    }

    function HideViews() {
        $("#SlideContent_EditManufacturer").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditManufacturerTypes").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditManufacturer").fadeOut();
            $("#SlideContent_EditManufacturerTypes").fadeOut();
            $("#SlideContent_SearchContacts").fadeOut();
            $("#Button_Close_Content").fadeOut();
        }, 300);

    }

</script>


