﻿
@{
    ViewBag.Title = "Engineers";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Engineers</h1>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6">
            @if (!User.IsInRole("Viewer"))
            {
            <a class="btn btn-inverse" onclick="$('#GridEngineers').data('kendoGrid').addRow();"><span class="glyphicon glyphicon-home"></span>&nbsp;New Engineer</a>
            }
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_EngineerFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
                 @if (ViewBag.EditCRM)
                 {
                    //<a class="btn btn-sm btn-default" onclick="Edit()"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</a>
                 } 
            </div>
        </div>

        @if (ViewBag.EditCRM)
        {
            <div id="divEdit" class="col-sm-12" style="display:none">
                <div class="form-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-default" onclick="SelectAll()"><span class="glyphicon glyphicon-check"></span>&nbsp; Select All</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DeleteSelected()"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Selected</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DoneEdit()"><span class="glyphicon glyphicon-ok"></span>&nbsp; Done</a>&nbsp;
                </div>
            </div>
        }
        <div class="col-sm-12">
            @(Html.Kendo().Grid<JMS.Models.EngineerGridViewModel>()
                .Name("GridEngineers")
                .HtmlAttributes(new { style = "min-width: 500px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Engineers").Empty("No Engineers Found")))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(m => m.EngineerID).Title("Engineer ID").ClientTemplate("<div class='div-inline'>#=EngineerID#</div>").Width("1%");
                    columns.Bound(m => m.ShortName).Title("Engineer Short Name");
                    columns.Bound(m => m.Name).Title("Engineer");
                    columns.Bound(m => m.Active).Title("Current").ClientTemplate("#if(Active){#<i class='glyphicon glyphicon-ok'></i>#}#").Width("1%").HtmlAttributes(new { @class="div-inline"});
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }).Visible(!User.IsInRole("Viewer")).Width("90px");
                })
                .Sortable()
                .Editable(editable => editable.ConfirmDelete("Are you sure you want to delete this Engineer?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.Active).DefaultValue(true);
                    })
                    .Create(create => create.Action("Create", "EngineerGrid"))
                    .Read(read => read.Action("Read", "EngineerGrid").Data("GetSearchInfo")).PageSize(50)
                    .Update(update => update.Action("Update", "EngineerGrid"))
                    .Destroy(destory => destory.Action("Destroy", "EngineerGrid"))
                    .Events(events => events.Error("KendoGridErrorHandler"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditEngineer" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditEngineer_Body"></div>
    </div>
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.EngineerID))
    {
        <text>
    EditEngineer('@ViewBag.EngineerID');
    </text>
    }

    function Refresh() {
        var grid = $("#GridEngineers").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function RefreshContacts() {
        var grid = $("#GridContactsSearch").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_EngineerFilter').val(),
        }
    }

    function Edit() {
        var grid = $("#GridEngineers").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').hide();
            $('#divEdit').show();
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridEngineers").data("kendoGrid");
        $('#divPager').show();
        $('#divEdit').hide();
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }


    $("#TB_EngineerFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    $("#TB_ContactFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshContacts();
        //}
    });


    //Below the following functions are used the show/hide the content panels.
    function NewEngineer() {
        $("#EditEngineer_Body").load("@Url.Action("_NewEngineer", "Engineer")");

        $("#SlideContent_EditEngineer").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditEngineer").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function EditEngineer(id) {
        var url = '@Url.Action("_EditEngineer", "Engineer")' + '?ID=' + id;
        $("#EditEngineer_Body").load(url);

        $("#SlideContent_EditEngineerTypes").fadeOut();
        $("#SlideContent_SearchContacts").fadeOut();

        $("#SlideContent_EditEngineer").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditEngineer").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedEngineer(id) {
        var url = '@Url.Action("_EditEngineer", "Engineer")' + '?ID=' + id;
        $("#EditEngineer_Body").load(url);
    }

    @if (ViewBag.EditCRM)
    {
        <text>

            function DeleteEngineer(id) {
                if (confirm("Are you sure you want to delete this organisation?")) {
                    $.ajax({
                        url: '@Url.Action("_DeleteEngineer", "Engineers")',
                        type: 'POST',
                        data: { "ID": id },
                        dataType: "json",
                        success: function (data) { Refresh(); }
                    });
                }
            }

            function DeleteSelected() {
                if (confirm("Are you sure you want to delete these organisations?")) {

                    var ids = $("input[name=chk_grid]:checkbox:checked").map(function () { return this.value; }).get().join();

                    $.ajax({
                        url: '@Url.Action("_DeleteEngineers", "EngineerGrid")',
                        type: 'POST',
                        data: { "IDs": ids },
                        dataType: "json",
                        success: function (data) { Refresh(); }
                    });
                }
            }
        </text>
    }

    function EditEngineerTypes() {

        $("#SlideContent_EditEngineerTypes").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditEngineerTypes").fadeIn();
        $("#Button_Close_Content").fadeIn();

        var grid = $("#GridAllLogs").data("kendoGrid");
        grid.dataSource.read();
    }


    function SearchContacts() {
        $("#SlideContent_SearchContacts").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").fadeIn();
        $("#Button_Close_Content").fadeIn();

        var grid = $("#GridContactsSearch").data("kendoGrid");
        grid.dataSource.read();
    }

    function HideViews() {
        $("#SlideContent_EditEngineer").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditEngineerTypes").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditEngineer").fadeOut();
            $("#SlideContent_EditEngineerTypes").fadeOut();
            $("#SlideContent_SearchContacts").fadeOut();
            $("#Button_Close_Content").fadeOut();

            Refresh();
        }, 300);

    }


    @if (ViewBag.EditCRM)
    {
        <text>
    //ATTACHEMENT TAB FUNCTIONS
    function OnAttachmentUploadSuccess(e) {
        $('#GridAttachments').data('kendoGrid').dataSource.read();
    }

    function OnLinkAttactmentAdded(data) {
        $('#TB_AttachmentLink').val("");
        $('#GridAttachments').data('kendoGrid').dataSource.read();
    }


    function OnGridEngineerTypesRequestEnd(e) {
        //RequestEnd handler code
        if (e.type != 'read') {
            $("#DD_Types").data("kendoDropDownList").dataSource.read();
        }
    }
    </text>
    }


    @if (ViewBag.ExportCRM)
    {
        <text>

    function ExportEngineers() {
        var filterText = $('#TB_EngineerFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("Export", "EngineerGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    function ExportContacts() {
        var filterText = $('#TB_EngineerFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("ExportContacts", "EngineerGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    function ExportAddresses() {
        var filterText = $('#TB_EngineerFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("ExportAddresses", "EngineerGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    function ExportProducts() {
        var filterText = $('#TB_EngineerFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("ExportProductsSupplied", "EngineerGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    function ExportCategories() {
        var filterText = $('#TB_EngineerFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("ExportCategoriesSupplied", "EngineerGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    </text>
    }


</script>


