﻿
@{
    ViewBag.Title = "Subscription Requests";
}

<div class="row" >
    <div class="col-sm-12">
        <h2>Subscription Requests</h2>
        <hr />
    </div>
    <div class="col-sm-12">
        <a class="btn btn-default btn-sm" onclick="$('#GridRequests').data('kendoGrid').dataSource.read();"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
    </div>

    <div class="col-sm-12">
        <br />
        @(Html.Kendo().Grid<JMS.Models.SubscriptionRequest>()
                .Name("GridRequests")
                .Pageable(p => p.PageSizes(new[] { 100, 200, 500 }).Messages(m => m.Display("{0} - {1} of {2} Requests").Empty("No Requests Found")))
                .Columns(columns =>
                {                    
                    columns.Bound(t => t.Timestamp).Format("{0:HH:mm dd/MM/yy}").Width("1%");
                    columns.Bound(t => t.CompanyID).Width("1%");
                    columns.Bound(t => t.CompanyName).Width("1%");
                    columns.Bound(t => t.Email).Width("1%");

                    columns.Bound(t => t.Message);
                    columns.Bound(p => p.Complete).Title("Complete").ClientTemplate("#if(Complete){#<span class='glyphicon glyphicon-ok' title='Complete'></span>#}#").Width("1%");
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }
                    ).Width("90px");
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);
                    })
                    //Pass the string in the textbox using the anonymously created function
                    .Read(read => read.Action("Read", "SubscriptionRequests")).PageSize(100)
                    .Update(update => update.Action("Update", "SubscriptionRequests"))
                    .Destroy(destory => destory.Action("Destroy", "SubscriptionRequests"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>


