﻿@model JMS.Models.EquipmentViewModel

<div id="divEditEquipment">
     <script> $("divEditEquipment").submit(function (e) { e.preventDefault(e); }); </script>
    
    <div class="row form-table" style="margin-left:5px; margin-right:5px;">
        <div class="col-sm-12">
            @using (Ajax.BeginForm((ViewBag.EditCRM) ? "_EditEquipmentDetails" : "", "Equipments", new AjaxOptions { UpdateTargetId = "divEditEquipment" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Deleted)
                <div id="div_Body" class="row">
                    <div class="col-xs-9">
                        <h2>Edit Equipment</h2>
                    </div>
                    <div class="col-xs-3">
                        <br />
                        <div style="float:right;">
                            @if (!User.IsInRole("Viewer"))
                            {
                                <input type="submit" value="Save Changes" class="btn btn-sm btn-inverse">
                            }
                            <a class="btn btn-sm btn-default" onclick="HideViews()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                            @if (ViewBag.Saved != null)
                            {
                                <br />
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                    <div class="col-sm-12">
                        <table>
                            <tr>
                                <td style="width:150px;"><label for="Title">Title:</label></td>
                                <td colspan="3">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Title", @style = "max-width:741px; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label for="EquipNo">Equip No:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.EquipNo, new { @class = "form-control", @placeholder = "Equipment Number", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.EquipNo, "", new { @class = "text-danger" })
                                </td>
                                <td style="width:150px;"><label for="AssetNo">Asset No:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.AssetNo, new { @class = "form-control", @placeholder = "Asset Number", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.AssetNo, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label for="LocationID">Location:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.LocationID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownLocations", "Dropdowns"))
                                          .Value(Model.LocationID)
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                    @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label for="EquipType">Equipment Type:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.EquipType, new { @class = "form-control", @placeholder = "Equipment Type", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.EquipType, "", new { @class = "text-danger" })
                                </td>
                                <td><label for="ManufacturerID">Outside Manufacturer:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.ManufacturerID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownManufacturers", "Dropdowns"))
                                          .Value(Model.ManufacturerID)
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                    @Html.ValidationMessageFor(model => model.ManufacturerID, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label for="SerialNo">Serial No:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control", @placeholder = "Serial Number", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.SerialNo, "", new { @class = "text-danger" })
                                </td>
                                <td><label for="DrawingNo">Drawing No:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.DrawingNo, new { @class = "form-control", @placeholder = "Drawing No", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.DrawingNo, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label for="PMNo">PM No:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.PMNo, new { @class = "form-control", @placeholder = "PM Number", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.PMNo, "", new { @class = "text-danger" })
                                </td>
                                <td><label for="ProjectCodeID" style="width:100px;">ProjectCode:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.ProjectCodeID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .Filter(FilterType.Contains)
                                          .DataSource(dataSource => dataSource.Read("DropDownProjectCodes", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><label for="DOMorPurchase">DOM or Purchase:</label></td>
                                <td>
                                    @Html.Kendo().DatePickerFor(model => model.DOMorPurchase).HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    @Html.ValidationMessageFor(model => model.DOMorPurchase, "", new { @class = "text-danger" })
                                </td>
                                <td><label for="EquipStatusID">Equipment Status:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.EquipStatusID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(dataSource => dataSource.Read("DropDownEquipStatuses", "Dropdowns"))
                                          .Value(Model.EquipStatusID)
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                    @Html.ValidationMessageFor(model => model.EquipStatusID, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label for="PCControlled">PC Controlled:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.PCControlled)</td>
                                <td><label for="RiskAssessmentRef">Risk Assessment Ref:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.RiskAssessmentRef, new { @class = "form-control", @placeholder = "Risk Assessment Ref", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.RiskAssessmentRef, "", new { @class = "text-danger" })
                                </td>
                            <tr>
                                <td><label for="PCNetworked">PC Networked:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.PCNetworked)</td>
                                <td><label for="SoftwareAndVersion">Software and Version:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.SoftwareAndVersion, new { @class = "form-control", @placeholder = "Software and Version", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.SoftwareAndVersion, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr style="height: 37px;">
                                <td><label for="AlarmInterlock">Alarm Interlock:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.AlarmInterlock)</td>
                                <td><label for="PCReference">PC Reference:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.PCReference, new { @class = "form-control", @placeholder = "PC Reference", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.PCReference, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr style="height: 37px;">
                                <td><label for="ExtractInterlock">Extract Interlock:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.ExtractInterlock)</td>
                            </tr>
                            <tr>
                                <td><label for="ElectricalVisualInspectionDate">Electrical Visual Inspection Date:</label></td>
                                <td>@Html.Kendo().DatePickerFor(model => model.ElectricalVisualInspectionDate).HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                                <td><label for="ElectricalFullInspectionDate">Electrical Full Inspection Date:</label></td>
                                <td>@Html.Kendo().DatePickerFor(model => model.ElectricalFullInspectionDate).HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                            </tr>
                            <tr>
                                <td><label for="ElectricalTestNumber">Electrical Test Number:</label></td>
                                <td>@Html.TextBoxFor(model => model.ElectricalTestNumber, new { @class = "form-control", @placeholder = "Electrical Test Number", @style = "width:100%;" })</td>
                            </tr>
                            <tr>
                                <td><label for="RequestorIDs">Requestors:</label></td>
                                <td colspan="3">
                                    @(Html.Kendo().MultiSelectFor(mdoel => Model.RequestorIDs)
                                            .DataValueField("ID")
                                            .DataTextField("Name")
                                            .DataSource(dataSource => dataSource.Read("DropDownRequestors", "Dropdowns"))
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><label for="EngineerIDs">Designers:</label></td>
                                <td colspan="3">
                                    @(Html.Kendo().MultiSelectFor(mdoel => Model.EngineerIDs)
                                            .DataValueField("ID")
                                            .DataTextField("Name")
                                            .DataSource(dataSource => dataSource.Read("DropDownEngineers", "Dropdowns"))
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><label for="DepartmentIDs">Departments:</label></td>
                                <td colspan="3">
                                    @(Html.Kendo().MultiSelectFor(mdoel => Model.DepartmentIDs)
                                            .DataValueField("ID")
                                            .DataTextField("Name")
                                            .DataSource(dataSource => dataSource.Read("DropDownDepartments", "Dropdowns"))
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><label for="Note">Note:</label></td>
                                <td colspan="3">@Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Note", @style = "max-width: 741px; width:100%; resize: vertical;" })</td>
                            </tr>
                        </table>
                    </div>
                    @if (!User.IsInRole("Viewer"))
                    {
                        <div class="col-sm-12">
                            <br /><br />
                            <input type="submit" value="Save Changes" class="btn btn-inverse">&nbsp;
                            @if (ViewBag.Saved != null)
                            {
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                                <script>
                                    Refresh();
                                    setTimeout(function () { $(".l_Saved").fadeOut(); }, 2000);
                                </script>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>

</div>