﻿@model JMS.Models.EquipmentViewModel

<br />
@if (!User.IsInRole("Viewer"))
{
<a class="btn btn-xs btn-info" style="margin-bottom: 5px;" href="#" onclick="$('#GridAssets').data('kendoGrid').addRow();">Add Asset</a>
}
@(Html.Kendo().Grid<JMS.Models.EquipmentAssetGridViewModel>()
              .Name("GridAssets")
              .HtmlAttributes(new { style = "min-width: 900px" })
              .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Assets").Empty("No Assets Found")))
              .Columns(columns =>
              {
                  columns.Bound(x => x.ID).Hidden();
                  columns.Bound(x => x.PMNo).Title("PM No").Width("1%");
                  columns.Bound(x => x.Title);
                  columns.Bound(x => x.DrawingNo).Width("1%");
                  columns.Bound(x => x.SerialNo).Width("1%");
                  columns.Bound(x => x.Manufacturer).ClientTemplate("#=Manufacturer.Name#").EditorTemplateName("ManufacturerDropDown");
                  columns.Command(command =>
                  {
                      command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                      command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                  }).Visible(!User.IsInRole("Viewer")).Width("90px");
              })
              //.Sortable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  //.Sort(sort => sort.Add("Timestamp").Descending()) // <-- initial sort expression
                  .Model(model =>
                  {
                      model.Id(x => x.ID);
                      model.Field(x => x.EquipmentID).DefaultValue(Model.ID);
                      model.Field(x => x.Manufacturer).DefaultValue(new JMS.Models.SelectItemViewModel() { ID = Model.ManufacturerID, Name = "" });
                      model.Field(x => x.DrawingNo).DefaultValue(Model.DrawingNo);
                      model.Field(x => x.SerialNo).DefaultValue(Model.SerialNo);
                      model.Field(x => x.Title).DefaultValue(Model.Title);
                  })
                  .Create(create => create.Action("Create", "EquipmentAssetGrid"))
                  .Read(read => read.Action("Read", "EquipmentAssetGrid", new { equipmentID = Model.ID })).PageSize(10)
                  .Update(update => update.Action("Update", "EquipmentAssetGrid"))
                  .Destroy(destroy => destroy.Action("Destroy", "EquipmentAssetGrid"))
              )
              .Events(events => events.DataBound("KendoGridDatabound"))

)