﻿
@{
    ViewBag.Title = "Equipment";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6">
            @if (!User.IsInRole("Viewer"))
            {
                <a class="btn btn-warning" onclick="EditLocations()"><span class=" glyphicon glyphicon-bookmark"></span>&nbsp;Edit Locations</a>
            }
            <a class="btn btn-default" onclick="$('#div_AdvancedSearch').slideDown();"><span class="glyphicon glyphicon-search"></span>&nbsp;Advanced Search</a>
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        
        <div class="col-xs-4">
            <a class="btn btn-default pull-right" onclick="Export()"><span class="glyphicon glyphicon-export"></span>&nbsp;Export</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row" id="div_AdvancedSearch" style="display:none">
        <div class="col-sm-6">
            <label>Locations:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedLocationIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Locations...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownLocations", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-6">
            <label>Designers:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedEngineerIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Designers...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownEngineers", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-12">
        </div>
        <div class="col-sm-6">
            <label>Departments:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedDepartmentIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Departments...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownDepartments", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-6">
            <label>Manufacturers:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedManufacturerIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Manufacturers...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownManufacturers", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-12">
            <br />
            <a class="btn btn-danger" onclick="ClearAdvancedSearch()" style="float:right">Close</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default">
                    <div class="panel-body">
                        @if (!User.IsInRole("Viewer"))
                        {
                            <a class="btn btn-primary" href="#" onclick="NewEquipment(); return false;" style="width:100%; padding:10px"><span class="glyphicon glyphicon-file"></span>&nbsp;New Equipment</a>
                            <hr />
                        }
                        @* Generate Filter buttons based on ViewBags.  *@
                        @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.EquipStatusViewModel>)
                        {
                            <a id="Btn_f@(stat.Name.Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: @(stat.HexColour); border:@(stat.HexColour);"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;@(stat.Name)</a>
                        }
                        <a href="#" style="font-size:x-small" onclick="SelectAll();">Select All</a>
                        <a href="#" style="font-size:x-small; float:right" onclick="SelectNone();">Select None</a>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width: calc(100% - 235px);">
                <div class="pull-right" style=" margin-top: 10px;">
                    @Html.Kendo().CheckBox().Name("ShowPCControlled").Label("PC Controlled").HtmlAttributes(new { @onclick = "Refresh()" })
                    &nbsp;&nbsp;
                    @Html.Kendo().CheckBox().Name("ShowPCNetworked").Label("PC Networked").HtmlAttributes(new { @onclick = "Refresh()" })
                    &nbsp;&nbsp;
                    @Html.Kendo().CheckBox().Name("ShowAlarmInterlock").Label("Alarm Interlock").HtmlAttributes(new { @onclick = "Refresh()" })
                    &nbsp;&nbsp;
                    @Html.Kendo().CheckBox().Name("ShowExtractInterlock").Label("Extract Interlock").HtmlAttributes(new { @onclick = "Refresh()" })
                </div>
                <div class="input-group" style="max-width: 600px; margin-bottom: 5px">
                    @Html.TextBox("TB_EquipmentFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Equip No, Title, or PM No" })
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                @(Html.Kendo().Grid<JMS.Models.EquipmentGridViewModel>()
                                .Name("GridEquipments")
                                .HtmlAttributes(new { style = "min-width: 500px" })
                                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Equipments").Empty("No Equipments Found")))
                                .Columns(columns =>
                                {
                                    columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                                    columns.Bound(u => u.EquipNo).ClientTemplate("<a href='\\#' onclick='EditEquipment(\"#=ID#\"); return false;'>#=EquipNo#</a>").Width("1%");
                                    columns.Bound(u => u.Title).ClientTemplate("#if(Title){#<a href='\\#' onclick='EditEquipment(\"#=ID#\")'>#=Title#</a>#}#");
                                    columns.Bound(u => u.LocationID).Title("Location").ClientTemplate("#=LocationName#").Width("1%");
                                    columns.Bound(u => u.DepartmentName).Title("Department").Encoded(false).Width("1%").Sortable(false);
                                    columns.Bound(u => u.ManufacturerID).Title("Manufacturer").ClientTemplate("#=Manufacturer#").Width("1%");
                                    columns.Bound(u => u.EquipStatusID).Title("Status").ClientTemplate("<label class='label label-primary' style = 'background-color:#=EquipStatus.HexColour#;'>#=EquipStatus.Name#</label>").HtmlAttributes(new { @class = "div-inline" }).Width("1%").HeaderHtmlAttributes(new { @style = "text-align: center;" });
                                    columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick='EditEquipment(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                                    if (ViewBag.DeleteCRM)
                                    {
                                        columns.Command(command =>
                                        {
                                            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                                        }
                                        ).Visible(!User.IsInRole("Viewer")).Width("1%");
                                    }
                                })
                                .Sortable()
                                .Editable(editable => editable.ConfirmDelete("Are you sure you want to delete this Equipment?"))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(t => t.ID);
                                    })
                                    .Read(read => read.Action("Read", "EquipmentGrid").Data("GetSearchInfo")).PageSize(50)
                                    .Update(update => update.Action("Update", "EquipmentGrid"))
                                    .Destroy(destory => destory.Action("Destroy", "EquipmentGrid"))
                                    .Events(events => events.Error("KendoGridErrorHandler"))
                                )
                                .Events(events => events.DataBound("KendoGridDatabound"))
                )
            </div>
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditEquipment" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditEquipment_Body"></div>
    </div>
</div>

<div id="SlideContent_EditLocations" class="panel panel-default" style="z-index: 1130; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    @Html.Partial("_Locations")
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.EquipmentID))
    {
        <text>
        EditEquipment('@ViewBag.EquipmentID');
        </text>
    }

    function Refresh() {
        var grid = $("#GridEquipments").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function ChangeStatus(statusID) {
        switch (statusID) {

            @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.EquipStatusViewModel>)
            {
                <text>

            case @(stat.ID):
                if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) {
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
                }
                else{
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
                }
                $("#Span_f@(stat.Name.Replace(" ", ""))").toggleClass('glyphicon-unchecked glyphicon-check');
                break;
                </text>
            }
        }

        Refresh();
    }

    function SelectAll(){

        @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.EquipStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-check');
            </text>
        }

        Refresh();

    }

    function SelectNone(){

        @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.EquipStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-check');
            </text>
        }

        Refresh();
    }

    function GetSearchInfo() {
        var stats = [];
        @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.EquipStatusViewModel>)
        {
            <text>
            if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) stats.push("@(stat.ID)");
            </text>
        }
        return {
            filterText: $('#TB_EquipmentFilter').val(),
            relatedLocationIDs: $("#relatedLocationIDs").data("kendoMultiSelect").value(),
            relatedEngineerIDs: $("#relatedEngineerIDs").data("kendoMultiSelect").value(),
            relatedDepartmentIDs: $("#relatedDepartmentIDs").data("kendoMultiSelect").value(),
            relatedManufacturerIDs: $("#relatedManufacturerIDs").data("kendoMultiSelect").value(),
            statuses: stats,
            pcControlled: $('#ShowPCControlled').is(':checked'),
            pcNetworked: $('#ShowPCNetworked').is(':checked'),
            alarmInterlock: $('#ShowAlarmInterlock').is(':checked'),
            extractInterlock: $('#ShowExtractInterlock').is(':checked')
        }
    }

    function ClearAdvancedSearch() {
        $("#relatedLocationIDs").data("kendoMultiSelect").value([]);
        $("#relatedEngineerIDs").data("kendoMultiSelect").value([]);
        $("#relatedDepartmentIDs").data("kendoMultiSelect").value([]);
        $('#div_AdvancedSearch').slideToggle();
        Refresh();
    }

    $("#TB_EquipmentFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    $("#TB_ContactFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshContacts();
        //}
    });


    //Below the following functions are used the show/hide the content panels.
    function NewEquipment() {
        $("#EditEquipment_Body").load("@Url.Action("_NewEquipment", "Equipment")");

        $("#SlideContent_EditEquipment").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditEquipment").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function EditEquipment(id) {
        var url = '@Url.Action("_EditEquipment", "Equipment")' + '?ID=' + id;
        $("#EditEquipment_Body").load(url);

        $("#SlideContent_EditEquipment").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditEquipment").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedEquipment(id) {
        var url = '@Url.Action("_EditEquipment", "Equipment")' + '?ID=' + id;
        $("#EditEquipment_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_EditEquipment").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditLocations").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditEquipment").fadeOut();
            $("#SlideContent_EditLocations").fadeOut();
            $("#Button_Close_Content").fadeOut();
        }, 300);

    }

    function EditLocations() {
        var grid = $('#GridLocations').data('kendoGrid');
        grid.dataSource.read();
        $("#SlideContent_EditLocations").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditLocations").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function Export() {

        var args = GetSearchInfo();

        var url = '@Url.Action("Export", "EquipmentGrid")' + '?filterText=' + args.filterText + '&pcControlled=' + args.pcControlled + '&pcNetworked=' + args.pcNetworked + '&alarmInterlock=' + args.alarmInterlock + '&extractInterlock=' + args.extractInterlock;// + args.statuses.toString();

        for (var i = 0; i < args.statuses.length; i++) {
            url += '&statuses=' + args.statuses[i];
        }
        for (var i = 0; i < args.relatedLocationIDs.length; i++) {
            url += '&relatedLocationIDs=' + args.relatedLocationIDs[i];
        }
        for (var i = 0; i < args.relatedEngineerIDs.length; i++) {
            url += '&relatedEngineerIDs=' + args.relatedEngineerIDs[i];
        }
        for (var i = 0; i < args.relatedDepartmentIDs.length; i++) {
            url += '&relatedDepartmentIDs=' + args.relatedDepartmentIDs[i];
        }
        for (var i = 0; i < args.relatedManufacturerIDs.length; i++) {
            url += '&relatedManufacturerIDs=' + args.relatedManufacturerIDs[i];
        }
        window.open(url, "_blank");
    }

</script>


