﻿@model JMS.Models.LineItemInfoViewModel

<div id="div_LineItemInfo" class="form-inline">
    @Html.TextAreaFor(model => model.Description, 2, 100, new { @class = "form-control", @style = "max-width:none; width:100%; padding: 6px 12px;" })<br />

    <table id="table_info_input" style="@((ViewBag.ShowCategory || ViewBag.ShowVendorCode || ViewBag.ShowManufacturer) ? "" : "display:none")">
        <tr id="tr_input_Category" style="@((!ViewBag.ShowCategory) ? "display:none" : "")">
            <td style="width: 80px;"><label>Category:</label></td>
            <td>
                @(Html.Kendo().AutoCompleteFor(model => model.Category)
                            .DataTextField("Name")
                            .Filter(FilterType.Contains)
                            .MinLength(1)
                            .HtmlAttributes(new { style = "width:100%; max-width: 250px; font-size:12px" })
                            .DataSource(source =>
                            {
                                source.Read(read => { read.Action("DropDownProductCategories", "ProductCategories"); });
                            }))
            </td>
        </tr>
        <tr id="tr_input_VendorCode" style="@((!ViewBag.ShowVendorCode) ? "display:none" : "")">
            <td style="width: 80px;"><label>Vendor Code:</label></td>
            <td>@Html.TextBoxFor(model => model.VendorCode, new { @class = "form-control input-sm", @style = "max-width:250px;" })</td>
        </tr>
        <tr id="tr_input_Manufacturer" style="@((!ViewBag.ShowManufacturer) ? "display:none" : "")">
            <td style="width: 80px;"><label>Manfacturer:</label></td>
            <td>@Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control input-sm", @style = "max-width:250px;" })</td>
        </tr>
    </table>
</div>

<style>
    #div_LineItemInfo tr td {
        border-width: 0 0 0 0;
        padding: 1px;
        vertical-align:middle;
        font-size:smaller;
    }
</style>

