﻿
@{
    ViewBag.Title = "World Pay Responses";
}

<div class="row" style="position:absolute; left:0; width:100%; padding:10px">
    <div class="col-sm-12">
        <h2>World Pay Responses</h2>
        <hr />
    </div>
    <div class="col-sm-12">
        <a class="btn btn-default btn-sm" onclick="$('#GridResponses').data('kendoGrid').dataSource.read();"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
    </div>

    <div class="col-sm-12">
        <br />
        @(Html.Kendo().Grid<JMS.Models.WorldPayResponse>()
                .Name("GridResponses")
                .Pageable(p => p.PageSizes(new[] { 100, 200, 500 }).Messages(m => m.Display("{0} - {1} of {2} Responses").Empty("No Responses Found")))
                .Columns(columns =>
                {                    
                    columns.Bound(t => t.Timestamp).Format("{0:HH:mm dd/MM/yy}").Width("1%"); //#,##0
                    columns.Bound(t => t.TestMode);
                    columns.Bound(t => t.InstID);
                    columns.Bound(t => t.CartID);

                    //columns.Bound(t => t.TransID);
                    //columns.Bound(t => t.TransStatus);
                    //columns.Bound(t => t.TransTime).Format("{0:HH:mm dd/MM/yy}").Width("1%");
                    
                    columns.Bound(t => t.FuturePayID);
                    columns.Bound(t => t.FuturePayStatusChange).Title("Stat Change");
                    columns.Bound(t => t.CartID);
                    
                    columns.Bound(t => t.Desc);
                    columns.Bound(t => t.Currency);
                    columns.Bound(t => t.Amount).Format("{0:#,##0.00}");
                    //columns.Bound(t => t.AuthMode);
                    columns.Bound(t => t.TestMode);
                    columns.Bound(t => t.Name);
                    //columns.Bound(t => t.Address1);
                    //columns.Bound(t => t.Postcode);
                    columns.Bound(t => t.Country);

                    //columns.Bound(t => t.Tel);
                    columns.Bound(t => t.Email);                   
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);
                    })
                    //Pass the string in the textbox using the anonymously created function
                    .Read(read => read.Action("Read", "WorldPayResponses")).PageSize(100)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>


