﻿@model JMS.Models.SubscriptionPlanViewModel
@{
    ViewBag.Title = "Edit Subscription Plan";
}

<div id="divEdit" class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Edit Subscription Plan</h2>
            <h4 style="color:grey">@Model.Name (@Model.CompanyName)</h4>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/SuperManagement/EditCompany/@Model.CompanyID"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Company</a>
        </div>
    </div>
    <div class="row">

        
    </div>

        <div class="row">
            <hr />
            @using (Html.BeginForm("Edit", "Subscriptions", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.CompanyID)
                @Html.HiddenFor(model => model.CompanyName)
                @Html.HiddenFor(model => model.Created)
                
                <div class="col-sm-5"> 
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <label>Name:</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <br />

                            <label>Description:</label>
                            @Html.TextAreaFor(model => model.Description, 3, 1, new { @class = "form-control input-sm", @style = "width:100%" })
                            <br />

                            <label>Start Date:</label>
                            @(Html.Kendo().DatePickerFor(model => model.StartDate))
                            <br /><br />

                            <label>End Date:</label>
                            @(Html.Kendo().DatePickerFor(model => model.EndDate))
                            <br /><br />

                            <label>Number of CRM Users:</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.NumberCRM).Decimals(0))
                            <br /><br />

                            <label>Number of Products Users:</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.NumberProducts).Decimals(0))
                            <br /><br />

                            <label>Number of Quotations Users:</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.NumberQuotations).Decimals(0))
                            <br /><br />

                            <label>Number of Jobs Users:</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.NumberJobs).Decimals(0))
                            <br /><br />

                            <label>Number of Invoices Users:</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.NumberInvoices).Decimals(0))
                            <br /><br />

                            <label>Number of Delivery Notes Users:</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.NumberDeliveryNotes).Decimals(0))
                            <br /><br />

                            <label>Number of Purchase Orders Users:</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.NumberPurchaseOrders).Decimals(0))
                            <br /><br />

                            <label>Number of Stock Control Users:</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.NumberStockControl).Decimals(0))
                            <br /><br />
                            
                            <label>Initial Amount (£):</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.InitialAmount).Decimals(2))
                            <br /><br />

                            <label>Regular Amount (£):</label>
                            @(Html.Kendo().NumericTextBoxFor(model => model.RegularAmount).Decimals(2))
                            <br /><br />

                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.Active)
                                &nbsp;<strong>Active</strong>
                            </div>

                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.Trial)
                                &nbsp;<strong>Trial</strong>
                            </div>
                            
                            <hr />

                            <input type="submit" value="Save Changes" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"> 
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <label>FuturePay (Worldpay) Values</label>
                            <span>Add Future Pay values to interact direct with WorldPay Merchant control.</span>
                        </div>
                        <div class="panel-body">
                            <label>Future Pay ID:</label>
                            @(Html.Kendo().TextBoxFor(model => model.FuturePayID))
                            <br /><br />

                            <label>Cart ID (Merchant Ref):</label>
                            @(Html.Kendo().TextBoxFor(model => model.CartID))
                            <hr />
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                        </div>
                    </div>

                </div>
                
            }
        </div>
    </div>
</div>


