﻿
@{
    ViewBag.Title = "Subscriptions";
}

<div class="container">    


    <div class="row">
        
        <div class="col-sm-12">
            <h1>Subscriptions</h1>   
            <hr />
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                @Html.TextBox("TB_Filter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search Name" })                
                <span class="input-group-btn">
                    <a class="btn btn-sm btn-default" onclick="$('#GridPlans').data('kendoGrid').dataSource.read();" ><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>

        </div>

        <div class="col-sm-3">
            <div class="checkbox">
                @Html.CheckBox("CB_Inactive", false, new { @onclick = "Refresh()" })&nbsp;<strong>Show Inactive</strong>
            </div>
        </div>

        <div class="col-sm-5">
            <a class="btn btn-default btn-sm" onclick="$('#GridPlans').data('kendoGrid').dataSource.read();" style="float:right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
        </div>

        

        <div class="col-sm-12">
            <br />
            @(Html.Kendo().Grid<JMS.Models.SubscriptionPlanViewModel>()
                .Name("GridPlans")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Subscriptions").Empty("No Subscriptions Found")))
                .Columns(columns =>
                {
                    columns.Bound(t => t.Name).Title("Company").Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("EditCompany", "SuperManagement") + "/#=CompanyID#'>#=CompanyName#</a>");
                    columns.Bound(t => t.Name);
                    columns.Bound(t => t.Created).Format("{0:dd/MM/yy}").Width("1%");
                    columns.Bound(t => t.StartDate).Format("{0:dd/MM/yy}").Width("1%");
                    columns.Bound(t => t.EndDate).Format("{0:dd/MM/yy}").Width("1%");
                    //columns.Bound(t => t.InitialAmount).Template(@<text></text>).ClientTemplate("£#=kendo.toString(InitialAmount, 'n')#");
                    columns.Bound(t => t.RegularAmount).Template(@<text></text>).ClientTemplate("£#=kendo.toString(RegularAmount, 'n')#").Width("1%");
                    //columns.Bound(t => t.AmountPerUser).Template(@<text></text>).ClientTemplate("£#=kendo.toString(AmountPerUser, 'n')#");

                    columns.Bound(t => t.FuturePayID).Title("FuturePayID").Width("1%");
                    columns.Bound(t => t.CartID).Title("CartID").Width("1%");
                    columns.Bound(t => t.Active).Title("Active").ClientTemplate("#if(Active){# <span class='label label-success'>Yes</span> #} else {# <span class='label label-danger'>No</span> #}#");
                    columns.Bound(t => t.Trial).Title("Trial").ClientTemplate("#if(Trial){# <span class='label label-info'>Trial</span> #}#").Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit", "Subscriptions") + "/#=ID#' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);
                    })
                    //Pass the string in the textbox using the anonymously created function
                    .Read(read => read.Action("Read", "SubscriptionPlans").Data("GetSearchInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>


<script>
    $("#TB_Filter").keyup(function (e) {
        if (e.keyCode == 13) {
            $("#GridPlans").data("kendoGrid").dataSource.read();
        }
    });


    function GetSearchInfo() {

        var SearchValues = {
            filterText: $('#TB_Filter').val(),
            includeInactive: ($("#CB_Inactive").is(':checked')) ? true : false,
        };

        return SearchValues;
    }

</script>

