﻿@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    <div class="footer">
        <div class="container">
            <div class="row" style="padding-top: 18px; vertical-align: middle;">
                <div class="col-xs-4">
                    <a style="color: white;" href="http://www.fruitfulgroup.com" target="_blank" title="Developed by Fruitful Business Services Ltd based in London, UK">
                        &copy; @DateTime.Now.Year - Fruitful Business Services Ltd.
                    </a>
                </div>
                <div id="menu" class="col-xs-8" style="text-align: right; font-size: small;">
                    <ul>
                        <li><a href="/Contact" title="Get in contact with us">Contact Us</a></li>
                        <li><a href="/Terms" title="View our terms of services">Terms of Use</a></li>
                        <li><a href="/Privacy" title="View our privacy policy">Privacy Policy</a></li>
                        <li><a href="/Pricing" title="View out prices">Pricing</a></li>
                        <li class="last"><a href="/Releases" title="Feature set releases">Releases</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

