﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        
        <li>@Html.ActionLink("Manage Companies", "Index", "SuperManagement")</li>
        <li>@Html.ActionLink("Email Settings", "EmailSettings", "SuperManagement")</li>        
        <li class="dropdown">            
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Subscriptions<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>@Html.ActionLink("Subscription List", "Index", "Subscriptions")</li>
                <li>@Html.ActionLink("Price Breaks", "Index", "SubscriptionUserPriceBreaks")</li>
                <li>@Html.ActionLink("Requests", "Index", "SubscriptionRequests")</li>
                <li>@Html.ActionLink("Worldpay Responses", "Index", "WorldPayResponses")</li>
            </ul>
        </li>

        <li>@Html.ActionLink("Switch Back", "SwitchBack", "SuperManagement")</li>
        
    </ul>
    <ul class="nav navbar-nav navbar-right">        
        <li class="dropdown">
            <a class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-expanded="false">
                <img style="max-height: 23px; margin-top: -4px; padding-right: 5px;" src="/Content/cog.png"><span class="caret"></span>
            </a>
            <a class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>@Html.ActionLink("Hello " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li>@Html.ActionLink("Manage User Accounts", "Index", "Users")</li>
                <li role="presentation" class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
