﻿
@{
    ViewBag.Title = "User Management";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>User Management</h1>            
        </div>

        <div class="col-sm-6">
            <br />
            @*<a class="btn btn-info" style="float:right; margin-right:5px;" href="@Url.Action("Index", "UserModules")"><span class="glyphicon glyphicon-briefcase"></span> &nbsp;Assign Modules to Users</a>*@
            @*<a class="btn btn-success" style="float:right; margin-right:5px;" href="@Url.Action("Index", "UserRoles")"><span class="glyphicon glyphicon-wrench"></span> &nbsp;Manage User Roles</a>*@
            @*<a class="btn btn-inverse" style="float:right; margin-right:5px;" href="@Url.Action("Teams")"><span class="fa fa-users"></span> &nbsp;Manage Teams</a>*@

        </div>
        <div class="col-sm-12">
            <hr />
        </div>

        <div class="col-sm-8">
            <a class="btn btn-info" href="@Url.Action("Create")"><span class="glyphicon glyphicon-user"></span> &nbsp;Create New User</a>
        </div>

        <div class="col-sm-4">
            <div class="input-group" style="margin-top:5px;">
                @Html.TextBox("TB_UserFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search Email/Name" })                
                <span class="input-group-btn">
                    <a class="btn btn-sm btn-default" onclick="SearchUsers()" ><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>

        <div class="col-sm-12">
            <br />
            @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                .Name("GridUsers")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.Email).Title("Email");
                    columns.Bound(u => u.FirstName).Title("First Name");
                    columns.Bound(u => u.LastName).Title("Last Name");
                    columns.Bound(u => u.RoleName).Title("Role");
                    columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit") + "/#=ID#' class='btn btn-xs btn-inverse' >Edit</a>").Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("ChangePassword") + "/#=ID#' class='btn btn-xs btn-warning'>Reset Password</a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                    ).Width("1%");                    
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this account?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);                    
                    })
                    //Pass the string in the textbox using the anonymously created function
                    .Read(read => read.Action("Read", "Users").Data("function() { return { filterText: $('#TB_UserFilter').val() }}"))
                    .Destroy(destory => destory.Action("Destroy", "Users"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    html .k-grid tr:hover {
      background: inherit;
      color:inherit;
    }
 
    html .k-grid tr.k-alt:hover {
      background: #f5f5f5;
      color:inherit;
    }

</style>

<script>
    $("#TB_UserFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            SearchUsers();
        //}
    });

    function SearchUsers() {
        var grid = $("#GridUsers").data("kendoGrid");
        grid.dataSource.read();
    }
</script>

