﻿@model JMS.Models.CompanyViewModel
@{
    ViewBag.Title = "Teams";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Teams & Hierarchy</h2>            
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Users/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Users</a>
        </div>
        <div class="col-sm-12">
            <hr />
            @using (Html.BeginForm("Teams", "Users", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                //@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <p>Users can only see items and events assigned to them and their subordinates. Users can only see items and events assigned to them and users at the same level.</p>
                <p style="color:red">Note: Users not added to the hierarchy will not be able to view same items.</p>
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.UseTeams, new { @onclick = "$('#UseHierarchy').prop('checked', false);" })
                    &nbsp;<strong>Use Teams</strong>
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.UseHierarchy, new { @onclick = "$('#UseTeams').prop('checked', false);" })
                    &nbsp;<strong>Use Hierarchy</strong>
                </div>
                
                if (Model.UseHierarchy)
                {
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.AccessSameLevelHierarchy)
                        &nbsp;<strong>Users can access items on the same level</strong>
                    </div>
                }
                <input type="submit" value="Save Settings" class="btn btn-success" />
            }
        </div>
        @if (Model.UseTeams) { 
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-4">
                <div>
                    <a class="btn btn-info btn-sm" onclick="$('#GridTeams').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="fa fa-users"></span>&nbsp;New Team</a>                
                </div>
                @(Html.Kendo().Grid<JMS.Models.TeamViewModel>()
                    .Name("GridTeams")
                    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Teams").Empty("No Teams Added")))
                    .Columns(columns =>
                    {
                        columns.Bound(t => t.Name).Title("Team Name");
                        columns.Command(command =>
                            {
                                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                            }
                        ).Width("90px");
                    })
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
                    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this tag?"))
                    .Sortable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                        .Model(model =>
                        {
                            model.Id(t => t.ID);
                            model.Field(t => t.CompanyID).Editable(false).DefaultValue(Model.ID);
                            model.Field(t => t.ID).Editable(false);                        
                        })
                        .Create(create => create.Action("Create", "Teams"))
                        .Read(read => read.Action("Read", "Teams"))
                        .Update(update => update.Action("Update", "Teams"))
                        .Destroy(destroy => destroy.Action("Destroy", "Teams"))
                    )
                    .Events(events => events.DataBound("KendoGridDatabound").Change("GridOnSelect"))
                )
            </div>
            <div id="EditTeam_Body" class="col-sm-8">
                @Html.Partial("_TeamBlank", "Settings")
            </div>
        }
        else if(Model.UseHierarchy)
        {
            <div class="col-sm-12">
                <hr />
                <label>Add User To Hierarchy:</label>
                <div class="input-group" style="max-width:400px;">
                    @(Html.Kendo().DropDownList().Name("DD_User")
                                .DataTextField("Email")
                                .DataValueField("ID")
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownUsersAll", "Dropdowns"); });
                                })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                    )
                    <span class="input-group-btn">
                        <a class="btn btn-success" href="#" onclick="AddUser(); return false;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add User</a>
                    </span>
                </div>

                <br />
                <div class="panel panel-default">
                    <div class="panel-body">

                        <br />
                        @(Html.Kendo().TreeView()
                            .Name("UserHierarchy")
                            .DragAndDrop(true)
                            .ExpandAll(true)
                            .DataTextField("UserEmail")
                            .Template("<span class='label label-info'>"
                                        + "#if(item.ReportsToID == null){# <span class='glyphicon glyphicon-star-empty'></span> &nbsp; #}#"
                                        + "#= item.UserEmail# &nbsp;&nbsp;"
                                        + "<a href='\\#' onclick='DeleteUser(\"#=item.ID#\")'>"
                                        + "<span class='glyphicon glyphicon-remove'></span>"
                                        + "</a>"
                                        + "</span>")
                            .DataSource(dataSource => dataSource
                                .Model(model => model.Id("ID").HasChildren("HasChildren"))
                                .Read(read => read.Action("Users_Read", "HierarchyMembers"))
                            )
                            .Events(e => e.Drop("OnDragDropUserHierarchy").DataBound("OnDataBoundUserHierarchy"))
                        )
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        </div>
                    </div>
                </div>

        }
    </div>
</div>


<style>
    .k-treeview .k-item {       
        margin: 10px;
    }

    .k-treeview .k-item a {       
        color: white;
    }

    .k-treeview .k-item .label {       
        font-size:medium; 
        cursor: move; 
        vertical-align:central;
        margin:10px;
    }

    .k-state-focused, .k-state-hover {
        box-shadow:none;
    }

    div.k-treeview{
        overflow:visible;
    }

    k-in k-state-selected, .k-state-selected {
        background-color:none;
    }

    .k-icon {
        margin-left:-16px;
    }

    .k-grid tr, .k-grid tr td {
        cursor: pointer;
    }
</style>


<script>

    function GridOnSelect(e) {
        try {
            var data = this.dataItem(this.select());
            var url = '@Url.Action("_TeamMembers")' + '?ID=' + data.id;;
            $("#EditTeam_Body").load(url);
        }
        catch (e) {
            var url = '@Url.Action("_TeamBlank")';
            $("#EditTeam_Body").load(url);
        }
    }

    function RefreshHierarchy() {
        var treeview = $("#UserHierarchy").data("kendoTreeView");
        treeview.dataSource.read();
        KeepScrollPosition();
    }

    function OnDataBoundUserHierarchy(e) {
        $("#UserHierarchy").data("kendoTreeView").expand(".k-item");
    }

    function AddUser() {

        $.ajax({
            url: '@Url.Action("AddUser", "HierarchyMembers")',
            type: 'POST',
            data: { "userId": $("#DD_User").data("kendoDropDownList").value() },
            dataType: "json",
            success: function (data) { RefreshHierarchy(); }
        });
    }

    function OnDragDropUserHierarchy(e) {

        var sourceUid = $(e.sourceNode).data("uid");
        var destinationUid = $(e.destinationNode).data("uid");

        var source = this.dataSource.getByUid(sourceUid);
        var destination = this.dataSource.getByUid(destinationUid);

        $.ajax({
            url: '@Url.Action("SwitchReportToUser", "HierarchyMembers")',
            type: 'POST',
            data: {
                "id": source.id,
                "reportToID": (destination != null) ? destination.id : null,
            },
            dataType: "json",
            success: function (data) { RefreshHierarchy(); }
        });
    }

    function DeleteUser(id) {

        $.ajax({
            url: '@Url.Action("DeleteUser", "HierarchyMembers")',
            type: 'POST',
            data: { "id": id },
            dataType: "json",
            success: function (data) { RefreshHierarchy(); }
        });
    }


    function KeepScrollPosition() {
        $("html, body").animate({ scrollTop: window.pageYOffset }, 100);
    }

</script>

