﻿
@{
    ViewBag.Title = "User Modules";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>User Modules</h1>
            <h4 style="color:grey">Assign users to grant access specific SNAP Suite modules.</h4>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Users/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Users</a>
        </div>

        <div class="col-sm-12">
            <hr />            
        </div>
        
        @if (ViewBag.NumberCRM > 0) 
        { 
            <div class="col-sm-6">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <label>CRM - @(ViewBag.NumberCRM) User Subscription Limit</label>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("DD_UserCRM")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .OptionLabel("  ")
                                .Filter("Contains")
                                .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { CRM = true }); }); })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="AddCRM();">Assign User</button>
                            </div>
                        </div>
                        <br />
                        @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                            .Name("GridCRM")
                            .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                            .Columns(columns =>
                            {
                                //columns.Bound(u => u.FirstName).Title("First Name");
                                //columns.Bound(u => u.LastName).Title("Last Name");
                                columns.Bound(u => u.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveCRM('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.ID).Editable(false);
                                })
                                //.Create(create => create.Action("Create", "UserRoles"))
                                .Read(read => read.Action("Read", "UserModules", new { CRM = true }))
                                //.Update(update => update.Action("Update", "UserRoles"))
                                //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )

                    </div>
                </div>
            </div>
        }

        @if (ViewBag.NumberProducts > 0) 
        { 
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Products - @(ViewBag.NumberProducts) User Subscription Limit</label>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("DD_UserProducts")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .OptionLabel("  ")
                                .Filter("Contains")
                                .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { Products = true }); }); })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="AddProducts();">Assign User</button>
                            </div>
                        </div>
                        <br />
                        @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                            .Name("GridProducts")
                            .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                            .Columns(columns =>
                            {
                                //columns.Bound(u => u.FirstName).Title("First Name");
                                //columns.Bound(u => u.LastName).Title("Last Name");
                                columns.Bound(u => u.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveProducts('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.ID).Editable(false);
                                })
                                //.Create(create => create.Action("Create", "UserRoles"))
                                .Read(read => read.Action("Read", "UserModules", new { Products = true }))
                                //.Update(update => update.Action("Update", "UserRoles"))
                                //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )

                    </div>
                </div>
            </div>
        }

        @if (ViewBag.NumberQuotations > 0) 
        { 
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <label>Quotations - @(ViewBag.NumberQuotations) User Subscription Limit</label>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("DD_UserQuotations")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .OptionLabel("  ")
                                .Filter("Contains")
                                .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { Quotations = true }); }); })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="AddQuotations();">Assign User</button>
                            </div>
                        </div>
                        <br />
                        @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                            .Name("GridQuotations")
                            .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                            .Columns(columns =>
                            {
                                //columns.Bound(u => u.FirstName).Title("First Name");
                                //columns.Bound(u => u.LastName).Title("Last Name");
                                columns.Bound(u => u.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveQuotations('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.ID).Editable(false);
                                })
                                //.Create(create => create.Action("Create", "UserRoles"))
                                .Read(read => read.Action("Read", "UserModules", new { Quotations = true }))
                                //.Update(update => update.Action("Update", "UserRoles"))
                                //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )

                    </div>
                </div>
            </div>
        }
        
        @if (ViewBag.NumberJobs > 0) 
        { 
            <div class="col-sm-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <label>Jobs - @(ViewBag.NumberJobs) User Subscription Limit</label>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("DD_UserJobs")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .OptionLabel("  ")
                                .Filter("Contains")
                                .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { Jobs = true }); }); })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="AddJobs();">Assign User</button>
                            </div>
                        </div>
                        <br />
                        @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                            .Name("GridJobs")
                            .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                            .Columns(columns =>
                            {
                                //columns.Bound(u => u.FirstName).Title("First Name");
                                //columns.Bound(u => u.LastName).Title("Last Name");
                                columns.Bound(u => u.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveJobs('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.ID).Editable(false);
                                })
                                //.Create(create => create.Action("Create", "UserRoles"))
                                .Read(read => read.Action("Read", "UserModules", new { Jobs = true }))
                                //.Update(update => update.Action("Update", "UserRoles"))
                                //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )

                    </div>
                </div>
            </div>
        }

        @if (ViewBag.NumberInvoices > 0) 
        { 
            <div class="col-sm-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <label>Invoices - @(ViewBag.NumberInvoices) User Subscription Limit</label>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("DD_UserInvoices")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .OptionLabel("  ")
                                .Filter("Contains")
                                .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { Invoices = true }); }); })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="AddInvoices();">Assign User</button>
                            </div>
                        </div>
                        <br />
                        @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                            .Name("GridInvoices")
                            .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                            .Columns(columns =>
                            {
                                //columns.Bound(u => u.FirstName).Title("First Name");
                                //columns.Bound(u => u.LastName).Title("Last Name");
                                columns.Bound(u => u.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveInvoices('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.ID).Editable(false);
                                })
                                //.Create(create => create.Action("Create", "UserRoles"))
                                .Read(read => read.Action("Read", "UserModules", new { Invoices = true }))
                                //.Update(update => update.Action("Update", "UserRoles"))
                                //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )

                    </div>
                </div>
            </div>
        }
        
        @if (ViewBag.NumberDeliveryNotes > 0) 
        { 

            <div class="col-sm-6">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <label>Delivery Notes - @(ViewBag.NumberDeliveryNotes) User Subscription Limit</label>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("DD_UserDeliveryNotes")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .OptionLabel("  ")
                                .Filter("Contains")
                                .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { DeliveryNotes = true }); }); })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="AddDeliveryNotes();">Assign User</button>
                            </div>
                        </div>
                        <br />
                        @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                            .Name("GridDeliveryNotes")
                            .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                            .Columns(columns =>
                            {
                                //columns.Bound(u => u.FirstName).Title("First Name");
                                //columns.Bound(u => u.LastName).Title("Last Name");
                                columns.Bound(u => u.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveDeliveryNotes('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.ID).Editable(false);
                                })
                                //.Create(create => create.Action("Create", "UserRoles"))
                                .Read(read => read.Action("Read", "UserModules", new { DeliveryNotes = true }))
                                //.Update(update => update.Action("Update", "UserRoles"))
                                //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )

                    </div>
                </div>
            </div>
            
        }

        @if (ViewBag.NumberPurchaseOrders > 0) 
        { 
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Purchase Orders - @(ViewBag.NumberPurchaseOrders) User Subscription Limit</label>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("DD_UserPurchaseOrders")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .OptionLabel("  ")
                                .Filter("Contains")
                                .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { PurchaseOrders = true }); }); })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="AddPurchaseOrders();">Assign User</button>
                            </div>
                        </div>
                        <br />
                        @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                            .Name("GridPurchaseOrders")
                            .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                            .Columns(columns =>
                            {
                                //columns.Bound(u => u.FirstName).Title("First Name");
                                //columns.Bound(u => u.LastName).Title("Last Name");
                                columns.Bound(u => u.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemovePurchaseOrders('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.ID).Editable(false);
                                })
                                //.Create(create => create.Action("Create", "UserRoles"))
                                .Read(read => read.Action("Read", "UserModules", new { PurchaseOrders = true }))
                                //.Update(update => update.Action("Update", "UserRoles"))
                                //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )

                    </div>
                </div>
            </div>
        }
        
        @if (ViewBag.NumberStockControl > 0) 
        { 

            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <label>Stock Control - @(ViewBag.NumberStockControl) User Subscription Limit</label>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            @(Html.Kendo().DropDownList().Name("DD_UserStockControl")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .OptionLabel("  ")
                                .Filter("Contains")
                                .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { StockControl = true }); }); })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="AddStockControl();">Assign User</button>
                            </div>
                        </div>
                        <br />
                        @(Html.Kendo().Grid<JMS.Models.UserViewModel>()
                            .Name("GridStockControl")
                            .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                            .Columns(columns =>
                            {
                                //columns.Bound(u => u.FirstName).Title("First Name");
                                //columns.Bound(u => u.LastName).Title("Last Name");
                                columns.Bound(u => u.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveStockControl('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.ID).Editable(false);
                                })
                                //.Create(create => create.Action("Create", "UserRoles"))
                                .Read(read => read.Action("Read", "UserModules", new { StockControl = true }))
                                //.Update(update => update.Action("Update", "UserRoles"))
                                //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )

                    </div>
                </div>
            </div>
            
        }

    </div>
</div>

<script>

    function Refresh() {
        $('[id*="Grid"]').each(function () {
            $(this).data('kendoGrid').dataSource.read();
        });

       
        $('[id*="DD_User"]').each(function () {
            $(this).data('kendoDropDownList').dataSource.read();
        }); 
        
    }

    function AddCRM() { var userId = $("#DD_UserCRM").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, true, false, false, false, false, false, false, false); }
    function AddProducts(userId) { var userId = $("#DD_UserProducts").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, false, true, false, false, false, false, false, false); }
    function AddQuotations(userId) { var userId = $("#DD_UserQuotations").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, false, false, true, false, false, false, false, false); }
    function AddJobs(userId) { var userId = $("#DD_UserJobs").data("kendoDropDownList").value(); AddRemoveUserModule(userId, false, false, false, false, true, false, false, false, false); }
    function AddInvoices(userId) { var userId = $("#DD_UserInvoices").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, false, false, false, false, true, false, false, false); }
    function AddDeliveryNotes(userId) { var userId = $("#DD_UserDeliveryNotes").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, false, false, false, false, false, true, false, false); }
    function AddPurchaseOrders(userId) { var userId = $("#DD_UserPurchaseOrders").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, false, false, false, false, false, false, true, false); }
    function AddStockControl(userId) { var userId = $("#DD_UserStockControl").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, false, false, false, false, false, false, false, true); }


    function RemoveCRM(userId) { AddRemoveUserModule(userId, false, true, false, false, false, false, false, false, false); }
    function RemoveProducts(userId) { AddRemoveUserModule(userId, false, false, true, false, false, false, false, false, false); }
    function RemoveQuotations(userId) { AddRemoveUserModule(userId, false, false, false, true, false, false, false, false, false); }
    function RemoveJobs(userId) { AddRemoveUserModule(userId, false, false, false, false, true, false, false, false, false); }
    function RemoveInvoices(userId) { AddRemoveUserModule(userId, false, false, false, false, false, true, false, false, false); }
    function RemoveDeliveryNotes(userId) { AddRemoveUserModule(userId, false, false, false, false, false, false, true, false, false); }
    function RemovePurchaseOrders(userId) { AddRemoveUserModule(userId, false, false, false, false, false, false, false, true, false); }
    function RemoveStockControl(userId) { AddRemoveUserModule(userId, false, false, false, false, false, false, false, false, true); }


    function AddRemoveUserModule(userId, addRemove, crm, products, quotations, jobs, invoices, deliveryNotes, purchaseOrders, stockContol)
    {
        var url = (addRemove == true) ? '/UserModules/_AddUser' : '/UserModules/_RemoveUser';

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                userId: userId,
                CRM: crm,
                Products: products,
                Quotations: quotations,
                Jobs: jobs,
                Invoices: invoices,
                DeliveryNotes: deliveryNotes,
                PurchaseOrders: purchaseOrders,
                StockControl: stockContol,
            },
            dataType: "json",
            success: function (data) { Refresh(); },
        });
    }

</script>