﻿@model JMS.Models.CompanyViewModel
@{
    ViewBag.Title = "Business";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">                    
                    <h3>Your Business Details</h3>     
                    <hr />
                    @using (Html.BeginForm("Business", "Settings", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "BusinessForm" }))
                    {            
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID)                
                        <input type="hidden" id="LogoImageURL" name="LogoImageURL" value="@Model.LogoImageURL" />
                        <input type="hidden" id="ScreenLogoImageURL" name="ScreenLogoImageURL" value="@Model.ScreenLogoImageURL" />
               
                        <label>Company Logo for Documents:</label><br />
                        if (Model.LogoImageURL != null)
                        {
                            <a id="productImage_link" class="fancybox-media" target="_blank" href="@Model.LogoImageURL" title="@Model.Name">
                                <img id="productImage" src="@Model.LogoImageURL" style="max-height:100px; max-width:500px" />
                            </a>
                            <br />
                            <br />
                            <input class="btn btn-xs btn-danger" type="submit" name="Remove" value="Remove Logo" onclick="return confirm('Are you sure you want to remove this logo?');" />
                        }
                        else
                        {
                            <div class="input-group" style="max-width:90%;">                        
                                <input id="logoImage" type="file" name="logoImage" accept="image/*" class="form-control" />
                                <div class="input-group-btn">
                                    <input type="submit" value="Upload Logo" class="btn btn-success" />
                                </div>
                            </div>

                        }
                        <hr />
                        <table style="width:100%">
                            <tr>
                                <td style="width:140px;"><label>Business Name:</label></td>
                                <td>@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</td>
                            </tr>
                            <tr>
                                <td><label>Motto:</label></td>
                                <td>@Html.TextBoxFor(model => model.Motto, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Address Line 1:</label></td>
                                <td>@Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Address Line 2:</label></td>
                                <td>@Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Address Line 3:</label></td>
                                <td>@Html.TextBoxFor(model => model.Address3, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Town:</label></td>
                                <td>@Html.TextBoxFor(model => model.Town, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>County:</label></td>
                                <td>@Html.TextBoxFor(model => model.County, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Country:</label></td>
                                <td>@Html.TextBoxFor(model => model.Country, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Postcode:</label></td>
                                <td>@Html.TextBoxFor(model => model.Postcode, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Telephone:</label></td>
                                <td>@Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Mobile:</label></td>
                                <td>@Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Email:</label></td>
                                <td>@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Website:</label></td>
                                <td>@Html.TextBoxFor(model => model.Website, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Fax:</label></td>
                                <td>@Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>VAT Number:</label></td>
                                <td>@Html.TextBoxFor(model => model.VatNumber, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Company Registration Number:</label></td>
                                <td>@Html.TextBoxFor(model => model.RegNumber, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><label>Default VAT Rate %:</label></td>
                                <td>@Html.Kendo().NumericTextBoxFor(model => model.DefaultVatRate).Decimals(2)</td>
                            </tr>
                            <tr>
                                <td><label>Default Currency:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.DefaultCurrencyID)
                                        .DataTextField("Name").DataValueField("ID")
                                        .DataSource(source =>
                                        {
                                            source.Read(read => { read.Action("DropDownCurrencies", "Dropdowns"); });
                                        })
                                        .Value(Model.DefaultCurrencyID.ToString())
                                        .AutoBind(true)
                                    )
                                </td>
                            </tr>                    
                        </table>
                        <hr />
                        <input type="submit" value="Save Business Details" class="btn btn-success" />
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-6">  
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Theme Settings</h3>
                    <hr />
                    @using (Html.BeginForm("Theme", "Settings", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "ThemeForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <label>Theme Colour:</label><br />
                        <p>Select the main colour for your SNAP Suite experirence. Once you pick a colour, it will be applied to every screen and will be visisble to you or anyone in you business is logged in.</p>
                        @Html.Kendo().ColorPickerFor(m => m.ThemeColor).Events(events => events.Select("OnSelectColorPicker").Close("OnCloseColorPicker").Change("OnChangeColorPicker"))
                        <input class="btn btn-xs btn-danger" type="submit" name="restColor" value="Reset Colour" onclick="return confirm('Are you sure you want to reset the theme colour?');" />
                        <hr />

                        <label>Company Logo for Screens:</label><br />
                        <p>Upload your own business logo that will appear on the top left corner of the navigation bar.</p>
                        if (Model.ScreenLogoImageURL != null)
                        {
                            <a id="productImage_link" class="fancybox-media" target="_blank" href="@Model.ScreenLogoImageURL" title="@Model.Name">
                                <img id="themeImage" src="@Model.ScreenLogoImageURL" style="max-height:100px; max-width:500px" />
                            </a>
                            <br />
                            <br />
                            <input class="btn btn-xs btn-danger" type="submit" name="RemoveScreenLogo" value="Remove Logo" onclick="return confirm('Are you sure you want to remove this logo?');"/>
                        }
                        else
                        {
                            <label>Upload:</label><br />
                            <div class="input-group" style="max-width:90%;">
                                <input id="screenLogoImage" class="form-control" type="file" name="screenlogoImage" accept="image/*" />
                                <div class="input-group-btn">
                                    <input type="submit" value="Upload Logo" class="btn btn-success" />
                                </div>
                            </div>                            
                        }
                        <br /><br />
                        <hr />
                        <input type="submit" value="Save Theme Settings" class="btn btn-success" />
                    }
                </div>
            </div>
        </div>        

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Delivery Addresses</h3>
                    <hr />
                    <div>
                        <a class="btn btn-info btn-sm" onclick="$('#GridAddresses').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Add New Address</a>
                    </div>
                    @(Html.Kendo().Grid<JMS.Models.CompanyAddressViewModel>()
                        .Name("GridAddresses")
                        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Addresses").Empty("No Addresses Added")))
                        .Columns(columns =>
                        {
                            columns.Bound(t => t.Name).Title("Business Name");
                            columns.Bound(t => t.Address1).Title("Address 1");
                            //columns.Bound(t => t.Address2).Title("Address 2");
                            //columns.Bound(t => t.Address3).Title("Address 3");
                            columns.Bound(t => t.Town).Title("Town");
                            columns.Bound(t => t.Postcode).Title("Postcode");
                            //columns.Bound(t => t.Country).Title("Country");
                            //columns.Bound(t => t.Telephone).Title("Telephone");
                            //columns.Bound(t => t.Mobile).Title("Mobile");
                            //columns.Bound(t => t.Email).Title("Email");
                            columns.Command(command =>
                            {
                                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                            }
                            ).Width("90px");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CompanyAddressViewModel").ConfirmDelete("Are you sure you want to delete this address?"))
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                                model.Field(t => t.ID).Editable(false);
                                model.Field(t => t.CompanyID).Editable(false).DefaultValue(Model.ID);
                            })
                            .Create(create => create.Action("Create", "CompanyAddresses", new { companyID = Model.ID }))
                            .Read(read => read.Action("Read", "CompanyAddresses", new { companyID = Model.ID }))
                            .Update(update => update.Action("Update", "CompanyAddresses", new { companyID = Model.ID }))
                            .Destroy(destroy => destroy.Action("Destroy", "CompanyAddresses", new { companyID = Model.ID }))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                    )
                </div>
            </div>            
        </div>
    </div>
</div>

<style>
    th, td {
        padding: 2px;       
    }

    .form-control{
        max-width:none;
        width:90%;
    }
</style>

<script>
    function OnSelectColorPicker(e) {
        var color = e.value;
        $('.navbar').css('background-color', color);
        $('.footer').css('background-color', color);
    }
    function OnCloseColorPicker(e) {
        var color = $('#ThemeColor').data('kendoColorPicker').value();
        $('.navbar').css('background-color', color);
        $('.footer').css('background-color', color);
    }
    function OnChangeColorPicker(e) {
        $('#ThemeForm').submit();
    }
</script>