﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.btn-background {

    position: fixed; 
    overflow:no-display; 
    margin: 0; 
    top: 0; 
    bottom:0; 
    right: 0; 
    left:0;
    min-height: 100%; 
    min-width: 100%;
    background-color:black;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}


.div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }


html,body {
    margin:0;
	padding:0;
	height:100%;
}


.wrapper{
    min-height:100%; 
    position:relative;
}

.header{
    padding:25px;
}

.content{
    padding-top:10px;
    padding-bottom:70px; 
    /*height:calc(100% - 160px);*/
}

.footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #4883ba;
    border: 1px solid transparent;
    border-color: #cccccc;
    border-width: 1px 0 0 0;
}


.container{
    width:inherit;
    max-width:1700px;
}

.footer ul{
  list-style: none; 
  margin-left:-40px;
  color:white;
}

.footer ul a:link {
    color:white;
}

.footer ul a:visited { 
     color:white;
}

.footer li { 
    display: inline;
    color:white;
}

.footer li + li::before {
    content: " • ";
    padding: 0 6px;
    color: white; 
}

.white-text {
    color:white;
}


/* Customise the appearance of the 'No Data Template' for Kendo Dropdownlists */
.k-list-container .k-nodata {
    color: #888;
    margin: 5px 3px;
    text-align: center;
}


.img-display {
    display:block; 
    margin-left: auto; 
    margin-right: auto;
}

.cookie-message {
    z-index:1000;
    width:100%;
    background-color:gold;
    position:fixed;
    bottom:0%;
    padding-bottom:10px;
    font-size:small;
}


.showme {
    display: none;
}

.showhim:hover .showme {
    display: block;
}

.modal-backdrop {
    z-index: 2050 !important;
}

.modal {
    z-index: 2051 !important;
}

tr.spacer {
    height: 10px;
}