﻿.footer {
    background-color: #6e5097;!important;
}

a {
    color: #6e5097;
}

a:hover, a:focus {
    color: #5a417c;
}

a {
    color: #6e5097;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #6e5097;
}

.text-primary {
    color: #6e5097;
}

.bg-primary {
    background-color: #6e5097;
}

.form-control:focus {
    border-color: #6e5097;
}

.btn-clear {
    color: #6e5097;
}

.btn-a {
    color: #6e5097;
}

.btn-primary {
    background-color: #6e5097;
    border-color: #6e5097;
}

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #6e5097;
        border-color: #6e5097;
    }

    .btn-primary .badge {
        color: #6e5097;
    }

.btn-link {
    color: #6e5097;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #6e5097;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #6e5097;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #6e5097;
}

.navbar-inverse {
    background-color: #6e5097;
}

.navbar-inverse .navbar-toggle {
    border-color: #6e5097;
}

.pagination > li > a,
.pagination > li > span {
    color: #6e5097;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #6e5097;
    border-color: #6e5097;
}

.label-primary {
    background-color: #6e5097;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #6e5097;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #6e5097;
}

.progress-bar {
    background-color: #6e5097;
}

a.list-group-item.active:focus {
    background-color: #6e5097;
    border-color: #6e5097;
}

.panel-primary {
    border-color: #6e5097;
}

    .panel-primary > .panel-heading {
        background-color: #6e5097;
        border-color: #6e5097;
    }

        .panel-primary > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #6e5097;
        }

    .panel-primary > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #6e5097;
    }

/* DARK  */

a:focus {
    color: #5a417c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #5a417c;
    border-color: #5a417c;
}

.btn-link:hover,
.btn-link:focus {
    color: #5a417c;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #5a417c;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #5a417c;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #5a417c;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #5a417c;
}


/* Kendo */

.ktb-var-accent {
    color: #6e5097;
}

.ktb-var-selected-background {
    color: #6e5097;
}

.ktb-var-series-a {
    color: #6e5097;
}

.k-nav-current.k-state-hover .k-link {
    color: #6e5097;
}

.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
    border-color: #6e5097;
}

.k-button:active,
.k-button.k-state-active {
    border-color: #6e5097;
}

html .k-mediaplayer-toolbar .k-button-bare:active,
html .k-mediaplayer-toolbar .k-button-bare.k-state-active,
html .k-mediaplayer-toolbar .k-button-bare.k-state-active:hover {
    color: #6e5097;
}

.k-calendar .k-today.k-state-selected {
    background-color: #6e5097;
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
    background-color: #6e5097;
    border-color: #6e5097;
}

.k-popup .k-list .k-state-focused {
    box-shadow: inset 0 0 2px 0 #6e5097, inset 0 0 7px 0 #9074b5;
}

.k-slider-selection {
    background-color: #6e5097;
}

.k-upload .k-upload-selected {
    color: #6e5097;
}

    .k-upload .k-upload-selected:hover {
        background-color: #6e5097;
    }

.k-tiles li.k-state-selected {
    border-color: #6e5097;
}

.k-editor-inline ::selection {
    background-color: #6e5097;
}

.k-editor-inline ::-moz-selection {
    background-color: #6e5097;
}

.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
    background-color: #6e5097;
}

.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
    border-color: #6e5097;
    background: #6e5097;
}

.k-state-selected.k-task-single {
    border-color: #6e5097;
}

.k-state-selected.k-line {
    background-color: #6e5097;
    color: #6e5097;
}

.km-pane-wrapper .k-mobile-list .k-item.k-state-selected {
    background-color: #6e5097;
    border-top-color: #6e5097;
}

.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
    color: #6e5097;
}

.k-primary,
.k-overflow-container .k-primary {
    border-color: #5a417c;
    background-color: #6e5097;
}

.k-checkbox:checked + .k-checkbox-label:before {
    color: #6e5097;
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
    background-color: #6e5097;
}

.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
    border-color: #6e5097;
    background-color: #6e5097;
}

.k-radio:checked + .k-radio-label:after {
    background-color: #6e5097;
}

.k-radio:disabled:checked + .k-radio-label:after {
    background-color: #6e5097;
}

.k-widget.k-treeview {
    color: #6e5097;
}

.k-treeview .k-in.k-state-hover {
    color: #6e5097;
}

.k-tabstrip-items .k-state-hover .k-link {
    color: #6e5097;
}

.k-multiselect .k-button {
    border-color: #5a417c;
    background-color: #6e5097;
}

.k-menu .k-item > .k-state-border-right,
.k-menu .k-item > .k-state-border-left {
    background-color: #6e5097;
}

.k-menu .k-state-selected > .k-link {
    background-color: #6e5097;
    border-color: #6e5097;
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
    border-color: #6e5097;
}

.k-pager-wrap .k-link:hover {
    color: #6e5097;
}

.k-spreadsheet-pane .k-filter-range {
    border-color: #6e5097;
}

.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
    border-bottom-color: #6e5097;
}

.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
    border-right-color: #6e5097;
}

.k-auto-fill,
.k-spreadsheet-selection {
    border-color: #6e5097;
    box-shadow: inset 0 0 0 1px #ffffff, 0 0 0 1px #6e5097;
}

.k-spreadsheet-active-cell {
    border-color: #6e5097 !important;
    background-color: #ffffff;
}

.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
    background-color: #6e5097;
}

.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
    background-color: #6e5097;
}

.k-spreadsheet .k-single-selection::after {
    background-color: #6e5097;
}

.k-spreadsheet-filter.k-state-active {
    background-color: #6e5097;
}

.k-spreadsheet-window .k-edit-field > input[type="radio"]:checked + .k-orientation-label {
    background-color: #6e5097;
    color: #ffffff;
}

.k-spreadsheet-popup .k-state-active {
    background-color: #6e5097;
}

.k-series-a {
    border-color: #6e5097;
}

.k-spreadsheet-formula-list .k-state-focused {
    background-color: #6e5097;
}


