﻿
.banner-image {
    max-height: 600px; 
    min-height: 400px; 
    width: 100%; 
    height:auto;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.banner-image2 {

    position: relative;
    padding-bottom: 25%;
    height: 0;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.banner-image3 {
    
    padding-bottom: 25%;
    height: 100%;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.title-background{
    background-color: #4883ba;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top:30px;
    padding-bottom:30px;
}

.services-background{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top:20px;
    padding-bottom:20px;
}

.backgroundHome{
    background-image: url("/Content/homebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.white-text{
     color:white;
}

.green-text{
     color:#b1e665;
}

.background2{
    padding-top:30px;
    padding-bottom:50px;
    text-align: center; 
    background-color: #4883ba;
    color:white;
}

.background3{
    padding-top:30px;
    padding-bottom:50px;
    text-align: center; 
    background-color: #8FBC51;
    color:white;
}

.videoWrapper {
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 35px;
	left: 35px;
	width: calc(100% - 70px);
	height: calc(100% - 70px);
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

strong, .strong {
    font-weight: 600;
}

b, .b{
    font-weight: 700;
}

label {
    font-weight: 600;
}

.email-open {
    color:green;
    float:right;
}

.div-inline {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    align-items: center;
}

.k-widget > btn {
    box-sizing : border-box;
}


.form-table table tr th, .form-table table tr td {
    padding: 2px;
    vertical-align:middle;
}

.form-table table {
    width:100%;
}


.cookie-message {
    z-index:1000;
    width:100%;
    background-color:gold;
    position:fixed;
    bottom:0%;
    padding-bottom:10px;
    font-size:small;
}


.edit-message {
    left: 20%;
    right: 20%;
    position: fixed;
    z-index: 3000;
}

.edit-message-container {
    max-width: 800px;
    width: 100%;
}

.glyphicon-navbutton {
    line-height: normal;
    font-size: x-large;
    margin-top: -10px;
    margin-bottom: -10px;
    top: 5px;
}

#div_AdvancedSearch .k-multiselect.advanced-multiselect {
    display: inline-block;
}

#div_AdvancedSearch label {
    width: 20%;
    vertical-align: top;
}