﻿@*@model JMS.Models.AddLabourViewModel*@


<script>

    function RefreshAddLabour() {
        $("#GridAddLabour").data("kendoGrid").dataSource.read();
    }


    function AddLabourInfo() {
        return {
            filterText: $('#TB_LabourFilter').val(),
        }
    }


    function AddLabourToOrder(labID) {
        AddLabourItem(labID, $("input[id='" + labID + "_Qty']").val());
    }

</script>


<br />
<div class="row">   
    <div class="col-xs-9">
        <h2>Labour List</h2>       
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div>  
    <div class="col-xs-8">
        <div class="input-group">
            @Html.TextBox("TB_LabourFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Description" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshAddLabour(); return false;"><span class="glyphicon glyphicon-search"></span></a>
            </span>
        </div>
        <script>
            $("#TB_LabourFilter").keyup(function (e) {
                //if (e.keyCode == 13) {
                RefreshAddLabour();
                //}
            });
        </script>
    </div>

    <div class="col-xs-12">
        <hr />
        @(Html.Kendo().Grid<JMS.Models.LabourViewModel>()
                .Name("GridAddLabour")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Labour").Empty("No Labour Found")))
                .Columns(columns =>
                {   
                    columns.Bound(u => u.Description).Title("Description").Width("50%");                    
                    columns.Bound(u => u.HourlyRate).Title("Hourly Rate").Template(@<text></text>).ClientTemplate("<div class='div-inline'>#=Currency.Symbol# #=HourlyRate#</div>").Sortable(false);
                    columns.Bound(u => u.ID).Title("Add Hours").Template(@<text></text>).ClientTemplate("<input id='#=ID#_Qty' type='number' step='any' style='width:75px; text-align:center;' value='1'>");
                    columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-inverse btn-xs' onclick='AddLabourToOrder(\"#=ID#\"); return false;'>Add</a>"); 

                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Read", "Labour").Data("AddLabourInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )

        <br />
        <br />

        @if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
        {
            <hr />
            <a href="#" onclick="EditLabourOptions()" style="float:right">Edit Labour Options</a>
        }
    </div>

</div>


