﻿@model JMS.Models.ProductViewModel

<script>
        function OnAddProductFromLineItemSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                HideViews();
                RefreshAddProducts();
                alert("Product added to Products List");
            }
        }
</script>

<div id="divNewProduct" >
        
    @using (Ajax.BeginForm("_AddProductFromLineItem", "Products", null, new AjaxOptions { UpdateTargetId = "divNewProduct", OnSuccess = "OnAddProductFromLineItemSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()        
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.DetailedDescription)
        @Html.HiddenFor(model => model.IsKit)
        @Html.HiddenFor(model => model.IsBought)
        @Html.HiddenFor(model => model.UsePriceBreaks)
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-9">
                        <h3>New Product</h3>
                    </div>
                    <div class="col-xs-3">
                        <br />
                        <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                    </div>
                </div>
                <div class="row form-table">   
                    <div class="col-sm-12">
                        <hr />
                        <label>Description:</label>
                        @Html.TextAreaFor(model => model.Description, 2, 100, new { @class = "form-control", @placeholder = "Enter Description ", @style = "width:100%; max-width:none; margin-bottom:10px;" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                   
                        <table>
                            <tr>
                                <td style="width:100px"><label>Product Code:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control", @placeholder = "Enter Product Code" })
                                    @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label>Category:</label></td>
                                <td>
                                @(Html.Kendo().AutoCompleteFor(model => model.Category)
                                        .DataTextField("Name")
                                        .Filter(FilterType.Contains)
                                        .MinLength(1)
                                        .HtmlAttributes(new { style = "width:100%; max-width: 280px;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read => { read.Action("DropDownProductCategories", "ProductCategories"); });
                                        }))
                                </td>
                            </tr>
                            <tr>
                                <td><label>Type Unit:</label></td>
                                <td>@Html.TextBoxFor(model => model.Unit, new { @class = "form-control", @placeholder = "e.g kgs, mm" })</td>
                            </tr>
                            
                            <tr>
                                <td><label>Vendor Code:</label></td>
                                <td>@Html.TextBoxFor(model => model.VendorCode, new { @class = "form-control", @placeholder = "Optional" })</td>
                            </tr>
                            <tr>
                                <td><label>Manufacturer:</label></td>
                                <td>@Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control", @placeholder = "Optional" })</td>
                            </tr>  
                            @if ((Model.IsKit && !Model.UseKitPrice) || (Model.UsePriceBreaks))
                            {
                                @Html.HiddenFor(model => model.CurrencyID)
                                @Html.HiddenFor(model => model.Price)
                                @Html.HiddenFor(model => model.Cost)
                            }
                            else
                            {
                                <tr>
                                    <td><label>Currency:</label></td>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(model => model.CurrencyID)
                                            .Name("DD_Currency2")
                                            .DataTextField("Name").DataValueField("ID")
                                            .DataSource(source =>
                                            {
                                                source.Read(read => { read.Action("DropDownCurrencies", "Dropdowns"); });
                                            })
                                            .Value(Model.CurrencyID.ToString())
                                            .AutoBind(true)
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Price:</label></td>
                                    <td>@Html.Kendo().NumericTextBoxFor(model => model.Price).Decimals(2)</td>
                                </tr>
                                <tr>
                                    <td><label>Cost:</label></td>
                                    <td>@Html.Kendo().NumericTextBoxFor(model => model.Cost).Decimals(2)</td>
                                </tr>
                            }      
                            <tr>
                                <td><label>VAT Rate (%):</label></td>
                                <td>@Html.Kendo().NumericTextBoxFor(model => model.VAT).Decimals(2)</td>
                            </tr>                       
                        </table>
                    </div> 
                    @if (ViewBag.EditProducts)
                    {
                        <div class="col-sm-12">
                            <br /><br />
                            <input type="submit" value="Add Product" class="btn btn-inverse">
                        </div>
                    }
                </div>

            </div>
        </div>
    }
</div>
