﻿@using Microsoft.AspNet.Identity
@*@if (!Request.IsAuthenticated)
{*@
    <div class="footer">
        <div class="container">
            <div class="row" style="padding-top: 18px; vertical-align: middle;">
                @if (ViewBag.NoNavBar != null)
                {
                }
                else
                {<text>
                <div class="col-xs-4">
                    @*@if (ViewBag.ScreenLogoImageURL != null)
                    {
                        <text>
                            <a href="https://snap-suite.com" target="_blank"><img style="max-height: 20px; margin-top: -0px; padding-right: 0px;" src="/Content/logos/snapsuite_white300px.png"></a>
                        </text>
                    }*@
                    <a href="http://www.fruitfulgroup.com" target="_blank" title="Developed by Fruitful Business Services Ltd based in London, UK">
                        &copy; @DateTime.Now.Year - Fruitful Business Services Ltd.
                    </a>
                </div>
                <div id="menu" class="col-xs-8" style="text-align: right; font-size: small;">
                    <ul>
                        @*<li><a href="https://snap-suite.com/Contact" title="Contact Us" target="_blank">Contact Us</a></li>
                        <li><a href="https://snap-suite.com/Terms" title="View our terms of services" target="_blank">Terms of Use</a></li>
                        <li><a href="https://snap-suite.com/Privacy" title="View our privacy policy" target="_blank">Privacy Policy</a></li>
                        <li><a href="https://snap-suite.com/CookiePolicy" title="View our privacy policy" target="_blank">Cookie Policy</a></li>
                        <li><a href="https://snap-suite.com/Help" title="View our help section" target="_blank">Help</a></li>
                        <li class="last"><a href="https://blog.snap-suite.com/" title="View our blog" target="_blank">Blog</a></li>*@
                    </ul>
                </div>
                </text>
                }
            </div>
        </div>
    </div>
@*}*@

