﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            @*<li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>*@
            <li>@Html.ActionLink("Jobs", "Index", "Jobs")</li>
            <li>@Html.ActionLink("Purchases", "Index", "Purchases")</li>
            <li>@Html.ActionLink("Equipment", "Index", "Equipment")</li>
            <li>@Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
            <li>@Html.ActionLink("Requestors", "Index", "Requestors")</li>
            <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
            <li>@Html.ActionLink("Engineers", "Index", "Engineers")</li>
            <li>@Html.ActionLink("Manufacturers", "Index", "Manufacturers")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Departments", "Departments", "Reports")</li>
                    <li>@Html.ActionLink("Suppliers", "Suppliers", "Reports")</li>
                    <li>@Html.ActionLink("Jobs", "Jobs", "Reports")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Statistics", "Index", "Statistics")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">        
            <li class="dropdown">
                <a class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-expanded="false">
                    @*<img style="max-height: 23px; margin-top: -4px; padding-right: 5px;" src="/Content/cog.png">*@
                    <span class="glyphicon glyphicon-cog glyphicon-navbutton"></span>
                    <span class="caret"></span>
                </a>
                <a class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>@Html.ActionLink("Hello " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                    {
                    <li role="presentation" class="divider"></li>
                    <li>@Html.ActionLink("Manage User Accounts", "Index", "Users")</li>
                    }
                    <li role="presentation" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else if (ViewBag.NoNavBar != null)
{
    
}
else
{
    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Pricing", "Pricing", "Home")</li>*@
        @*<li><a href="https://snap-suite.com/" target="_blank">Learn More</a></li>
        <li><a href="https://snap-suite.com/Contact" target="_blank">Contact Us</a></li>*@
        @*<li>@Html.ActionLink("About Us", "About", "Home")</li>*@
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<style>
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

    .caret-right {
        margin-top: 5px;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid;
        display: inline-block;
        height: 0;
        opacity: 1;
        vertical-align: top;
        width: 0;
    }
</style>

<script>
$(document).ready(function(){
  $('.dropdown-submenu a.submenu-stockcontrol').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>