﻿@model JMS.Models.DepartmentViewModel

<div id="divEditDepartment">
     <script> $("divEditDepartment").submit(function (e) { e.preventDefault(e); }); </script>
    
    <div class="row form-table" style="margin-left:5px; margin-right:5px;">
        <div class="col-sm-12">
            @using (Ajax.BeginForm((ViewBag.EditCRM) ? "_EditDepartmentDetails" : "", "Departments", new AjaxOptions { UpdateTargetId = "divEditDepartment" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Deleted)
                @Html.HiddenFor(model => model.RefID)
                <div id="div_Body" class="row">
                    <div class="col-xs-9">
                        <h2>Edit Department</h2>
                    </div>
                    <div class="col-xs-3">
                        <br />
                        <div style="float:right;">
                            @if (!User.IsInRole("Viewer"))
                            {
                                <text>
                                <input type="submit" value="Save Changes" class="btn btn-sm btn-inverse">&nbsp;
                                </text> 
                            }
                            <a class="btn btn-sm btn-default" onclick="HideViews()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                            @if (ViewBag.Saved != null)
                            {
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                    <div class="col-sm-4">
                        <table>
                            <tr>
                                <td style="width:80px;"><label>Name:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Supplier Name", @style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td style="width:80px;"><label>Code:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "Department Code", @style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td style="width:80px;"><label>Contact:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.Contact, new { @class = "form-control", @placeholder = "Contact", @style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    @if (!User.IsInRole("Viewer"))
                    {
                    <div class="col-sm-12">
                        <br /><br />
                        <input type="submit" value="Save Changes" class="btn btn-inverse">&nbsp;
                        @if (ViewBag.Saved != null)
                        {
                            <label class="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                Refresh();
                                setTimeout(function () { $(".l_Saved").fadeOut(); }, 2000);
                            </script>
                        }
                    </div>
                    }
                </div>
            }
        </div>
    </div>

</div>