﻿@model JMS.Models.DepartmentViewModel

<div id="divNewOrg" style="margin:15px;">

    @using (Ajax.BeginForm("_NewDepartment", "Departments", new AjaxOptions { UpdateTargetId = "divNewOrg", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.RefID)

        <div id="div_Body"  class="row">
            <div class="col-xs-9">
                <h2>New Department</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <div style="float:right;">
                    <input type="submit" value="Add Department" class="btn btn-sm btn-inverse">
                    <a class="btn btn-sm btn-default" onclick="HideViews()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="width:80px;"><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Department Name", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:80px;"><label>Code:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "Department Code", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:80px;"><label>Contact:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Contact, new { @class = "form-control", @placeholder = "Contact", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <br />
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Department" class="btn btn-inverse">
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            Refresh();
            CreatedDepartment(response["ID"]);
        }
    </script>

    <style>
        #div_Body table tr th, #div_Body table tr td {
            padding: 2px;
        }

        #div_Body table {
            width: 100%;
        }
    </style>

</div>