﻿@model JMS.Models.DepartmentViewModel

<script>
    function PreKendoGridDatabound(e) {
        var today = new Date();
        // Highlight cell
        var grid = e.sender;
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            //get the item uid
            var currentUid = gridData[i].uid;
            var row = grid.table.find("tr[data-uid='" + currentUid + "']");
            //if the record fits the custom condition
            if (gridData[i].StatusJobID == @JMS.Models.JobStatusValues.Open || gridData[i].StatusJobID == @JMS.Models.JobStatusValues.OpenOnHold) {
                if (gridData[i].EstCompleteionDate != null) {
                    if (gridData[i].EstCompleteionDate < today) {
                        row.css('background-color', '#F7CA18');
                    }
                }
            }
        }
        KendoGridDatabound(e);
    }
</script>

<br />

@(Html.Kendo().Grid<JMS.Models.JobGridViewModel>()
              .Name("GridJobs")
              .HtmlAttributes(new { style = "min-width: 900px" })
              .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Jobs").Empty("No Jobs Found")))
              .Columns(columns =>
              {
                  columns.Bound(x => x.JobID).Title("Order").ClientTemplate("<a href='/Jobs/GoTo/#=ID#' target='_blank' title='Go to #=Title#'>#=JobID#</a>");
                  columns.Bound(x => x.Title).ClientTemplate("<a href='/Jobs/GoTo/#=ID#' target='_blank' title='Go to #=Title#'>#=Title#</a>");
                  columns.Bound(x => x.ProjectCode).ClientTemplate("<a href='/Jobs/GoTo/#=ID#' target='_blank' title='Go to #=Title#'>#=ProjectCode#</a>");
                  columns.Bound(x => x.Location);
                  //columns.Template(@<text></text>).ClientTemplate("<a href='/Jobs/GoTo/#=ID#' target='_blank' title='Go to #=JobID#'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
              })
              //.Sortable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Model(model =>
                  {
                      model.Id(l => l.ID);
                  })
                  .Read(read => read.Action("Read", "JobGrid", new { departmentID = Model.ID }).Data("function() { return { statuses: [1, 2, 3, 4, 5, 6, 7, 8] } }")).PageSize(10)
              )
              .Events(events => events.DataBound("PreKendoGridDatabound"))

)