﻿@{
    ViewBag.Title = "Report Suppliers";
}

<div class="container">
    <div class="row">
        <div class="col-sm-7" style="padding-left: 20px;">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-5">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6" style="padding-left: 20px;">
            @*<a class="btn btn-default" onclick="$('#div_AdvancedSearch').slideToggle();"><span class="glyphicon glyphicon-search"></span>&nbsp;Advanced Search</a>*@
        </div>
        <div class="col-xs-2">
            <br />
        </div>

        <div class="col-xs-4">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row" id="div_AdvancedSearch" style="display:none">
        <div class="col-sm-12">
            <br />
            <a class="btn btn-danger" onclick="$('#div_AdvancedSearch').slideToggle();" style="float:right">Close</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default">
                    <div class="panel-body">
                        @(Html.Kendo().DropDownList()
                            .Name("DD_Date")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DD_DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "All", Value = "0"},
                                        new SelectListItem() { Text = "This Year", Value = "1"},
                                        new SelectListItem() { Text = "Last Year", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value((string)ViewBag.dateType)
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                          .Name("DP_From")
                                          .Value((string)ViewBag.fromD)
                                          .HtmlAttributes(new { style = "width: 100%" })
                                          .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                            .Name("DP_To")
                                            .Value((string)ViewBag.toD)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                <div class="pull-right" style=" margin-top: 10px;">
                    @Html.Kendo().CheckBox().Name("IncludeAll").Label("Include All Suppliers").HtmlAttributes(new { @onclick = "Refresh()" })
                </div>
                <div class="input-group" style="max-width: 600px; margin-bottom: 5px">
                    @Html.TextBox("TB_Filter", (string)ViewBag.filterText, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Name, Type, or Account Detail" })
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                @*<a class="btn btn-default btn-sm" onclick="Refresh()" style="margin-bottom:5px;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh</a>*@
                                @(Html.Kendo().Grid<JMS.Models.ReportSupplierGridViewModel>()
                                              .Name("GridSupplierReports")
                                              .HtmlAttributes(new { style = "min-width: 660px" })
                                              .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} items").Empty("No items Found")))
                                              .Columns(columns =>
                                              {
                                                  columns.Bound(q => q.SupplierName).Title("Name").ClientTemplate("<a href='/Suppliers/Goto/#=SupplierID#' target='_blank' title='Go to #=SupplierName#'>#=SupplierName#</a>").Width("60%");
                                                  columns.Bound(q => q.SupplierType).Title("Type").Width("20%");
                                                  columns.Bound(q => q.SupplierAccountDetail).Title("Account Detail").Width("10%");
                                                  columns.Bound(q => q.TotalCost).Title("Total Cost").Format("{0:£#,#.00}").HtmlAttributes(new { @style = "text-align: right;" }).Width("10%");
                                              })
                                              .Sortable()
                                              .DataSource(dataSource => dataSource
                                                  .Ajax()
                                                  .Model(model => model.Id(q => q.SupplierID))
                                                  .Read(read => read.Action("ReadSupplierReports", "Reports").Data("GetSearchInfo")).PageSize(25)
                                              )
                                              .Events(events => events.DataBound("KendoGridDatabound"))
                                              .AutoBind(false)
                ) 
            </div>
        </div>
    </div>

    <style>
        .div-inline {
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            align-items: center;
        }
    </style>

</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditJob" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1500px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditJob_Body"></div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var id = $("#DD_Date").data("kendoDropDownList").value();
        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        var grid = $("#GridSupplierReports").data("kendoGrid");

        grid.dataSource.read();
    });


    $("#TB_Filter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    function Refresh() {
        var grid = $("#GridSupplierReports").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {

        var SearchValues = {
            filterText: $('#TB_Filter').val(),
            dateType: $("#DD_Date").data("kendoDropDownList").value(),
            fromD: kendo.toString($("#DP_From").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toD: kendo.toString($("#DP_To").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            includeAll: $('#IncludeAll').is(':checked')
        };

        return SearchValues;
    }

    function DD_DateChanged() {
        var id = $("#DD_Date").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }


    @if(ViewBag.ExportJobs)
    {
        <text>

        function Export() {

            var args = GetSearchInfo();

            var url = '@Url.Action("Export", "JobGrid")' + '?filterText=' + args.filterText + '&statuses=' + args.statuses + '&assignedUser=' + args.assignedUser + '&dateType=' + args.dateType + '&fromD=' + args.fromD + '&toD=' + args.toD;
            window.open(url, "_blank");
        }

        </text>
    }

</script>




