﻿
@{
    ViewBag.Title = "Subscription Price Breaks";
}


<div class="row">
    <div class="col-sm-12">
        <h2>Subscription Price Breaks</h2>
        <hr />
        <div>
            <a class="btn btn-info btn-sm" onclick="$('#GridPrices').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Add New Price Break</a>
        </div>
        @(Html.Kendo().Grid<JMS.Models.SubscriptionUserPriceBreakViewModel>()
                .Name("GridPrices")
                .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Prices").Empty("No Prices Added")))
                .Columns(columns =>
                {
                    columns.Bound(t => t.NumberOfUsers).Title("Number Of Users");
                    columns.Bound(t => t.Price).Title("Price").Template(@<text></text>).ClientTemplate("£#=kendo.toString(Price, 'n')#");                   
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
                    }
                    ).Width("90px");
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this price?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);
                    })
                    .Create(create => create.Action("Create", "SubscriptionUserPriceBreaks"))
                    .Read(read => read.Action("Read", "SubscriptionUserPriceBreaks"))
                    .Update(update => update.Action("Update", "SubscriptionUserPriceBreaks"))
                    .Destroy(destroy => destroy.Action("Destroy", "SubscriptionUserPriceBreaks"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>

</div>