﻿@model JMS.Models.UserRoleOptionViewModel

<div id="divEditRole">
    <div class="row" style="margin:15px;">
        <div class="col-sm-12">

            @using (Ajax.BeginForm("_EditRole", "Roles", new AjaxOptions { UpdateTargetId = "divEditRole" }, new { id = "EditRoleForm", method = "post" }))
            {
                @Html.AntiForgeryToken()
                //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdentityRoleID)

                <div class="row">
                    <div class="col-xs-9">
                        <h2>Edit Role</h2>
                    </div>
                    <div class="col-xs-3">
                        <br />
                        <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                    </div>                
                    <div class="col-sm-12">
                        <label>Name:</label>
                        @Html.TextBoxFor(model => model.IdentityRoleName, new { @class = "form-control", @placeholder = "Badge No.", @style = "max-width:none; width:100%; margin-bottom:5px;" })
                        @Html.ValidationMessageFor(model => model.IdentityRoleName, "", new { @class = "text-danger" })
                    </div>
                    @if (ViewBag.NumberCRM > 0)
                    {
                        <div class="col-sm-4">
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <label>CRM</label>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ViewCRM)&nbsp;<strong>View CRM</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.EditCRM)&nbsp;<strong>Edit CRM</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.DeleteCRM)&nbsp;<strong>Delete CRM</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ExportCRM)&nbsp;<strong>Export CRM</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ViewCRM)
                        @Html.HiddenFor(m => m.EditCRM)
                        @Html.HiddenFor(m => m.DeleteCRM)
                        @Html.HiddenFor(m => m.ExportCRM)
                    }

                    @if (ViewBag.NumberProducts > 0)
                    {
                        <div class="col-sm-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <label>Products</label>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ViewProducts)&nbsp;<strong>View Products</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.EditProducts)&nbsp;<strong>Edit Products</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.DeleteProducts)&nbsp;<strong>Delete Products</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ExportProducts)&nbsp;<strong>Export Products</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ViewProducts)
                        @Html.HiddenFor(m => m.EditProducts)
                        @Html.HiddenFor(m => m.DeleteProducts)
                        @Html.HiddenFor(m => m.ExportProducts)
                    }

                    @if (ViewBag.NumberQuotations > 0)
                    {
                        <div class="col-sm-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <label>Quotations</label>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ViewQuotations)&nbsp;<strong>View Quotations</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.EditQuotations)&nbsp;<strong>Edit Quotations</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.DeleteQuotations)&nbsp;<strong>Delete Quotations</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ExportQuotations)&nbsp;<strong>Export Quotations</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ViewQuotations)
                        @Html.HiddenFor(m => m.EditQuotations)
                        @Html.HiddenFor(m => m.DeleteQuotations)
                        @Html.HiddenFor(m => m.ExportQuotations)
                    }


                    @if (ViewBag.NumberJobs > 0)
                    {
                        <div class="col-sm-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <label>Jobs</label>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ViewJobs)&nbsp;<strong>View Jobs</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.EditJobs)&nbsp;<strong>Edit Jobs</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.DeleteJobs)&nbsp;<strong>Delete Jobs</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ExportJobs)&nbsp;<strong>Export Jobs</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ViewJobs)
                        @Html.HiddenFor(m => m.EditJobs)
                        @Html.HiddenFor(m => m.DeleteJobs)
                        @Html.HiddenFor(m => m.ExportJobs)
                    }


                    @if (ViewBag.NumberInvoices > 0)
                    {
                        <div class="col-sm-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <label>Invoices</label>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ViewInvoices)&nbsp;<strong>View Invoices</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.EditInvoices)&nbsp;<strong>Edit Invoices</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.DeleteInvoices)&nbsp;<strong>Delete Invoices</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ExportInvoices)&nbsp;<strong>Export Invoices</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ViewInvoices)
                        @Html.HiddenFor(m => m.EditInvoices)
                        @Html.HiddenFor(m => m.DeleteInvoices)
                        @Html.HiddenFor(m => m.ExportInvoices)
                    }


                    @if (ViewBag.NumberDeliveryNotes > 0)
                    {
                        <div class="col-sm-4">
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <label>Delivery Notes</label>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ViewDeliveryNotes)&nbsp;<strong>View Delivery Notes</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.EditDeliveryNotes)&nbsp;<strong>Edit Delivery Notes</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.DeleteDeliveryNotes)&nbsp;<strong>Delete Delivery Notes</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ExportDeliveryNotes)&nbsp;<strong>Export Delivery Notes</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ViewDeliveryNotes)
                        @Html.HiddenFor(m => m.EditDeliveryNotes)
                        @Html.HiddenFor(m => m.DeleteDeliveryNotes)
                        @Html.HiddenFor(m => m.ExportDeliveryNotes)
                    }

                    @if (ViewBag.NumberPurchaseOrders > 0)
                    {
                        <div class="col-sm-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <label>Purchase Orders</label>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ViewPurchaseOrders)&nbsp;<strong>View Purchase Orders</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.EditPurchaseOrders)&nbsp;<strong>Edit Purchase Orders</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.DeletePurchaseOrders)&nbsp;<strong>Delete Purchase Orders</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ExportPurchaseOrders)&nbsp;<strong>Export Purchase Orders</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ViewPurchaseOrders)
                        @Html.HiddenFor(m => m.EditPurchaseOrders)
                        @Html.HiddenFor(m => m.DeletePurchaseOrders)
                        @Html.HiddenFor(m => m.ExportPurchaseOrders)
                    }

                    @if (ViewBag.NumberStockControl > 0)
                    {
                        <div class="col-sm-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <label>Stock Control</label>
                                </div>
                                <div class="panel-body">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ViewStockControl)&nbsp;<strong>View Stock Control</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.EditStockControl)&nbsp;<strong>Edit Stock Control</strong>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.ExportStockControl)&nbsp;<strong>Export Stock Control</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.ViewStockControl)
                        @Html.HiddenFor(m => m.EditStockControl)
                        @Html.HiddenFor(m => m.ExportStockControl)
                    }

                    <div class="col-sm-12">
                        <hr />
                        <input type="submit" value="Save Changes" class="btn btn-success">&nbsp;
                        @if (ViewBag.Saved != null)
                        {
                            <label id="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                setTimeout(function () { $("#l_Saved").fadeOut(); }, 2000);
                            </script>
                        }
                    </div>
                </div>
            }
        </div>

    </div>

</div>


<style>
     #divEditRole table {
         width:100%;
     }

    #divEditRole table tr th, #divEditRole table tr td {
        padding: 3px;
    }
</style>

