﻿@model JMS.Models.CompanyViewModel


<h4>Subscription Plans</h4>
<br />
<a class="btn btn-info btn-sm" href="@Url.Action("New", "Subscriptions", new { ID = Model.ID })" style="margin-bottom:5px;"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Add New Subscription Plan</a>&nbsp;
<a class="btn btn-default btn-sm" onclick="$('#GridPlans').data('kendoGrid').dataSource.read();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
<br />

@(Html.Kendo().Grid<JMS.Models.SubscriptionPlanViewModel>()
        .Name("GridPlans")
        .Pageable(p => p.PageSizes(new[] { 15, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Plans").Empty("No Plans Found")))
        .Columns(columns =>
        {
            columns.Bound(t => t.Name);
            columns.Bound(t => t.Created).Format("{0:dd/MM/yy}").Width("1%");
            columns.Bound(t => t.StartDate).Format("{0:dd/MM/yy}").Width("1%");
            columns.Bound(t => t.EndDate).Format("{0:dd/MM/yy}").Width("1%");
            columns.Bound(t => t.InitialAmount).Template(@<text></text>).ClientTemplate("£#=kendo.toString(InitialAmount, 'n')#").Width("1%");
            columns.Bound(t => t.RegularAmount).Template(@<text></text>).ClientTemplate("£#=kendo.toString(RegularAmount, 'n')#").Width("1%");
            //columns.Bound(t => t.AmountPerUser).Template(@<text></text>).ClientTemplate("£#=kendo.toString(AmountPerUser, 'n')#").Width("1%");
            //columns.Bound(t => t.NumberOfUsers);

            columns.Bound(t => t.FuturePayID).Title("FuturePayID").Width("1%");
            columns.Bound(t => t.CartID).Title("CartID").Width("1%");
            columns.Bound(t => t.Active).Title("Active").ClientTemplate("#if(Active){# <span class='label label-success'>Yes</span> #} else {# <span class='label label-danger'>No</span> #}#").Width("1%");
            columns.Bound(t => t.Trial).Title("Trial").ClientTemplate("#if(Trial){# <span class='label label-info'>Trial</span> #}#").Width("1%");
            columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit", "Subscriptions") + "/#=ID#' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
        })        
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
            .Model(model =>
            {
                model.Id(t => t.ID);
                model.Field(t => t.ID).Editable(false);
                model.Field(t => t.CompanyID).Editable(false).DefaultValue(Model.ID);
            })
            .Read(read => read.Action("Read", "SubscriptionPlans", new { cID = Model.ID, includeInactive = true })).PageSize(15)
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
)

<hr />

<h4>Payment History</h4>
<br />
<a class="btn btn-default btn-sm" onclick="$('#GridPayments').data('kendoGrid').dataSource.read();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
<br />

@(Html.Kendo().Grid<JMS.Models.SubscriptionPlanPaymentViewModel>()
                .Name("GridPayments")
                .Pageable(p => p.PageSizes(new[] { 15, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Payments").Empty("No Payments Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Timestamp).ClientTemplate("<span class='label label-info'>#=kendo.toString(Timestamp, 'HH:mm  dd/MM/yy')#</span>").Width("1%");
                    columns.Bound(p => p.Description);
                    columns.Bound(p => p.Currency).Width("1%");
                    columns.Bound(p => p.Amount).ClientTemplate("#=kendo.toString(Amount, 'n')#").Width("1%");

                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Sort(sort => sort.Add("Timestamp").Descending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(l => l.ID);
                    })
                    .Read(read => read.Action("Read", "SubscriptionPlanPayments", new { cID = Model.ID })).PageSize(15)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
)


<br />
<br />