﻿@model JMS.Models.CompanyViewModel


<br />
<a class="btn btn-info btn-sm" onclick="$('#GridAddresses').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Add New Address</a>
<a class="btn btn-default btn-sm" onclick="$('#GridAddresses').data('kendoGrid').dataSource.read();" style="margin-bottom:5px; float:right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
<br />

@(Html.Kendo().Grid<JMS.Models.CompanyAddressViewModel>()
        .Name("GridAddresses")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Addresses").Empty("No Addresses Added")))
        .Columns(columns =>
        {
            columns.Bound(t => t.Name).Title("Business Name");
            columns.Bound(t => t.Address1).Title("Address 1");
            columns.Bound(t => t.Address2).Title("Address 2");
            columns.Bound(t => t.Address3).Title("Address 3");
            columns.Bound(t => t.Town).Title("Town");
            columns.Bound(t => t.Postcode).Title("Postcode");
            columns.Bound(t => t.Country).Title("Country");
            columns.Bound(t => t.Telephone).Title("Telephone");
            columns.Bound(t => t.Mobile).Title("Mobile");
            columns.Bound(t => t.Email).Title("Email");
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn'/>");
            }
            ).Width("90px");
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this address?"))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
            .Model(model =>
            {
                model.Id(t => t.ID);
                model.Field(t => t.ID).Editable(false);
                model.Field(t => t.CompanyID).Editable(false).DefaultValue(Model.ID);
            })
            .Create(create => create.Action("Create", "CompanyAddresses", new { CompanyID = Model.ID }))
            .Read(read => read.Action("Read", "CompanyAddresses", new { CompanyID = Model.ID }))
            .Update(update => update.Action("Update", "CompanyAddresses", new { CompanyID = Model.ID }))
            .Destroy(destroy => destroy.Action("Destroy", "CompanyAddresses", new { CompanyID = Model.ID }))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
<br />