﻿@model JMS.Models.CompanyViewModel

<br />
<a class="btn btn-info" href="~/SuperManagement/CreateUser/@Model.ID.ToString()"><span class="glyphicon glyphicon-user"></span> &nbsp;Create New User</a>&nbsp;
<a class="btn btn-inverse" href="@Url.Action("SwitchCompany", new { ID = Model.ID })"><span class="glyphicon glyphicon-retweet"></span> &nbsp;Switch to Company</a>&nbsp;
<a class="btn btn-default btn-sm" onclick="$('#GridUsers').data('kendoGrid').dataSource.read();" style="margin-bottom:5px; float:right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
<br />
<br />

@(Html.Kendo().Grid<JMS.Models.UserViewModel>()
    .Name("GridUsers")
    //.Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Found")))
    .Columns(columns =>
    {
        columns.Bound(u => u.Email).Title("Email");
        columns.Bound(u => u.FirstName).Title("First Name");
        columns.Bound(u => u.LastName).Title("Last Name");
        columns.Bound(u => u.RoleName).Title("Role");
        columns.Bound(u => u.Modules).Title("Modules");
        columns.Template(@<text></text>).Title("Confirmed").ClientTemplate("#if(!Confirmed){# <a href='" + Url.Action("ConfirmAccount", "SuperManagement") + "/#=ID#' class='btn btn-xs btn-success'>Confirm</a>#} else {# <span class='glyphicon glyphicon-ok' title='Confirmed'></span> #}#").Width("1%");
        columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("EditUser", "SuperManagement") + "/#=ID#' class='btn btn-xs btn-inverse'>Edit</a>").Width("1%");
        columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("ChangeUserPassword", "SuperManagement") + "/#=ID#' class='btn btn-xs btn-warning'>Reset Password</a>").Width("1%");
        columns.Command(command =>
        {
            command.Destroy().Text("<span class='btn btn-xs btn-danger'>Delete</span>");
        }
        ).Width("1%");
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this account?"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(t => t.ID);
            model.Field(t => t.ID).Editable(false);
        })
        //Pass the string in the textbox using the anonymously created function
        .Read(read => read.Action("CompanyUsers_Read", "SuperManagement", new { CompanyID = Model.ID }))
        .Destroy(destory => destory.Action("Delete", "Users"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
<br />


