﻿@model JMS.Models.CompanyViewModel

@using (Html.BeginForm("EditCompany", "SuperManagement", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.LogoImageURL)
    <br />
    <div style="display:inline; float:left; width:49%;">

        <table style="width:100%">
            <tr>
                <td style="width:120px;"><label>Business Name:</label></td>
                <td>
                    @Html.Kendo().TextBoxFor(model => model.Name).HtmlAttributes(new { placeholder = "Name", style = "max-width:none; width:90%;" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td><label>Account No:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.AccountNo).HtmlAttributes(new { placeholder = "Account No", style = "max-width:none; width:90%;" })</td>
            </tr>
            <tr>
                <td><label>Motto:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Motto).HtmlAttributes(new { placeholder = "Motto", style = "max-width:none; width:90%;" })</td>
            </tr>
            <tr>
                <td><label>Address Line 1:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Address1).HtmlAttributes(new { placeholder = "Address Line 1", style = "max-width:none; width:90%;" })</td>
            </tr>
            <tr>
                <td><label>Address Line 2:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Address2).HtmlAttributes(new { placeholder = "Address Line 2", style = "max-width:none; width:90%;" })</td>
            </tr>
            <tr>
                <td><label>Address Line 3:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Address3).HtmlAttributes(new { placeholder = "Address Line 3", style = "max-width:none; width:90%;" })</td>
            </tr>
            <tr>
                <td><label>Town:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Town).HtmlAttributes(new { placeholder = "Town", style = "max-width:none; width:50%;" })</td>
            </tr>
            <tr>
                <td><label>Country:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Country).HtmlAttributes(new { placeholder = "Country", style = "max-width:none; width:50%;" })</td>
            </tr>
            <tr>
                <td><label>Postcode:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Postcode).HtmlAttributes(new { placeholder = "Postcode", style = "max-width:none; width:50%;" })</td>
            </tr>
            <tr>
                <td><label>Telephone:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Telephone).HtmlAttributes(new { placeholder = "Telephone", style = "max-width:none; width:70%;" })</td>
            </tr>
            <tr>
                <td><label>Mobile:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Mobile).HtmlAttributes(new { placeholder = "Mobile", style = "max-width:none; width:70%;" })</td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Email).HtmlAttributes(new { placeholder = "Email", style = "max-width:none; width:70%;" })</td>
            </tr>
            <tr>
                <td><label>Website:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.Website).HtmlAttributes(new { placeholder = "Website", style = "max-width:none; width:70%;" })</td>
            </tr>
            <tr>
                <td><label>VAT Number:</label></td>
                <td>@Html.Kendo().TextBoxFor(model => model.VatNumber).HtmlAttributes(new { placeholder = "VAT Number", style = "max-width:none; width:50%;" })</td>
            </tr>
            <tr>
                <td><label>Default Currency:</label></td>
                <td>
                    @(Html.Kendo().DropDownListFor(model => model.DefaultCurrencyID)
                            .DataTextField("Name").DataValueField("ID")
                            .DataSource(source =>
                            {
                                source.Read(read => { read.Action("DropDownCurrencies", "Dropdowns"); });
                            })
                            .Value(Model.DefaultCurrencyID.ToString())
                            .AutoBind(true)
                    )
                </td>
            </tr>            
        </table>

        <hr />
        <input type="submit" value="Save Business Details" class="btn btn-success" />
        <br />
        <br />
    </div>
    <div style="display:inline; float:left; width:49%;">
        <label>Company Logo:</label><br />
        @if (Model.LogoImageURL != null)
        {
            <a id="productImage_link" class="thumbnail fancybox-media" target="_blank" href="@Model.LogoImageURL" title="@Model.Name">
                <img id="productImage" src="@Model.LogoImageURL" style="max-height:100px; min-height:100px" />
            </a>
        }
        
    </div>

    <style>
        td { 
            padding: 3px;
        }
    </style>
}
