﻿@model JMS.Models.CompanyViewModel
@{
    ViewBag.Title = "Create Company";
}

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h2>Create New Company</h2>
            <h4 style="color:grey">Enter the details of the new user.</h4>
        </div>
        <div class="col-sm-5">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/SuperManagement/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Companies</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Html.BeginForm("CreateCompany", "SuperManagement", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                
                <div class="row" style="margin:0px; padding:0px;">
                    <div class="col-sm-4">

                        <label>Account No.:</label>
                        @Html.TextBoxFor(model => model.AccountNo, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                        <br />

                        <label>Name:</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        <br />

                        <label>Motto:</label>
                        @Html.TextBoxFor(model => model.Motto, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Motto, "", new { @class = "text-danger" })
                        <br />

                        <label>Telephone:</label>
                        @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                        <br />

                        <label>Email:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <br />

                        <label>Website:</label>
                        @Html.TextBoxFor(model => model.Website, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                        <br />

                        <label>Default Currency:</label><br />
                        @(Html.Kendo().DropDownListFor(model => model.DefaultCurrencyID)
                            .DataTextField("Name").DataValueField("ID")
                            .DataSource(source =>
                            {
                                source.Read(read => { read.Action("DropDownCurrencies", "Dropdowns"); });
                            })
                            .Value(Model.DefaultCurrencyID.ToString())
                            .AutoBind(true)
                        )
                    </div>
                    <div class="col-sm-4">

                        <label>Address Line 1:</label><br />
                        @Html.TextBoxFor(model => model.Address1, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                        <br />

                        <label>Address Line 2:</label>
                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                        <br />

                        <label>Address Line 3:</label>
                        @Html.TextBoxFor(model => model.Address3, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                        <br />
                        
                        <label>Town:</label>
                        @Html.TextBoxFor(model => model.Town, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                        <br />


                        <label>Country:</label>
                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        <br />

                        <label>Postcode:</label>
                        @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
                        <br />
                       

                    </div>
                    <div class="col-sm-12">
                        <hr />
                        <input type="submit" value="Create Company" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
