﻿@model JMS.Models.CompanyViewModel
@{
    ViewBag.Title = "Delete Company";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("DeleteCompany", "SuperManagement", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.LogoImageURL)
                <br />
                <h1>Delete Company</h1>
                <h3>@Model.Name</h3>                
                <hr />
                <p>Are you sure you want to permanently deleted from the system. This process can not be undone.</p>
                <input type="submit" value="Delete Company" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this company?')" />
                
            }
        </div>
    </div>
   
</div>

