﻿@model JMS.Models.CompanyViewModel
@{
    ViewBag.Title = "Delete Company";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Company Deleted</h2>
            <h4 style="color:grey">The company has been permanently deleted from the system.</h4>
        </div>
    </div>
   
</div>

