﻿@model JMS.Models.CompanyViewModel
@{
    ViewBag.Title = "Edit Company";
}

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h2>Edit Details Company</h2>
            <h4 style="color:grey">@Model.Name</h4>
        </div>
        <div class="col-sm-5">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/SuperManagement/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Companies</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @(Html.Kendo().TabStrip()
            .Name("Company_Tabstrip")
            .Items(tabstrip =>
                {
                    tabstrip.Add().Text("Company Details").Content(@Html.Partial("_CompanyDetailsTab", Model).ToHtmlString()).Selected(true);
                    tabstrip.Add().Text("Addresses").Content(@Html.Partial("_CompanyAddressesTab", Model).ToHtmlString()).Selected(false);
                    tabstrip.Add().Text("User Accounts").Content(@Html.Partial("_CompanyUsersTab", Model).ToHtmlString()).Selected(false);
                    tabstrip.Add().Text("Subscriptions").Content(@Html.Partial("_CompanySubscriptionsTab", Model).ToHtmlString()).Selected(false);
                }))
        </div>
    </div>
</div>

