﻿@model Fruitful.Email.EmailSetting
@{
    ViewBag.Title = "Email Setting";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Email Settings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Html.BeginForm("EmailSettings", "SuperManagement", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })  
                
                @Html.HiddenFor(model => model.ID)
                
                <label>Email Address:</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })                
                <br />

                <label>Password:</label>
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-sm" })
                <br />

                <label>Host:</label><br />
                @Html.TextBoxFor(model => model.Host, new { @class = "form-control input-sm" })
                <br />

                <label>Port:</label><br />
                @Html.TextBoxFor(model => model.Port, new { @class = "form-control input-sm" })
                <br />

                <label>Enable SSL:</label><br />
                @Html.CheckBoxFor(model => model.EnableSSL)
                <br />

                <hr />
                <input type="submit" value="Save Settings" class="btn btn-success" />
            }
        </div>
    </div>
</div>
