﻿@model IEnumerable<JMS.Models.CompanyViewModel>
@{
    ViewBag.Title = "Companies";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Company Management</h1>
        </div>
        <div class="col-sm-6">
            <br />
            <br />
            <div class="input-group" style=" margin-bottom: 5px">
                @Html.TextBox("TB_Filter", "", new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Company" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>

        <div class="col-sm-12">
            <hr />
            <a class="btn btn-info" href="@Url.Action("CreateCompany")"><span class="glyphicon glyphicon-home"></span> &nbsp;Create Company</a>            
            <a class="btn btn-default btn-sm" onclick="Refresh(); return false;" style="margin-bottom:5px; float:right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
        </div>

        <div class="col-sm-12">
            <br />
            @(Html.Kendo().Grid<JMS.Models.CompanyViewModel>()
                .Name("GridCompanies")
                .Filterable()
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Companies").Empty("No Companies Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).Title("ID").Width("1%");
                    //columns.Bound(u => u.AccountNo).Title("Account No.");
                    columns.Bound(u => u.Name).Title("Name");
                    //columns.Bound(u => u.Address1).Title("Address 1");
                    //columns.Bound(u => u.Address2).Title("Address 2");
                    //columns.Bound(u => u.Town).Title("Town");
                    columns.Bound(u => u.Email).Title("Email");
                    columns.Bound(u => u.Telephone).Title("Telephone");
                    columns.Bound(u => u.SignupDate).Title("SignupDate").Format("{0:dd/MM/yyyy}");
                    //columns.Bound(u => u.NumAccounts).Title("Num Accounts").ClientTemplate("Accounts: #=NumAccounts#; Confirmed:#=NumConfirmedAccounts#");
                    columns.Bound(u => u.NumAccounts).Title("# Accts");
                    columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("EditCompany", "SuperManagement") + "/#=ID#' class='btn btn-xs btn-inverse' >Edit</a>").Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("DeleteCompany", "SuperManagement") + "/#=ID#' class='btn btn-xs btn-danger' >Delete</a>").Width("1%");                   
                })                
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(l => l.ID);
                    })
                    .Read(read => read.Action("Read", "Companies").Data("GetSearchInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    html .k-grid tr:hover {
        background: inherit;
        color: inherit;
    }

    html .k-grid tr.k-alt:hover {
        background: #f5f5f5;
        color: inherit;
    }
</style>

<script>

     $("#TB_Filter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    function Refresh(){
        $('#GridCompanies').data('kendoGrid').dataSource.read();
    }
    function GetSearchInfo() {

        var SearchValues = {
            filterText: $('#TB_Filter').val(),
        };

        return SearchValues;
    }

</script>