﻿@model JMS.Models.SupplierViewModel

<div id="divEditSupplier">
    @if (!ViewBag.EditCRM)
    {
        <script> $("divEditSupplier").submit(function (e) { e.preventDefault(e); }); </script>
    }
    
    <div class="row form-table" style="margin-left:5px; margin-right:5px;">
        <div class="col-sm-12">
            @using (Ajax.BeginForm((ViewBag.EditCRM) ? "_EditSupplierDetails" : "", "Suppliers", new AjaxOptions { UpdateTargetId = "divEditSupplier" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Deleted)
                <div id="div_Body" class="row">
                    <div class="col-xs-9">
                        <h2>Edit Supplier</h2>
                    </div>
                    <div class="col-xs-3">
                        <br />
                        <div style="float:right;">
                            @if (!User.IsInRole("Viewer"))
                            {
                                <text>
                                <input type="submit" value="Save Changes" class="btn btn-sm btn-inverse">&nbsp;
                                </text>
                            }
                            <a class="btn btn-sm btn-default" onclick="HideViews()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                            @if (ViewBag.Saved != null)
                            {
                                <br />
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                    <div class="col-sm-8">
                        <table>
                            <tr>
                                <td style="width:150px;"><label>Name:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Supplier Name", @style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label>Account Detail:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.AccountDetail, new { @class = "form-control", @placeholder = "Account Detail", @style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.AccountDetail, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table>
                            <tr>
                                <td style="width:80px;"><label>Type:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.SupplierTypeID)
                                        .DataTextField("Name")
                                        .DataValueField("ID")
                                        .Events(e => e.Change("Refresh"))
                                        .OptionLabel("Select Supplier Type")
                                        .DataSource(source =>
                                        {
                                            source.Read(read => { read.Action("DropDownSupplierTypes", "SupplierTypes"); });
                                        })
                                        .AutoBind(true)
                                        .HtmlAttributes(new { @style = "width:100%; max-width:280px;" })
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                    @if (!User.IsInRole("Viewer"))
                    {
                        <div class="col-sm-12">
                            <br /><br />
                            <input type="submit" value="Save Changes" class="btn btn-inverse">&nbsp;
                            @if (ViewBag.Saved != null)
                            {
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                                <script>
                                    Refresh();
                                    setTimeout(function () { $(".l_Saved").fadeOut(); }, 2000);
                                </script>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>

</div>