﻿@model JMS.Models.SupplierViewModel

<div id="divNewOrg" style="margin:15px;">

    @using (Ajax.BeginForm("_NewSupplier", "Suppliers", new AjaxOptions { UpdateTargetId = "divNewOrg", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div id="div_Body"  class="row">
            <div class="col-xs-9">
                <h2>New Supplier</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <div style="float: right;">
                    <input type="submit" value="Add Supplier" class="btn btn-inverse">
                    <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>

            </div>
            <div class="col-sm-12">
                <br />
            </div>
            <div class="col-sm-8">
                <table>
                    <tr>
                        <td style="width:150px;"><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Supplier Name", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Account Detail:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.AccountDetail, new { @class = "form-control", @placeholder = "Account Detail", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.AccountDetail, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="width:80px;"><label>Type:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.SupplierTypeID)
                                        .DataTextField("Name")
                                        .DataValueField("ID")
                                        .Events(e => e.Change("Refresh"))
                                        .OptionLabel("Select Supplier Type")
                                        .DataSource(source =>
                                        {
                                            source.Read(read => { read.Action("DropDownSupplierTypes", "SupplierTypes"); });
                                        })
                                        .AutoBind(true)
                                        .HtmlAttributes(new { @style = "width:100%; max-width:280px;" })
                            )
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Supplier" class="btn btn-inverse">
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            Refresh();
            CreatedSupplier(response["ID"]);
        }
    </script>

    <style>
        #div_Body table tr th, #div_Body table tr td {
            padding: 2px;
        }

        #div_Body table {
            width: 100%;
        }
    </style>

</div>