﻿
@{
    ViewBag.Title = "Deleted Suppliers";
}

<div class="row">
    <div class="col-sm-8">
        <h1>Deleted Suppliers</h1>
    </div>
    <div class="col-sm-4 hidden-sm hidden-xs">
        <br />
        <a class="btn btn-default" href="@Url.Action("Index")" style="float:right"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back to Suppliers</a>
    </div>
    <div class="col-sm-12">
        <hr />
        <div class="form-group" role="group" aria-label="...">
            <a class="btn btn-sm btn-default" onclick="RefreshSuppliers(); return false;"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</a> 
            <a class="btn btn-sm btn-danger" onclick="ClearSuppliers(); return false;"><span class="glyphicon glyphicon-fire"></span>&nbsp; Clear</a>
        </div>
    </div>
    <div class="col-sm-12">
        @(Html.Kendo().Grid<JMS.Models.SupplierViewModel>()
                .Name("GridSuppliers")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Suppliers").Empty("No Deleted Suppliers Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.Name).Title("Name");
                    columns.Template(@<text></text>).ClientTemplate("<a title='Restore' href='\\#' onclick='RestoreSupplier(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-share-alt glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-fire glyphicon-btn' title='Delete Permanently'/>");
                    }
                    ).Width("1%");
                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);                        
                    })
                    .Read(read => read.Action("ReadDeleted", "SupplierGrid")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "SupplierGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>




<script>

    function RefreshSuppliers() {
        var grid = $("#GridSuppliers").data("kendoGrid");
        grid.dataSource.read();
    }

    function RestoreSupplier(id) {
        $.ajax({ url: '@Url.Action("_RestoreDeletedSupplier", "SupplierGrid")', type: 'POST', data: { "ID": id }, dataType: "json", success: function (data) { RefreshSuppliers(); }  });
    }

    function ClearSuppliers() {
        if (confirm('Permanently remove all deleted suppliers?')) {
            $.ajax({ url: '@Url.Action("_ClearDeletedSuppliers", "SupplierGrid")', type: 'POST', data: {}, dataType: "json", success: function (data) { RefreshSuppliers(); } });
        }
    }

</script>


