﻿
@{
    ViewBag.Title = "Suppliers";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Suppliers</h1>
        </div>
        <div class="col-sm-6">
            <br />
            @*@if (ViewBag.EditCRM)
            {
                <div class="btn-group" style="float:right; margin-right:3px;">
                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@Url.Action("UploadSuppliers", "SupplierImport")">Import  Suppliers, Addresses & Contacts</a></li>
                        <li><a href="@Url.Action("UploadProducts", "SupplierProductsImport")">Import  Supplied Products & Categories</a></li>
                    </ul>
                </div>
            }            
            @if (ViewBag.DeleteCRM)
            {
                <a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Suppliers/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Suppliers</a>
            }*@
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-4">
                @if (!User.IsInRole("Viewer"))
                {
                    <text>
                    <a class="btn btn-inverse" onclick="NewSupplier()"><span class="glyphicon glyphicon-home"></span>&nbsp;New Supplier</a>&nbsp;
                    <a class="btn btn-warning" onclick="EditSupplierTypes()"><span class=" glyphicon glyphicon-bookmark"></span>&nbsp;Edit Supplier Types</a>        
                    </text>
                }
                <a class="btn btn-info" onclick="SearchContacts()"><span class=" glyphicon glyphicon-user"></span>&nbsp;Search Contacts</a>&nbsp;
        </div>
        <div class="col-xs-4">
            @(Html.Kendo().DropDownList()
                        .Name("DD_Types")
                        .DataTextField("Name")
                        .DataValueField("ID")
                        .Events(e => e.Change("Refresh"))
                        .OptionLabel("All Types")
                        .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read => { read.Action("DropDownSupplierTypes", "SupplierTypes"); });
                        })
                        .AutoBind(true)
                        .Value("")
                        .HtmlAttributes(new { style = "width: 100%" })
                        .NoDataTemplate("No types defined")
            )
        </div>
        
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_SupplierFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</a>&nbsp;
                 @if (ViewBag.EditCRM)
                 {
                    //<a class="btn btn-sm btn-default" onclick="Edit()"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</a>
                 } 
                 @*@if (ViewBag.ExportCRM)
                 {
                    <div class="btn-group" style="float:right">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-export"></span>&nbsp; Export <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" onclick="ExportSuppliers(); return false;">Export Suppliers</a></li>
                            <li><a href="#" onclick="ExportContacts(); return false;">Export Contacts</a></li>
                            <li><a href="#" onclick="ExportAddresses(); return false;">Export Addresses</a></li>
                            <li><a href="#" onclick="ExportProducts(); return false;">Export Supplier Products</a></li>
                            <li><a href="#" onclick="ExportCategories(); return false;">Export Supplier Product Categories</a></li>
                        </ul>
                    </div>
                 }*@
            </div>
        </div>

        @if (ViewBag.EditCRM)
        {
            <div id="divEdit" class="col-sm-12" style="display:none">
                <div class="form-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-default" onclick="SelectAll()"><span class="glyphicon glyphicon-check"></span>&nbsp; Select All</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DeleteSelected()"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Selected</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DoneEdit()"><span class="glyphicon glyphicon-ok"></span>&nbsp; Done</a>&nbsp;
                </div>
            </div>
        }
        <div class="col-sm-12">
            @(Html.Kendo().Grid<JMS.Models.SupplierViewModel>()
                .Name("GridSuppliers")
                .HtmlAttributes(new { style = "min-width: 500px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Suppliers").Empty("No Suppliers Found")))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.Name).Title("Name").ClientTemplate("<a href='\\#' onclick='EditSupplier(\"#=ID#\"); return false;'><strong>#=Name#</strong></a>");
                    columns.Bound(u => u.SupplierTypeID).Title("Type").ClientTemplate("#=SupplierTypeName#");
                    columns.Bound(u => u.AccountDetail).Title("Account Detail");
                    columns.Bound(u => u.ContactPositionHeld).Sortable(false);
                    columns.Bound(u => u.ContactName).Sortable(false);
                    columns.Bound(u => u.ContactPhone).Sortable(false);
                    columns.Bound(u => u.ContactEmail).Sortable(false);
                    columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick='EditSupplier(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }).Visible(!User.IsInRole("Viewer")).Width("1%");
                })
                .Sortable()
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this supplier?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "SupplierGrid").Data("GetSearchInfo")).PageSize(50)
                    .Update(update => update.Action("Update", "SupplierGrid"))
                    .Destroy(destory => destory.Action("Destroy", "SupplierGrid"))
                    .Events(events => events.Error("KendoGridErrorHandler"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>        
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditSupplier" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditSupplier_Body"></div>
    </div>
</div>


<div id="SlideContent_SearchContacts" class="panel panel-default" style="z-index: 1140; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div class="row">
            <div class="col-sm-6">
                <h2>Contacts Search</h2>
            </div>
            <div class="col-sm-6">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-sm-12">
                
                <div class="input-group">
                    @Html.TextBox("TB_ContactFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search Name/Email/Telephone" })
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick="RefreshContacts()"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                <hr />
            </div>
            <div class="col-sm-12">
                @(Html.Kendo().Grid<JMS.Models.SupplierContactViewModel>()
                    .Name("GridContactsSearch")
                    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Contacts").Empty("No Contacts Found")))
                        //.Filterable()
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.SupplierName).Title("Supplier").ClientTemplate("<a href='\\#' onclick='EditSupplier(\"#=SupplierID#\"); return false;'><strong>#=SupplierName#</strong></a>");
                        columns.Bound(p => p.Name).Title("Name");
                        columns.Bound(p => p.PositionHeld).Title("Position Held");
                        columns.Bound(p => p.Telephone).Title("Telephone");
                        columns.Bound(p => p.Email).Title("Email");
                        columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick='EditSupplier(\"#=SupplierID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    })
                    .Sortable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("ReadSearch", "SupplierContacts").Data("function() { return { filterText: $('#TB_ContactFilter').val() }}")).PageSize(25)
                    )
                    .Events(events => events.DataBound("KendoGridDatabound"))
                )
            </div>
        </div>
    </div>
</div>

@if (ViewBag.EditCRM)
{
    <div id="SlideContent_EditSupplierTypes" class="panel panel-default" style="z-index: 1130; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
        <div class="panel-body" style="margin-top: 10px;">
            <div class="row">
                <div class="col-xs-9">
                    <h2>Edit Supplier Types</h2>
                    <hr />
                </div>
                <div class="col-xs-3">
                    <br />
                    <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-info btn-sm" onclick="$('#GridEditSupplierTypes').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Create New Type</a>
                </div>
                <div class="col-sm-6">
                    <br />
                </div>
                <div class="col-sm-12">
                    @(Html.Kendo().Grid<JMS.Models.SupplierTypeViewModel>()
                        .Name("GridEditSupplierTypes")
                        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Types").Empty("No Supplier Types Entered")))
                        .Columns(columns =>
                        {
                            columns.Bound(t => t.Name).Title("Name");
                            columns.Command(command =>
                                    {
                                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                                    }
                            ).Width("90px");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this type?"))
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                                model.Field(t => t.ID).Editable(false);
                            })

                            .Create(create => create.Action("Create", "SupplierTypes"))
                            .Read(read => read.Action("Read", "SupplierTypes"))
                            .Update(update => update.Action("Update", "SupplierTypes"))
                            .Destroy(destroy => destroy.Action("Destroy", "SupplierTypes"))
                            .Events(events => events.Error("KendoGridErrorHandler"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                    )
                </div>
            </div>
        </div>
    </div>
}

<script>

    @if (!string.IsNullOrEmpty(ViewBag.SupplierID))
    {
        <text>
    EditSupplier('@ViewBag.SupplierID');
    </text>
    }

    function Refresh() {
        var grid = $("#GridSuppliers").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function RefreshContacts() {
        var grid = $("#GridContactsSearch").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_SupplierFilter').val(),
            type: $("#DD_Types").data("kendoDropDownList").value()
        }
    }

    function Edit() {
        var grid = $("#GridSuppliers").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').hide();
            $('#divEdit').show();
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridSuppliers").data("kendoGrid");
        $('#divPager').show();
        $('#divEdit').hide();
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }


    $("#TB_SupplierFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    $("#TB_SupplierTypeFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    $("#TB_ContactFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshContacts();
        //}
    });


    //Below the following functions are used the show/hide the content panels.
    function NewSupplier() {
        $("#EditSupplier_Body").load("@Url.Action("_NewSupplier", "Suppliers")");

        $("#SlideContent_EditSupplier").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditSupplier").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function EditSupplier(id) {
        var url = '@Url.Action("_EditSupplier", "Suppliers")' + '?ID=' + id;
        $("#EditSupplier_Body").load(url);

        $("#SlideContent_EditSupplierTypes").fadeOut();
        $("#SlideContent_SearchContacts").fadeOut();

        $("#SlideContent_EditSupplier").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditSupplier").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedSupplier(id) {
        var url = '@Url.Action("_EditSupplier", "Suppliers")' + '?ID=' + id;
        $("#EditSupplier_Body").load(url);
    }


    function DeleteSupplier(id) {
        if (confirm("Are you sure you want to delete this organisation?")) {
            $.ajax({
                url: '@Url.Action("_DeleteSupplier", "Suppliers")',
                type: 'POST',
                data: { "ID": id },
                dataType: "json",
                success: function (data) { Refresh(); }
            });
        }
    }

    function DeleteSelected() {
        if (confirm("Are you sure you want to delete these organisations?")) {

            var ids = $("input[name=chk_grid]:checkbox:checked").map(function () { return this.value; }).get().join();

            $.ajax({
                url: '@Url.Action("_DeleteSuppliers", "SupplierGrid")',
                type: 'POST',
                data: { "IDs": ids },
                dataType: "json",
                success: function (data) { Refresh(); }
            });
        }
    }

    function EditSupplierTypes() {

        $("#SlideContent_EditSupplierTypes").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditSupplierTypes").fadeIn();
        $("#Button_Close_Content").fadeIn();

        var grid = $("#GridEditSupplierTypes").data("kendoGrid");
        grid.dataSource.read();
    }


    function SearchContacts() {
        $("#SlideContent_SearchContacts").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").fadeIn();
        $("#Button_Close_Content").fadeIn();

        var grid = $("#GridContactsSearch").data("kendoGrid");
        grid.dataSource.read();
    }

    function HideViews() {
        $("#SlideContent_EditSupplier").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditSupplierTypes").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditSupplier").fadeOut();
            $("#SlideContent_EditSupplierTypes").fadeOut();
            $("#SlideContent_SearchContacts").fadeOut();
            $("#Button_Close_Content").fadeOut();
        }, 300);

    }


    //ATTACHEMENT TAB FUNCTIONS
    function OnAttachmentUploadSuccess(e) {
        $('#GridAttachments').data('kendoGrid').dataSource.read();
    }

    function OnLinkAttactmentAdded(data) {
        $('#TB_AttachmentLink').val("");
        $('#GridAttachments').data('kendoGrid').dataSource.read();
    }

    function ExportSuppliers() {
        var filterText = $('#TB_SupplierFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("Export", "SupplierGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    function ExportContacts() {
        var filterText = $('#TB_SupplierFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("ExportContacts", "SupplierGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    function ExportAddresses() {
        var filterText = $('#TB_SupplierFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("ExportAddresses", "SupplierGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    function ExportProducts() {
        var filterText = $('#TB_SupplierFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("ExportProductsSupplied", "SupplierGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    function ExportCategories() {
        var filterText = $('#TB_SupplierFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("ExportCategoriesSupplied", "SupplierGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

</script>


