﻿@{
    ViewBag.Title = "404";
}

<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h1>404</h1>
                <h4>We  can't seem to find the page you are looking for.</h4>
                <br />
                <p>Please try going to the homepage and try again. If the problem persists <a href="/Contact"> let us know.</a></p>
            </div>
        </div>
    </div>
</div>