﻿@{
    ViewBag.Title = "About Us";
    
}


<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<div style="margin-top: -10px; margin-right: -30px; margin-left: -30px;">
    <div class="backgroundHome">
        <div class="container" style="padding-top: 60px; padding-bottom: 40px;">
            <div class="row" style="text-align: center; color: white;">

                <div class="col-md-12">
                    <h1 class="white-text hidden-xs" style="font-family: 'Gloria Hallelujah', cursive;">About Us.</h1>
                    <h4 class="white-text hidden-xs">SNAP Suite</h4>

                    <h3 class="white-text visible-xs" style="font-family: 'Gloria Hallelujah', cursive;">About Us.</h3>
                    <h4 class="white-text visible-xs">SNAP Suite</h4>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: white;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <div class="col-sm-7">
                        <h3>The Team Behind SNAP Suite</h3>
                        <p>
                            <a target="_blank" href="http://www.fruitfulgroup.com">Fruitful</a> is the creator of SNAP Suite and are a London, UK based, software development and consultancy company. We've been around since 2001 and have distilled our knowledge of quotations into SNAP Suite.
                            Because we are UK based we can respond to you in normal UK working hours.
                        </p>
                        <p>You are very welcome to visit our office at 28 Leman Street, London, E1 8ER. </p>

                    </div>
                    <div class="col-sm-5 hidden-xs">
                        <br />

                        <script src="//fast.wistia.com/embed/medias/5xcg4ewm42.jsonp" async></script>
                        <script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_5xcg4ewm42 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>


                    </div>
                </div>
            </div>
        </div>
    </div>



    <div style="background-color: whitesmoke;">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-bottom:20px;">
                    <div class="col-sm-5 hidden-xs">
                        <br />
                        <a target="_blank" href="http://www.fruitfulgroup.com">
                            <img style="max-width: 70%; margin-top:10px;" src="/content/fruitful-group.png" class="img" alt="More about SNAP Suite creators" />
                        </a>
                        <br />

                    </div>
                    <div class="col-sm-7">
                        <h3>The Legal Stuff</h3>
                        <p>Company's registration number: 3888530 </p>
                        <p> VAT registration: 745652514 </p>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="background-color: white;">
        <div class="container" style="padding: 50px;">
            <div class="row" style="text-align: center;">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2>Try for Free</h2>
                    <br />
                    <p>Use the full system for a month to see if it works for you. You don’t need to put in any credit card details to get started. Just register here;</p>
                    <asp:button runat="server" text="Try for Free" cssclass="btn btn-success btn-lg" postbackurl="~/Account/Register.aspx" />
                </div>
            </div>
        </div>
    </div>
