﻿@{
    ViewBag.Title = "Opps... ";
    
}
<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h1>Opps.... An Error Occurred</h1>
                <h4>This wasn't suppose to happen.</h4>
                <br />
                <p>Please try going to the homepage and trying the action again. If the problem persists <a href="/Contact"> let us know.</a></p>
            </div>
        </div>
    </div>
</div>