﻿@{
    ViewBag.Title = "Unauthorized User";
}
<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h1>Unauthorized User</h1>
                <h4>Your SNAP Suite account does not have the relevent permissions.</h4>
                <br />
                <p>Only 'Admins' can access the requested page. Please ask your administrator to change your role in the team, or make the changes you are planning to make.</p>
                <p>If the problem persists please contact us and <a href="/Contact"> let us know.</a></p>
            </div>
        </div>
    </div>
</div>