﻿@model JMS.Models.PurchaseViewModel

@Html.Partial("_EditPurchaseDetails", Model)

<div class="row">
    <div class="col-sm-12">
        <br />
        @(Html.Kendo().TabStrip().Scrollable(false)
        .Name("Purchase_Tabstrip")
        .Items(tabstrip =>
        {
            //tabstrip.Add().Text("Contacts").Content(@Html.Partial("_ContactsTab", Model).ToHtmlString()).Selected(true);
            //tabstrip.Add().Text("Purchase Orders").Content(@Html.Partial("_PurchaseOrdersTab", Model).ToHtmlString()).Selected(false);
            /*
            if (Model.IsSupplier)
            {
                tabstrip.Add().Text("Supplier Categories").Content(@Html.Partial("_CategoriesTab", Model).ToHtmlString()).Selected(false);
            }
            */
        }))
    </div>
</div>