﻿@model JMS.Models.PurchaseViewModel

<div id="divNewOrg" style="margin:15px;">

    @using (Ajax.BeginForm("_NewPurchase", "Purchases", new AjaxOptions { UpdateTargetId = "divNewOrg", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div id="div_Body"  class="row">
            <div class="col-xs-7">
                <h2>New Purchase</h2>
            </div>
            <div class="col-xs-5">
                <br />
                <div style="float:right;">
                    <input type="submit" value="Add Purchase" class="btn btn-inverse">
                    <a class="btn btn-sm btn-default" onclick="HideViews()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            <div class="col-sm-12">
                <table>
                    <tr>
                        <td style="width:150px;"><label for="Title">Description:</label></td>
                        <td colspan="3">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Description", @style = "max-width:100%; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="PartNo">Part No:</label></td>
                        <td colspan="3">
                            @Html.TextBoxFor(model => model.PartNo, new { @class = "form-control", @placeholder = "Part Number", @style = "max-width:100%; width:100%;" })
                            @Html.ValidationMessageFor(model => model.PartNo, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="SupplierID">Supplier:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.SupplierID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .Filter(FilterType.Contains)
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownSuppliers", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                            )
                            <br />
                            @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="MaterialTypeID">MaterialType:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.MaterialTypeID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .Filter(FilterType.Contains)
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownMaterialTypes", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                            )
                            @Html.ValidationMessageFor(model => model.MaterialTypeID, "", new { @class = "text-danger" })
                        </td>
                        <td style="width:150px;"><label for="MaterialSpec">Material Spec:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.MaterialSpec, new { @class = "form-control", @placeholder = "Material Spec", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.MaterialSpec, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="QtyOrdered">Qty Ordered:</label></td>
                        <td>
                            @Html.Kendo().NumericTextBoxFor(model => model.QtyOrdered).Format("#.##").Events(events => events.Change("Recalculate").Spin("Recalculate")).HtmlAttributes(new { @style = "width: 100%; max-width: 100px;" })
                            @Html.ValidationMessageFor(model => model.QtyOrdered, "", new { @class = "text-danger" })
                        </td>
                        <td><label for="QtyReceived">Qty Received:</label></td>
                        <td>
                            @Html.Kendo().NumericTextBoxFor(model => model.QtyReceived).Format("#.##").HtmlAttributes(new { @style = "width: 100%; max-width: 100px;" })
                            @Html.ValidationMessageFor(model => model.QtyReceived, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="UnitPrice">Unit Price:</label></td>
                        <td>
                            @Html.Kendo().NumericTextBoxFor(model => model.UnitPrice).Spinners(false).Format("{0:C}").Events(events => events.Change("Recalculate").Spin("Recalculate")).HtmlAttributes(new { @style = "width: 100%; max-width: 100px;" })
                            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                        </td>
                        <td><label for="POCurrency">PO Currency:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.POCurrency, new { @class = "form-control", @placeholder = "PO Currency", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.POCurrency, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="PurchaseTotal">Purchase Total:</label></td>
                        <td>
                            @Html.Kendo().NumericTextBoxFor(model => model.PurchaseTotal).Spinners(false).Format("{0:C}").HtmlAttributes(new { @style = "width: 100%; max-width: 100px; cursor: not-allowed;", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.PurchaseTotal, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="PONo">PO No:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.PONo, new { @class = "form-control", @placeholder = "PO Number", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.PONo, "", new { @class = "text-danger" })
                        </td>
                        <td><label for="PurchaseStatusID">Purchase Status:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.PurchaseStatusID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(dataSource => dataSource.Read("DropDownPurchaseStatuses", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                            )
                            @Html.ValidationMessageFor(model => model.PurchaseStatusID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="DateOrdered">Date Ordered:</label></td>
                        <td>@Html.Kendo().DatePickerFor(model => model.DateOrdered).HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                        <td><label for="DateReceived">Date Received:</label></td>
                        <td>@Html.Kendo().DatePickerFor(model => model.DateReceived).HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><label for="PaymentMethodID">Payment Method:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.PaymentMethodID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownPaymentMethods", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                            )
                            @Html.ValidationMessageFor(model => model.PaymentMethodID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="ProjectCodeID" style="width:100px;">ProjectCode:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.ProjectCodeID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .Filter(FilterType.Contains)
                                          .DataSource(dataSource => dataSource.Read("DropDownProjectCodes", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                            )
                        </td>
                        <td><label for="WorkshopNo">Workshop No:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.WorkshopNo, new { @class = "form-control", @placeholder = "Workshop Number", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.WorkshopNo, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="DateDue">Date Due:</label></td>
                        <td>@Html.Kendo().DatePickerFor(model => model.DateDue).HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                        <td><label for="LeadTimeApprx">Lead Time Apprx:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.LeadTimeApprx, new { @class = "form-control", @placeholder = "Lead Time Apprx", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.LeadTimeApprx, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="SupplierRef">Supplier Ref:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.SupplierRef, new { @class = "form-control", @placeholder = "Supplier Reference", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.SupplierRef, "", new { @class = "text-danger" })
                        </td>
                        <td><label for="RelatedJobID">Related Job:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.RelatedJobID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .Filter(FilterType.Contains)
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownJobs", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                            )
                            @Html.ValidationMessageFor(model => model.RelatedJobID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="RequestorIDs">Order By:</label></td>
                        <td colspan="3">
                            @(Html.Kendo().MultiSelectFor(mdoel => Model.RequestorIDs)
                                            .DataValueField("ID")
                                            .DataTextField("Name")
                                            .DataSource(dataSource => dataSource.Read("DropDownRequestors", "Dropdowns"))
                                            .HtmlAttributes(new { @style = "max-width:100%; width:100%" })
                            )
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="OnBehalfOfIDs">Order On Behalf Of:</label></td>
                        <td colspan="3">
                            @(Html.Kendo().MultiSelectFor(mdoel => Model.OnBehalfOfIDs)
                                            .DataValueField("ID")
                                            .DataTextField("Name")
                                            .DataSource(dataSource => dataSource.Read("DropDownRequestors", "Dropdowns"))
                                            .HtmlAttributes(new { @style = "max-width:100%; width:100%" })
                            )
                            @Html.ValidationMessageFor(model => model.OnBehalfOfIDs, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="DepartmentIDs">Department:</label></td>
                        <td colspan="3">
                            @(Html.Kendo().MultiSelectFor(mdoel => Model.DepartmentIDs)
                                            .DataValueField("ID")
                                            .DataTextField("Name")
                                            .DataSource(dataSource => dataSource.Read("DropDownDepartments", "Dropdowns"))
                                            .HtmlAttributes(new { @style = "max-width:100%; width:100%" })
                            )
                            @Html.ValidationMessageFor(model => model.DepartmentIDs, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    <tr>
                        <td><label for="Note">Note:</label></td>
                        <td colspan="3">@Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Note", @style = "max-width: 100%; width:100%; resize: vertical;" })</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Add Purchase" class="btn btn-inverse">
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            Refresh();
            //Call function from Index view
            if (response.ID != null) {
                CreatedPurchase(response["ID"]);
            } else {
                $('#EditPurchase_Body').html(response);
            }
        }


    </script>

    <style>
        #div_Body table tr th, #div_Body table tr td {
            padding: 2px;
        }

        #div_Body table {
            width: 100%;
        }
    </style>

</div>