﻿
@{
    ViewBag.Title = "Purchases";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="padding-left: 20px;">
            <h1>Purchases</h1>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6" style="padding-left: 20px;">
            @if (!User.IsInRole("Viewer"))
            {
                <a class="btn btn-warning" onclick="EditMaterialTypes()"><span class=" glyphicon glyphicon-bookmark"></span>&nbsp;Edit Material Types</a>
            }
            <a class="btn btn-default" onclick="$('#div_AdvancedSearch').slideDown();"><span class="glyphicon glyphicon-search"></span>&nbsp;Advanced Search</a>
        </div>
        <div class="col-xs-2">
            <br />
        </div>

        <div class="col-xs-4">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row" id="div_AdvancedSearch" style="display:none">
        <div class="col-sm-6">
            <label>Jobs:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedJobIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Jobs...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownJobs", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class="advanced-multiselect" })
            )
        </div>
        <div class="col-sm-6">
            <label>Suppliers:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedSupplierIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Suppliers...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownSuppliers", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-12">
        </div>
        <div class="col-sm-6">
            <label>Departments:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedDepartmentIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Departments...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownDepartments", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-6">
            <label>Ordered On Behalf of:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedOnBehalfOfIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search  for Ordered on Behalf of...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownRequestors", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-12">
        </div>
        <div class="col-sm-6">
            <label>Material Types:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedMaterialTypeIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Material Types...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownMaterialTypes", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-6">
            <label>Project Code:</label>
            @(Html.Kendo().MultiSelect()
                .Name("relatedProjectCodeIDs")
                .DataTextField("Name")
                .DataValueField("ID")
                .Placeholder("Search for Project Code...")
                .Filter(FilterType.Contains)
                .AutoBind(false)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("DropDownProjectCodes", "Dropdowns");
                    });
                })
                .Events(e => e.Change("Refresh"))
                .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
                )
        </div>
        <div class="col-sm-12">
            <br />
            <a class="btn btn-danger" onclick="ClearAdvancedSearch()" style="float:right">Close</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default">
                    <div class="panel-body">
                        @if (!User.IsInRole("Viewer"))
                        {
                            <a class="btn btn-primary" href="#" onclick="NewPurchase(); return false;" style="width:100%; padding:10px"><span class="glyphicon glyphicon-file"></span>&nbsp;New Purchase</a>
                            <hr />
                        }
                        @* Generate Filter buttons based on ViewBags.  *@
                        @foreach (JMS.Models.PurchaseStatusViewModel stat in ViewBag.StatusOptions as List<JMS.Models.PurchaseStatusViewModel>)
                        {
                            if (stat.Name == "Enquiry" || stat.Name == "Quoted")
                            {
                                <a id="Btn_f@(stat.Name.Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: grey; border:grey;"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;@(stat.Name)</a>
                            }
                            else
                            {
                                <a id="Btn_f@(stat.Name.Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: @(stat.HexColour); border:@(stat.HexColour);"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;@(stat.Name)</a>
                            }
                        }
                        <a href="#" style="font-size:x-small" onclick="SelectAll();">Select All</a>
                        <a href="#" style="font-size:x-small; float:right" onclick="SelectNone();">Select None</a>
                        <hr />
                        @(Html.Kendo().DropDownList()
                            .Name("DD_Date")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DD_DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "All Purchases", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value((string)ViewBag.dateType)
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                          .Name("DP_From")
                                          .Value((string)ViewBag.fromD)
                                          .HtmlAttributes(new { style = "width: 100%" })
                                          .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                            .Name("DP_To")
                                            .Value((string)ViewBag.toD)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: inline-block; padding-left: 5px; width: calc(100% - 235px);">
                <div class="pull-right" style=" margin-top: 10px;">
                    @Html.Kendo().CheckBox().Name("ShowOnlyYetToReceive").Label("Show Only Yet to Receive").HtmlAttributes(new { @onclick = "Refresh()"})
                </div>
                <div class="input-group" style="max-width: 600px; margin-bottom: 5px">
                    @Html.TextBox("TB_PurchaseFilter", (string)ViewBag.filterText, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Po No, Title, or Part No, Supplier Ref" })
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                @(Html.Kendo().Grid<JMS.Models.PurchaseGridViewModel>()
                .Name("GridPurchases")
                .HtmlAttributes(new { style = "min-width: 500px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Purchases").Empty("No Purchases Found")))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(m => m.PurchaseStatusID).Title("Status").ClientTemplate("<div class='label label-info' style='background-color: #=Status.HexColour#'>#=Status.Name#</div>").Width("1%");
                    columns.Bound(m => m.DateOrdered).ClientTemplate("#if(DateOrdered){#<label class='label label-info'>#=kendo.toString(DateOrdered, 'dd/MM/yyyy')#</label>#}#").Width("1%");
                    columns.Bound(m => m.DateDue).ClientTemplate("#if(DateDue){#<label class='label label-primary'>#=kendo.toString(DateDue, 'dd/MM/yyyy')#</label>#}#").Width("1%");
                    columns.Bound(m => m.SupplierID).Title("Supplier").ClientTemplate("<a href='/Suppliers/Goto/#=SupplierID#' target='_blank' title='Go to #=SupplierName#'>#=SupplierName#</a>");
                    columns.Bound(m => m.SupplierRef).Title("Supplier Ref");
                    columns.Bound(m => m.MaterialTypeID).Title("Material Type").ClientTemplate("#=MaterialTypeName#");
                    columns.Bound(m => m.PartNo).ClientTemplate("#if(PartNo){#<a href='\\#' onclick='EditPurchase(\"#=ID#\"); return false;'>#=PartNo#</a>#}#");
                    columns.Bound(m => m.Title).Title("Description").ClientTemplate("#if(Title){#<a href='\\#' onclick='EditPurchase(\"#=ID#\"); return false;'>#=Title#</a>#}#");
                    columns.Bound(m => m.QtyOrdered).HtmlAttributes(new {@class = "div-inline"});
                    columns.Bound(m => m.QtyReceived).HtmlAttributes(new {@class = "div-inline"});
                    columns.Bound(m => m.UnitPrice).Format("£{0:#,#.##}").HtmlAttributes(new {@class = "div-inline"});
                    columns.Bound(m => m.PurchaseTotal).Format("£{0:#,#.##}").HtmlAttributes(new {@class = "div-inline"});
                    columns.Bound(m => m.PONo).ClientTemplate("#if(PONo){#<a href='\\#' onclick='EditPurchase(\"#=ID#\"); return false;'>#=PONo#</a>#}#");
                    columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick='EditPurchase(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }).Visible(!User.IsInRole("Viewer")).Width("1%");
                })
                .Sortable()
                .Editable(editable => editable.ConfirmDelete("Are you sure you want to delete this Purchase?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "PurchaseGrid").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "PurchaseGrid"))
                    .Events(events => events.Error("KendoGridErrorHandler"))
                )
                .Events(events => events.DataBound("PreKendoGridDatabound"))
                )
            </div>
        </div>
    </div>

</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditPurchase" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditPurchase_Body"></div>
    </div>
</div>

<div id="SlideContent_EditMaterialTypes" class="panel panel-default" style="z-index: 1130; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    @Html.Partial("_MaterialTypes")
</div>



<script>

    @if (!string.IsNullOrEmpty(ViewBag.PurchaseID))
    {
        <text>
    EditPurchase('@ViewBag.PurchaseID');
    </text>
    }

    $(document).ready(function () {
        var id = $("#DD_Date").data("kendoDropDownList").value();
        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }
    });

    function PreKendoGridDatabound(e) {
        var today = new Date();
        // Highlight cell
        var grid = e.sender;
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            //get the item uid
            var currentUid = gridData[i].uid;
            var row = grid.table.find("tr[data-uid='" + currentUid + "']");
            //if the record fits the custom condition
            if (gridData[i].QtyOrdered != gridData[i].QtyReceived) {
                row.css('color', 'red');
                if (gridData[i].DateDue != null) {
                    if (gridData[i].DateDue < today) {
                        console.log(123)
                        row.css('background-color', '#F7CA18');
                    }
                }
            }
        }
        KendoGridDatabound(e);
    }

    function Refresh() {
        var grid = $("#GridPurchases").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function ChangeStatus(statusID) {
        switch (statusID) {

            @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.PurchaseStatusViewModel>)
            {
                <text>

            case @(stat.ID):
                if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) {
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
                }
                else{
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
                }
                $("#Span_f@(stat.Name.Replace(" ", ""))").toggleClass('glyphicon-unchecked glyphicon-check');
                break;
                </text>
            }
        }

        Refresh();
    }

    function SelectAll(){

        @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.PurchaseStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-check');
            </text>
        }

        Refresh();

    }

    function SelectNone(){

        @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.PurchaseStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-check');
            </text>
        }

        Refresh();
    }

    function DD_DateChanged() {
        var id = $("#DD_Date").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function RefreshContacts() {
        var grid = $("#GridContactsSearch").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        var stats = [];
        @foreach (var stat in ViewBag.StatusOptions as List<JMS.Models.PurchaseStatusViewModel>)
        {
            <text>
            if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) stats.push("@(stat.ID)");
            </text>
        }

        return {
            filterText: $('#TB_PurchaseFilter').val(),
            dateType: $("#DD_Date").data("kendoDropDownList").value(),
            fromD: kendo.toString($("#DP_From").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toD: kendo.toString($("#DP_To").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            statuses: stats,
            relatedJobIDs: $("#relatedJobIDs").data("kendoMultiSelect").value(),
            relatedSupplierIDs: $("#relatedSupplierIDs").data("kendoMultiSelect").value(),
            relatedDepartmentIDs: $("#relatedDepartmentIDs").data("kendoMultiSelect").value(),
            relatedOnBehalfOfIDs: $("#relatedOnBehalfOfIDs").data("kendoMultiSelect").value(),
            relatedMaterialTypeIDs: $("#relatedMaterialTypeIDs").data("kendoMultiSelect").value(),
            relatedProjectCodeIDs: $("#relatedProjectCodeIDs").data("kendoMultiSelect").value(),
            showOnlyYetToReceive: $('#ShowOnlyYetToReceive').is(':checked')
        }
    }

    function ClearAdvancedSearch() {
        $("#relatedJobIDs").data("kendoMultiSelect").value([]);
        $("#relatedSupplierIDs").data("kendoMultiSelect").value([]);
        $("#relatedDepartmentIDs").data("kendoMultiSelect").value([]);
        $("#relatedOnBehalfOfIDs").data("kendoMultiSelect").value([]);
        $("#relatedMaterialTypeIDs").data("kendoMultiSelect").value([]);
        $('#div_AdvancedSearch').slideToggle();
        Refresh();
    }

    $("#TB_PurchaseFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    $("#TB_ContactFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshContacts();
        //}
    });


    //Below the following functions are used the show/hide the content panels.
    function NewPurchase() {
        $("#EditPurchase_Body").load("@Url.Action("_NewPurchase", "Purchases")");

        $("#SlideContent_EditPurchase").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditPurchase").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function EditPurchase(id) {
        var url = '@Url.Action("_EditPurchase", "Purchases")' + '?ID=' + id;
        $("#EditPurchase_Body").load(url);

        $("#SlideContent_EditPurchaseTypes").fadeOut();
        $("#SlideContent_SearchContacts").fadeOut();

        $("#SlideContent_EditPurchase").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditPurchase").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedPurchase(id) {
        var url = '@Url.Action("_EditPurchase", "Purchases")' + '?ID=' + id;
        $("#EditPurchase_Body").load(url);
    }

    function EditMaterialTypes() {
        var grid = $('#GridMaterialTypes').data('kendoGrid');
        grid.dataSource.read();
        $("#SlideContent_EditMaterialTypes").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditMaterialTypes").fadeIn();
        $("#Button_Close_Content").fadeIn();

    }

    function HideViews() {
        $("#SlideContent_EditPurchase").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditMaterialTypes").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditPurchase").fadeOut();
            $("#SlideContent_EditMaterialTypes").fadeOut();
            $("#Button_Close_Content").fadeOut();
        }, 300);
    }


    @if (ViewBag.EditCRM)
    {
        <text>
        function OnGridPurchaseTypesRequestEnd(e) {
            //RequestEnd handler code
            if (e.type != 'read') {
                $("#DD_Types").data("kendoDropDownList").dataSource.read();
            }
        }
        </text>
    }

    function Recalculate() {
        var unitPirce= $('#UnitPrice').data('kendoNumericTextBox').value();
        var qty = $('#QtyOrdered').data('kendoNumericTextBox').value();
        $('#PurchaseTotal').data('kendoNumericTextBox').value(unitPirce * qty);
        $('#PurchaseTotal').data('kendoNumericTextBox').trigger('change');
    }


    @*@if (ViewBag.ExportCRM)
    {
        <text>

    function ExportPurchases() {
        var filterText = $('#TB_PurchaseFilter').val();
        var type = $("#DD_Types").data("kendoDropDownList").value();

        var url = '@Url.Action("Export", "PurchaseGrid")' + '?filterText=' + filterText + '&type=' + type;
        window.open(url, "_blank");
    }

    </text>
    }*@


</script>


