﻿@model JMS.Models.ChangeUserPasswordViewModel
@{
    ViewBag.Title = "Change User Password";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h2>Change User Account Password</h2>
            <h4 style="color:grey">@Model.Email</h4>
        </div>
        <div class="col-sm-4">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Account/Manage/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Manage Account</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Email)
                <div class="row" style="margin:0px; padding:0px;">
                    <div class="col-sm-4">
                        <label>New Password:</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <br />

                        <label>Confirm New Password:</label>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        <br />
                    </div>

                    <div class="col-sm-12">
                        <hr />
                        <input type="submit" value="Change Password" class="btn btn-inverse" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
