﻿@model JMS.Models.JobViewModel
<br />

@if (ViewBag.EditJobs)
{
    <a class="btn btn-info btn-sm" onclick="$('#GridComments').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-comment"></span>&nbsp;New Comment</a>
}

@(Html.Kendo().Grid<JMS.Models.JobCommentViewModel>()
    .Name("GridComments")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Comments").Empty("No Comments Found")))
    .Columns(columns =>
    {
        columns.Bound(p => p.Timestamp).ClientTemplate("<span class='label label-info'>#=kendo.toString(Timestamp, 'HH:mm  dd/MM/yy')#</span>").Width("1%");
        columns.Bound(p => p.Email).Width("1%");
        columns.Bound(p => p.Message).Title("Message").EditorTemplateName("TextAreaTemplate");

        if (ViewBag.EditJobs)
        {
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
            }
            ).Width("90px");
        }
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this log?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Sort(sort => sort.Add("Timestamp").Descending()) // <-- initial sort expression
        .Model(model => { 
            model.Id(l => l.ID);
            model.Field(l => l.JobID).Editable(false).DefaultValue(Model.ID);
            model.Field(l => l.Email).Editable(false).DefaultValue("");
            model.Field(l => l.Timestamp).Editable(false).DefaultValue(DateTime.Now); 
        })
        .Create(create => create.Action("Create", "JobComments", new { jobID = Model.ID }))
        .Read(read => read.Action("Read", "JobComments", new { jobID = Model.ID }))
        .Update(update => update.Action("Update", "JobComments"))
        .Destroy(destroy => destroy.Action("Destroy", "JobComments"))
        .Events(events => events.RequestEnd("OnGridCommentsRequestEnd"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)

<script>
    function OnGridCommentsRequestEnd(e) {
        if (e.type != 'read') {
            $("#GridComments").data("kendoGrid").dataSource.read();
        }
    }
</script>

<br />
<br />