﻿@model JMS.Models.JobViewModel

@Html.Partial("_EditJobDetails", Model)

<div class="row">
    <div class="col-sm-12" style="padding:35px;">
        <br />
        @(Html.Kendo().TabStrip().Scrollable(false)
        .Name("Job_Tabstrip")
        .Items(tabstrip =>
        {
            tabstrip.Add().Text("Orders").Content(@Html.Partial("_TabPurchases", Model).ToHtmlString()).Selected(true);
            tabstrip.Add().Text("Quotes").Content(@Html.Partial("_TabQuotes", Model).ToHtmlString()).Selected(false);
            tabstrip.Add().Text("Enquiries").Content(@Html.Partial("_TabEnquiries", Model).ToHtmlString()).Selected(false);
            /*
            if (Model.IsSupplier)
            {
                tabstrip.Add().Text("Supplier Categories").Content(@Html.Partial("_CategoriesTab", Model).ToHtmlString()).Selected(false);
            }
            */
        }))
    </div>
</div>

<style>
    #divEditJob td {
        padding-left: 10px !important;
    }

    #divEditJob label {
        white-space: nowrap;
    }
</style>