﻿@model JMS.Models.JobViewModel

<div id="divEditJob">
     <script> $("divEditJob").submit(function (e) { e.preventDefault(e); }); </script>
    
    <div class="row form-table" style="margin-left:5px; margin-right:5px;">
        <div class="col-sm-12">
            @using (Ajax.BeginForm((ViewBag.EditCRM) ? "_EditJobDetails" : "", "Jobs", new AjaxOptions { UpdateTargetId = "divEditJob" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                <div id="div_Body" class="row">
                    <div class="col-xs-9">
                        <h2>Edit Job</h2>
                    </div>
                    <div class="col-xs-3">
                        <br />
                        <div style="float:right;">
                            @if (!User.IsInRole("Viewer"))
                            {
                                <text>
                                <input type="submit" value="Save Changes" class="btn btn-sm btn-inverse">&nbsp;
                                </text>
                            }
                            <a class="btn btn-sm btn-default" onclick="HideViews()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                            @if (ViewBag.Saved != null)
                            {
                                <br />
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                    <div class="col-sm-12">
                        <table>
                            <tr>
                                <td style="width:100px;"></td>
                                <td><label for="JobID">Job No.:</label></td>
                                <td>@Html.TextBoxFor(model => model.JobID, new { @class = "form-control", @placeholder = "Job No.", @style = "width:100%;" })</td>
                                <td><label for="Title">Title:</label></td>
                                <td colspan="3">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Title", @style = "width:100%; max-width:none;" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </td>
                                <td><label for="HistoricJID">Historic JID</label></td>
                                <td>@Html.TextBoxFor(model => model.HistoricJID, new { @class = "form-control", @placeholder = "Historic JID", @style = "width:100%;" })</td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td></td>
                                <td><label for="DepartmentID" style="width:100px;">Department:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.DepartmentID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownDepartments", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                    @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                </td>
                                <td><label for="LocationID" style="width:100px;">Location:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.LocationID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownLocations", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                                <td><label for="ProjectCodeID" style="width:100px;">ProjectCode:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.ProjectCodeID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .Filter(FilterType.Contains)
                                          .DataSource(dataSource => dataSource.Read("DropDownProjectCodes", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                                <td><label for="DrawingNo" style="width:100px;">Drawing No:</label></td>
                                <td>@Html.TextBoxFor(model => model.DrawingNo, new { @class = "form-control", @placeholder = "Drawing Number", @style = "width:100%;" })</td>

                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td></td>
                                <td><label for="EquipmentNo">Equipment No:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.EquipmentNoID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownEquipments", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                                <td><label for="JobTypeID">Job Type:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.JobTypeID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownJobTypes", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                    @Html.ValidationMessageFor(model => model.JobTypeID, "", new { @class = "text-danger" })
                                </td>
                                <td><label for="UrgencyLevelID">Urgency:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.UrgencyLevelID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel(" ")
                                          .DataSource(dataSource => dataSource.Read("DropDownJobUrgencyLevels", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                                <td><label for="ExternalProjectID">External Project:</label></td>
                                <td>@Html.TextBoxFor(model => model.ExternalProjectID, new { @class = "form-control", @placeholder = "External Project", @style = "width:100%;" })</td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td><label style="color: red;">Dates</label></td>
                                <td><label for="SubmittedDate">Submitted</label></td>
                                <td>@Html.Kendo().DatePickerFor(model => model.SubmittedDate).Format("dd/MM/yy").HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                                <td><label for="RequiredByDate">Required By:</label></td>
                                <td>@Html.Kendo().DatePickerFor(model => model.RequiredByDate).Format("dd/MM/yy").HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                                <td><label for="StartedDate">Planned Start:</label></td>
                                <td>@Html.Kendo().DatePickerFor(model => model.StartedDate).Format("dd/MM/yy").HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                                <td><label for="CompletionDate">Est Completion:</label></td>
                                <td>@Html.Kendo().DatePickerFor(model => model.CompletionDate).Format("dd/MM/yy").HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td></td>
                                <td><label for="EstimatedCompletion">Percent Complete:</label></td>
                                <td>
                                    @(Html.Kendo().SliderFor(model => model.EstimatedCompletion)
                                          .Min(0)
                                          .Max(100)
                                          .SmallStep(1)
                                          .LargeStep(10)
                                    )
                                </td>
                                <td><label for="ClosedDate">Closed:</label></td>
                                <td>@Html.Kendo().DatePickerFor(model => model.ClosedDate).Format("dd/MM/yy").HtmlAttributes(new { @style = "max-width: 280px; width:100%" })</td>
                                <td><label for="TrackingStarted">Tracking Started:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.TrackingStarted)</td>
                                <td><label for="TrackingDone">Tracking Done:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.TrackingDone)</td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td><label style="color: red;">Status</label></td>
                                <td><label for="StatusJob">Job:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.StatusJobID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(dataSource => dataSource.Read("DropDownJobStatuses", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                                <td><label for="StatusInfoRequired">Info Required:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.StatusInfoRequired)</td>
                                <td><label for="StatusDesign">Design:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.StatusDesignID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(dataSource => dataSource.Read("DropDownJobDesignStatuses", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                                <td><label for="StatusElectrical">Electrical:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.StatusElectricalID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(dataSource => dataSource.Read("DropDownJobElectricalStatuses", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td></td>
                                <td><label for="StatusSoftware">Software:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.StatusSoftwareID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(dataSource => dataSource.Read("DropDownJobSoftwareStatuses", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                                <td><label for="StatusWorkshop">Workshop:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.StatusWorkshopID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(dataSource => dataSource.Read("DropDownJobWorkshopStatuses", "Dropdowns"))
                                          .HtmlAttributes(new { @style = "max-width: 280px; width:100%" })
                                    )
                                </td>
                                <td><label for="StatusWorkshopEstHrs">Workshop Est Hrs:</label></td>
                                <td>@Html.TextBoxFor(model => model.StatusWorkshopEstHrs, new { @class = "form-control", @placeholder = "WorkshopEstHrs", @style = "width:100%;" })</td>
                                <td><label for="OnHarvest">On Harvest:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.OnHarvest)</td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td><label style="color: red;">Stage</label></td>
                                <td><label for="StageConcept">Concept:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.StageConcept)</td>
                                <td><label for="StageLaunch">Launch:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.StageLaunch)</td>
                                <td><label for="StagePrelimDesign">Prelim Design:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.StagePrelimDesign)</td>
                                <td><label for="StageFinalDesign">Final Design:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.StageFinalDesign)</td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td></td>
                                <td><label for="StageConstruction">Construction:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.StageConstruction)</td>
                                <td><label for="StageDelivery">Delivery:</label></td>
                                <td>@Html.Kendo().CheckBoxFor(model => model.StageDelivery)</td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td><label for="FileLocation">File location</label></td>
                                <td colspan="8">
                                    <div class="input-group" style="max-width:none; width:100%;">
                                        <span class="input-group-btn">
                                            <a class="btn btn-default" onclick="GoToFileLocation(); return false;" title="Go to File Location"><span class="glyphicon glyphicon-link"></span></a>
                                        </span>
                                        @Html.TextBoxFor(model => model.FileLocation, new { @class = "form-control", @placeholder = "FileLocation", @style = "max-width: none; width:100%;" })
                                        <span class="input-group-btn">
                                            <a class="btn btn-default" onclick="GoToFileLocation(); return false;" title="Go to File Location"><span class="glyphicon glyphicon-link"></span></a>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td><label for="EngineerIDs" style="color: red;">Engineers</label></td>
                                <td colspan="8">
                                    @(Html.Kendo().MultiSelectFor(mdoel => Model.EngineerIDs)
                                                  .DataValueField("ID")
                                                  .DataTextField("Name")
                                                  .DataSource(dataSource => dataSource.Read("DropDownEngineers", "Dropdowns"))
                                    )
                                </td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td><label for="RequestorIDs" style="color: red;">Requestors</label></td>
                                <td colspan="8">
                                    @(Html.Kendo().MultiSelectFor(mdoel => Model.RequestorIDs)
                                                .DataValueField("ID")
                                                .DataTextField("Name")
                                                .DataSource(dataSource => dataSource.Read("DropDownRequestors", "Dropdowns"))
                                    )
                                    @Html.ValidationMessageFor(model => model.RequestorIDs, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td style="vertical-align:baseline"><label style="color: red;">Current Issues</label></td>
                                <td colspan="8">
                                    @if (!User.IsInRole("Viewer"))
                                    {
                                        <span class="btn btn-xs btn-warning" style="margin-bottom:5px;" onclick="$('#GridJobIssues').data('kendoGrid').addRow(); return false;">Add Issue</span>
                                    }
                                    @(Html.Kendo().Grid<JMS.Models.JobIssueGridViewModel>()
                                                  .Name("GridJobIssues")
                                                  .HtmlAttributes(new { style = "min-width: 660px;" })
                                                  .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Issues").Empty("No Issues Found")))
                                                  .Columns(columns =>
                                                  {
                                                      columns.Bound(q => q.ID).Hidden();
                                                      columns.Bound(q => q.EstCompleteDate).Title("Est Completion").ClientTemplate("<label class='label label-info'>#=kendo.toString(EstCompleteDate, \"dd/MM/yy\")#</label>").EditorTemplateName("Date").Width("1%");
                                                      columns.Bound(q => q.Details);
                                                      columns.Bound(q => q.Complete).ClientTemplate("#if(Complete){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { @class="div-inline"}).Width("1%");
                                                      columns.Command(command =>
                                                      {
                                                          command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                                                          command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete'/>");
                                                      }).Visible(!User.IsInRole("Viewer")).Width("90px");
                                                  })
                                                  .Sortable()
                                                  .Editable(editable => editable.CreateAt(GridInsertRowPosition.Top).Mode(GridEditMode.InLine))
                                                  .DataSource(dataSource => dataSource
                                                      .Ajax()
                                                      .Model(model =>
                                                      {
                                                          model.Id(q => q.ID);
                                                          model.Field(q => q.JobID).Editable(false).DefaultValue(Model.ID);
                                                          model.Field(q => q.EstCompleteDate).Editable(true).DefaultValue(DateTime.Now);
                                                          model.Field(q => q.Complete).Editable(true).DefaultValue(false);
                                                      })
                                                      .Create(create => create.Action("Create", "JobIssueGrid"))
                                                      .Read(read => read.Action("Read", "JobIssueGrid", new { jobID = Model.ID })).PageSize(25)
                                                      .Update(update => update.Action("Update", "JobIssueGrid"))
                                                      .Destroy(destroy => destroy.Action("Destroy", "JobIssueGrid"))
                                                  )
                                                  .Events(events => events.DataBound("KendoGridDatabound"))
                                                  .AutoBind(true)

                                    )
                                </td>
                            </tr>
                            <tr class="spacer"><td></td></tr>
                            <tr>
                                <td style="vertical-align:baseline"><label style="color: red;">Status History</label></td>
                                <td colspan="8">
                                    @if (!User.IsInRole("Viewer"))
                                    {
                                        <span class="btn btn-xs btn-warning" style="margin-bottom:5px;" onclick="$('#GridJobStatusHistories').data('kendoGrid').addRow(); return false;">Add Status History</span>
                                    }
                                    @(Html.Kendo().Grid<JMS.Models.JobStatusHistoryGridViewModel>()
                                                  .Name("GridJobStatusHistories")
                                                  .HtmlAttributes(new { style = "min-width: 660px;" })
                                                  .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Histories").Empty("No Histories Found")))
                                                  .Columns(columns =>
                                                  {
                                                      columns.Bound(q => q.ID).Hidden();
                                                      columns.Bound(q => q.Timestamp).ClientTemplate("<label class='label label-info'>#=kendo.toString(Timestamp, \"dd/MM/yy\")#</label>").EditorTemplateName("Date").Width("1%");
                                                      columns.Bound(q => q.Message);
                                                      columns.Command(command =>
                                                      {
                                                          command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit'/>").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn'/>");
                                                          command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete'/>");
                                                      }).Visible(!User.IsInRole("Viewer")).Width("90px");
                                                  })
                                                  .Sortable()
                                                  .Editable(editable => editable.CreateAt(GridInsertRowPosition.Top).Mode(GridEditMode.InLine))
                                                  .DataSource(dataSource => dataSource
                                                      .Ajax()
                                                      .Model(model =>
                                                      {
                                                          model.Id(q => q.ID);
                                                          model.Field(q => q.JobID).Editable(false).DefaultValue(Model.ID);
                                                          model.Field(q => q.Timestamp).Editable(true).DefaultValue(DateTime.Now);
                                                      })
                                                      .Create(create => create.Action("Create", "JobStatusHistoryGrid"))
                                                      .Read(read => read.Action("Read", "JobStatusHistoryGrid", new { jobID = Model.ID })).PageSize(25)
                                                      .Update(update => update.Action("Update", "JobStatusHistoryGrid"))
                                                      .Destroy(destroy => destroy.Action("Destroy", "JobStatusHistoryGrid"))
                                                  )
                                                  .Events(events => events.DataBound("KendoGridDatabound"))
                                                  .AutoBind(true)

                                    )
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:baseline"><label style="color: red;">Note</label></td>
                                <td colspan="8">
                                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "Note", @style = "max-width: none; width:100%; resize: vertical;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    @if (!User.IsInRole("Viewer"))
                    {
                    <div class="col-sm-12">
                        <br /><br />
                        <input type="submit" value="Save Changes" class="btn btn-inverse">&nbsp;
                        @if (ViewBag.Saved != null)
                        {
                            <label class="l_Saved"><strong>Details Saved!</strong></label>
                            <script>
                                Refresh();
                                setTimeout(function () { $(".l_Saved").fadeOut(); }, 2000);
                            </script>
                        }
                    </div>
                    }
                </div>
            }
        </div>
    </div>

</div>

<style>
    #GridJobStatusHistories.k-grid th.k-header {
        display: none;
    }
</style>

<script>
    function GoToFileLocation() {
        var url = $('#FileLocation').val();
        if (url == '') return false;
        window.open(url, '_blank');
    }
</script>