﻿
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-8">
            <h3>Associate Invoice</h3>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
        </div>
        <div class="col-xs-12">
            <hr />
            <div class="input-group">
                @Html.TextBox("TB_AssociateInvoiceFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search Invoice/Client" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="$('#GridAssociateInvoices').data('kendoGrid').dataSource.read(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
            <br />
            @(Html.Kendo().Grid<JMS.Models.InvoiceGridViewModel>()
                    .Name("GridAssociateInvoices")
                    //.HtmlAttributes(new { style = "min-width: 660px" })
                    .Pageable(p => p.PageSizes(new[] { 5 }).Messages(m => m.Display(" ").Empty("No Invoices Found")))
                    .Columns(columns =>
                    {
                        columns.Bound(q => q.Status.ID).Title("Status").Template(@<text></text>).ClientTemplate("<span class='label label-primary' style='background-color:#=Status.HexColour#'>#=Status.Name#</span>").Width("1%");
                        columns.Bound(q => q.Reference).Title("Order").ClientTemplate("<a target='_blank' title='#=Reference#' href='/Invoices/Edit/#=ID#'>#=Reference#</a>").Width("1%");
                        //columns.Bound(q => q.Description).Title("Description");
                        columns.Bound(q => q.ClientName).Title("Client");
                        columns.Bound(q => q.IsProForma).Title(" ").ClientTemplate("#if(IsProForma){#<span class='label label-default'>Pro Forma</span>#}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                        columns.Bound(q => q.TotalNet).Title("Net Price").Template(@<text></text>).ClientTemplate("<div class='div-inline'>#=CurrencySymbol##=kendo.toString(TotalNet, 'n')#</div>").HtmlAttributes(new { style = "text-align:right" }).Width("1%");

                        //columns.Bound(q => q.Created).Title("Created").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                        columns.Template(@<text></text>).ClientTemplate("<a onclick='AssociateInvoice(\"#=ID#\")' class='btn btn-xs btn-inverse' ><span class='glyphicon glyphicon-ok'></span>&nbsp;Associate</a>").Width("1%");
                    })
                    //.Sortable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model => model.Id(q => q.ID))
                        .Read(read => read.Action("ReadUnAssociated", "InvoiceGrid").Data("function() { return { filterText: $('#TB_AssociateInvoiceFilter').val() } }")).PageSize(5)
                    )
                    .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>

        <script>
            $("#TB_AssociateInvoiceFilter").keyup(function (e) {
                //if (e.keyCode == 13) {
                    $('#GridAssociateInvoices').data('kendoGrid').dataSource.read();
                //}
            });
        </script>
       
    </div>
</div>
