﻿<div class="panel-body" style="margin-top: 10px;">
    <div class="row">
        <div class="col-xs-9">
            <h2>Edit Project Codes</h2>
            <hr />
        </div>
        <div class="col-xs-3">
            <br />
            <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-info btn-sm" onclick="$('#GridProjectCodes').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Create Project Code</a>
        </div>
        <div class="col-sm-6">
            <br />
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<JMS.Models.ProjectCodeViewModel>()
                        .Name("GridProjectCodes")
                        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Project Codes").Empty("No Project Code Entered")))
                        .Columns(columns =>
                        {
                            columns.Bound(t => t.Code).Title("Code");
                            columns.Command(command =>
                            {
                                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                            }
                            ).Width("90px");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this project code?"))
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                                model.Field(t => t.ID).Editable(false);
                            })

                            .Create(create => create.Action("Create", "ProjectCodes"))
                            .Read(read => read.Action("Read", "ProjectCodes"))
                            .Update(update => update.Action("Update", "ProjectCodes"))
                            .Destroy(destroy => destroy.Action("Destroy", "ProjectCodes"))
                            .Events(events => events.Error("KendoGridErrorHandler"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                        .AutoBind(false)
            )
        </div>
    </div>
</div>