﻿@model JMS.Models.JobViewModel

<br />
<script>
    function UpdateTotal_TabQuotes(e) {
        if (e.response != null)
            $('#Label_QuoteTotal').text('Total Price Sum: ' + kendo.toString(parseFloat(e.response.PurchaseTotal), "C"));
    }
</script>

<div class="container" style="padding:0 3px 0 1px;">
    <div class="row">
        <div class="col-sm-12">
            <label class="pull-right" id="Label_QuoteTotal"></label>
        </div>
    </div>

    @(Html.Kendo().Grid<JMS.Models.PurchaseGridViewModel>()
              .Name("GridQuotes")
              .HtmlAttributes(new { style = "min-width: 900px" })
              .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Purchases").Empty("No Purchases Found")))
              .Columns(columns =>
              {
                  columns.Bound(x => x.SupplierName).Title("Supplier");
                  columns.Bound(x => x.PartNo).ClientTemplate("#if(PartNo){#<a href='/Purchases/GoTo/#=ID#' target='_blank' title='Go to #=Title#'>#=PartNo#</a>#}#");
                  columns.Bound(x => x.PONo).Width("1%").ClientTemplate("#if(PONo){#<a href='/Purchases/GoTo/#=ID#' target='_blank' title='Go to #=Title#'>#=PONo#</a>#}#");
                  columns.Bound(x => x.Title).ClientTemplate("#if(Title){#<a href='/Purchases/GoTo/#=ID#' target='_blank' title='Go to #=Title#'>#=Title#</a>#}#");
                  columns.Bound(x => x.PurchaseTotal).Title("Total Price").ClientTemplate("#=kendo.toString(PurchaseTotal, 'C')#").HtmlAttributes(new { @class = "div-inline" }).Width("1%");
                  //columns.Template(@<text></text>).ClientTemplate("<a href='/Purchases/GoTo/#=ID#' target='_blank' title='Go to #=PONo#'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
              })
              //.Sortable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  //.Sort(sort => sort.Add("Timestamp").Descending()) // <-- initial sort expression
                  .Model(model =>
                  {
                      model.Id(l => l.ID);
                  })
                  .Read(read => read.Action("Read", "PurchaseGrid", new { jobID = Model.ID }).Data("function() { return { statuses: [2] } }")).PageSize(10)
                  .Events(events => events.RequestEnd("UpdateTotal_TabQuotes"))
              )
              .Events(events => events.DataBound("KendoGridDatabound"))

    )
</div>
