﻿@{
    ViewBag.Title = "Jobs";
}

<div class="container">
    <div class="row">
        <div class="col-sm-7" style="padding-left: 20px;">
            <h1>Your Jobs</h1>
        </div>
        <div class="col-sm-5">
            <br />
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-6" style="padding-left: 20px;">
            @if (!User.IsInRole("Viewer"))
            {
                <a class="btn btn-warning" onclick="EditLocations()"><span class=" glyphicon glyphicon-bookmark"></span>&nbsp;Edit Locations</a>
                <a class="btn btn-info" onclick="EditProjectCodes()"><span class=" glyphicon glyphicon-bookmark"></span>&nbsp;Edit Project Codes</a>
            }
            <a class="btn btn-default" onclick="$('#div_AdvancedSearch').slideDown();"><span class="glyphicon glyphicon-search"></span>&nbsp;Advanced Search</a>
        </div>
        <div class="col-xs-2">
            <br />
        </div>
        <div class="col-xs-4">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row" id="div_AdvancedSearch" style="display:none">
        <div class="col-sm-6">
            <label>Requestors:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedRequestorIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Requestors...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownRequestors", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class="advanced-multiselect" })
            )
        </div>
        <div class="col-sm-6">
            <label>Engineers:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedEngineerIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Engineers...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownEngineers", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class= "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-12">
        </div>
        <div class="col-sm-6">
            <label>Departments:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedDepartmentIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Departments...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownDepartments", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class= "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-6">
            <label>Job Types:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("jobTypes")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Job Types...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownJobTypes", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class= "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-12">
        </div>
        <div class="col-sm-6">
            <label>Equip No:</label>
                        @(Html.Kendo().MultiSelect()
                  .Name("relatedEquipmentIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Equip No...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownEquipments", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
                        )
        </div>
        <div class="col-sm-6">
            <label>Locations:</label>
            @(Html.Kendo().MultiSelect()
                  .Name("relatedLocationIDs")
                  .DataTextField("Name")
                  .DataValueField("ID")
                  .Placeholder("Search for Locations...")
                  .Filter(FilterType.Contains)
                  .AutoBind(false)
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("DropDownLocations", "Dropdowns");
                      });
                  })
                  .Events(e => e.Change("Refresh"))
                  .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
            )
        </div>
        <div class="col-sm-12">
        </div>
        <div class="col-sm-6">
            <label>Project Code:</label>
            @(Html.Kendo().MultiSelect()
                .Name("relatedProjectCodeIDs")
                .DataTextField("Name")
                .DataValueField("ID")
                .Placeholder("Search for Project Code...")
                .Filter(FilterType.Contains)
                .AutoBind(false)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("DropDownProjectCodes", "Dropdowns");
                    });
                })
                .Events(e => e.Change("Refresh"))
                .HtmlAttributes(new { style = "width: 70%;", @class = "advanced-multiselect" })
                )
        </div>
        <div class="col-sm-12">
            <br />
            <a class="btn btn-danger" onclick="ClearAdvancedSearch()" style="float:right">Close</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default">
                    <div class="panel-body">
                        @if (!User.IsInRole("Viewer"))
                        {
                            <a class="btn btn-primary" href="#" onclick="NewJob(); return false;" style="width:100%; padding:10px"><span class="glyphicon glyphicon-file"></span>&nbsp;New Job</a>
                            <hr />
                        }
                        @* Generate Filter buttons based on ViewBags.  *@
                        @foreach (JMS.Models.JobStatusViewModel stat in ViewBag.StatusOptions as List<JMS.Models.JobStatusViewModel>)
                        {
                            if (stat.Name == "Closed" || stat.Name == "Closed - Cancelled")
                            {
                                <a id="Btn_f@(stat.Name.Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: grey; border: grey;"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;@(stat.Name)</a>
                            }
                            else
                            {
                                <a id="Btn_f@(stat.Name.Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: @(stat.HexColour); border:@(stat.HexColour);"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;@(stat.Name)</a>
                            }
                        }
                        <a href="#" style="font-size:x-small" onclick="SelectAll();">Select All</a>
                        <a href="#" style="font-size:x-small; float:right" onclick="SelectNone();">Select None</a>
                        <hr />
                        @(Html.Kendo().DropDownList()
                            .Name("DD_Date")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DD_DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "All Jobs", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value((string)ViewBag.dateType)
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                          .Name("DP_From")
                                          .Value((string)ViewBag.fromD)
                                          .HtmlAttributes(new { style = "width: 100%" })
                                          .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                            .Name("DP_To")
                                            .Value((string)ViewBag.toD)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                <a class="btn btn-xs btn-inverse" onclick="Export();" style="float:right; margin-top: 10px;"><span class="glyphicon glyphicon-export"></span>&nbsp;Export Jos On Progressing</a>
                <div class="input-group" style="max-width: 600px; margin-bottom: 5px">
                    @Html.TextBox("TB_Filter", (string)ViewBag.filterText, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Order, or Title" })
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                @*<a class="btn btn-default btn-sm" onclick="Refresh()" style="margin-bottom:5px;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh</a>*@
                                @(Html.Kendo().Grid<JMS.Models.JobGridViewModel>()
                                              .Name("GridJobs")
                                              .HtmlAttributes(new { style = "min-width: 660px" })
                                              .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Jobs").Empty("No Jobs Found")))
                                              .Columns(columns =>
                                              {
                                                  columns.Bound(q => q.JobID).Title("Job No.").ClientTemplate("<div class='div-inline'><a href='\\#' onclick='EditJob(\"#=ID#\")' title='Edit'><strong>#=JobID#</strong></a></div>").Width("1%");
                                                  columns.Bound(q => q.Title).Title("Title").ClientTemplate("<a href='\\#' onclick='EditJob(\"#=ID#\")' title='#=Title#'><strong>#=Title#</strong></a>");
                                                  columns.Bound(q => q.UrgencyLevelID).Title("Urgency").ClientTemplate("#if(UrgencyLevelID){# <label class='label label-primary' style = 'background-color:#=UrgencyLevel.HexColour#;'>#=UrgencyLevel.Name#</label> #}#").HtmlAttributes(new { @class = "div-inline" });
                                                  columns.Bound(q => q.JobTypeID).Title("Job Type").ClientTemplate("#=JobType#");
                                                  columns.Bound(q => q.ProjectCodeID).Title("Project Code").ClientTemplate("#=ProjectCode#");
                                                  columns.Bound(q => q.LocationID).Title("Location").ClientTemplate("#=Location#");
                                                  columns.Bound(q => q.DepartmentID).Title("Department").ClientTemplate("<a href='/Departments/Goto/#=DepartmentID#' target='_blank' title='Go to #=Department#'>#=Department#</a>").HtmlAttributes(new { @class = "div-inline"});
                                                  columns.Bound(q => q.SubmittedDate).Title("Submitted").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                                  columns.Bound(q => q.PlannedStartDate).Title("Planned<br />Started").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                                  columns.Bound(q => q.EstCompleteionDate).Title("Planned<br />Completion").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                                  columns.Bound(q => q.ClosedDate).Title("Closed").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                                  columns.Bound(q => q.PercentComplete).Title("Percent<br />Complete").ClientTemplate("#if(PercentComplete != 0){##=PercentComplete#%#}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                                  columns.Bound(q => q.OnHarvest).Title("On<br />Harvest").ClientTemplate("#if(OnHarvest){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                                  columns.Bound(q => q.TrackingStarted).Title("Tracking<br />Started").ClientTemplate("#if(TrackingStarted){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                                  columns.Bound(q => q.TrackingDone).Title("Tracking<br />Done").ClientTemplate("#if(TrackingDone){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                                  columns.Bound(q => q.StatusJobID).Title("Status").ClientTemplate("<label class='label label-primary' style = 'background-color:#=JobStatus.HexColour#;'>#=JobStatus.Name#</label>").HtmlAttributes(new { @class = "div-inline" });
                                                  columns.Bound(q => q.TotalSpend).Title("Total Spend").Format("{0:£#,#.00}").HtmlAttributes(new {@style = "text-align: right"}).Sortable(false);
                                                  columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick='EditJob(\"#=ID#\")' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                                                  //columns.Command(command => { command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete'/>"); }).Width("1%");
                                              })
                                              .Sortable()
                                              .DataSource(dataSource => dataSource
                                                  .Ajax()
                                                  .Model(model => model.Id(q => q.ID))
                                                  .Read(read => read.Action("Read", "JobGrid").Data("GetSearchInfo")).PageSize(25)
                                                  .Destroy(destroy => destroy.Action("Destroy", "JobGrid"))
                                              )
                                              .Events(events => events.DataBound("PreKendoGridDatabound"))
                                              .AutoBind(false)
                ) 
            </div>
        </div>
    </div>

    <style>
        .div-inline {
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            align-items: center;
        }
        #GridJobs .k-grid-header th {
            text-align: center !important;
            vertical-align: middle !important;
        }

    </style>

</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditJob" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1500px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditJob_Body"></div>
    </div>
</div>

<div id="SlideContent_EditLocations" class="panel panel-default" style="z-index: 1130; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    @Html.Partial("_Locations")
</div>

<div id="SlideContent_EditProjectCodes" class="panel panel-default" style="z-index: 1130; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    @Html.Partial("_ProjectCodes")
</div>

<script>
    @if (!string.IsNullOrEmpty(ViewBag.JobID))
    {
        <text>
            EditJob('@ViewBag.JobID');
        </text>
    }

    function PreKendoGridDatabound(e) {
        var today = new Date();
        // Highlight cell
        var grid = e.sender;
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            //get the item uid
            var currentUid = gridData[i].uid;
            var row = grid.table.find("tr[data-uid='" + currentUid + "']");
            //if the record fits the custom condition
            if (gridData[i].StatusJobID == @JMS.Models.JobStatusValues.Open || gridData[i].StatusJobID == @JMS.Models.JobStatusValues.OpenOnHold) {
                if (gridData[i].EstCompleteionDate != null) {
                    if (gridData[i].EstCompleteionDate < today) {
                        row.css('background-color', '#F7CA18');
                    }
                }
            }
        }
        KendoGridDatabound(e);
    }

    $(document).ready(function () {
        var id = $("#DD_Date").data("kendoDropDownList").value();
        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        var grid = $("#GridJobs").data("kendoGrid");
        grid.dataSource.query({ page: @ViewBag.page, pageSize: @ViewBag.pageSize });
        grid.dataSource.sort({field: '@ViewBag.sort', dir: '@ViewBag.sortDirection'});
        grid.dataSource.read();
    });


    $("#TB_Filter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    function Refresh() {
        var grid = $("#GridJobs").data("kendoGrid");
        grid.dataSource.read();
    }

    function ChangeStatus(statusID) {
        switch (statusID) {

            @foreach (JMS.Models.JobStatusViewModel stat in ViewBag.StatusOptions as List<JMS.Models.JobStatusViewModel>)
            {
                <text>

            case @(stat.ID):
                if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) {
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
                }
                else{
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
                }
                $("#Span_f@(stat.Name.Replace(" ", ""))").toggleClass('glyphicon-unchecked glyphicon-check');
                break;
                </text>
            }
        }

        Refresh();
    }

    function SelectAll(){

        @foreach (JMS.Models.JobStatusViewModel stat in ViewBag.StatusOptions as List<JMS.Models.JobStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-check');
            </text>
        }

        Refresh();

    }

    function SelectNone(){

        @foreach (JMS.Models.JobStatusViewModel stat in ViewBag.StatusOptions as List<JMS.Models.JobStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-check');
            </text>
        }

        Refresh();
    }

    function GetSearchInfo() {

        var stats = [];
        @foreach (JMS.Models.JobStatusViewModel stat in ViewBag.StatusOptions as List<JMS.Models.JobStatusViewModel>)
        {
            <text>
        if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) stats.push("@(stat.ID)");
        </text>
        }

        var SearchValues = {
            filterText: $('#TB_Filter').val(),
            statuses: stats.toString(),
            dateType: $("#DD_Date").data("kendoDropDownList").value(),
            fromD: kendo.toString($("#DP_From").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toD: kendo.toString($("#DP_To").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            statuses: stats,
            relatedDepartmentIDs: $("#relatedDepartmentIDs").data("kendoMultiSelect").value(),
            relatedRequestorIDs: $("#relatedRequestorIDs").data("kendoMultiSelect").value(),
            relatedEngineerIDs: $("#relatedEngineerIDs").data("kendoMultiSelect").value(),
            relatedEquipmentIDs: $("#relatedEquipmentIDs").data("kendoMultiSelect").value(),
            relatedLocationIDs: $("#relatedLocationIDs").data("kendoMultiSelect").value(),
            jobTypes: $("#jobTypes").data("kendoMultiSelect").value(),
            relatedProjectCodeIDs: $("#relatedProjectCodeIDs").data("kendoMultiSelect").value()
        };

        return SearchValues;
    }

    function DD_DateChanged() {
        var id = $("#DD_Date").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function Export() {
        var url = '@Url.Action("Export", "JobGrid")';
        window.open(url, "_blank");
    }

    function ClearAdvancedSearch() {
        $("#relatedDepartmentIDs").data("kendoMultiSelect").value([]);
        $("#relatedRequestorIDs").data("kendoMultiSelect").value([]);
        $("#relatedEngineerIDs").data("kendoMultiSelect").value([]);
        $("#relatedEquipmentIDs").data("kendoMultiSelect").value([]);
        $("#relatedLocationIDs").data("kendoMultiSelect").value([]);
        $("#jobTypes").data("kendoMultiSelect").value([]);
        $('#div_AdvancedSearch').slideToggle();
        Refresh();
    }

    function NewJob() {
        $("#EditJob_Body").load("@Url.Action("_NewJob", "Jobs")");

        $("#SlideContent_EditJob").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditJob").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function EditJob(id) {
        var url = '@Url.Action("_EditJob", "Jobs")' + '?ID=' + id;
        $("#EditJob_Body").load(url);

        $("#SlideContent_EditJobTypes").fadeOut();
        $("#SlideContent_SearchContacts").fadeOut();

        $("#SlideContent_EditJob").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditJob").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedJob(id) {
        var url = '@Url.Action("_EditJob", "Jobs")' + '?ID=' + id;
        $("#EditJob_Body").load(url);
    }

    function HideViews() {
        $("#SlideContent_EditJob").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditLocations").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditProjectCodes").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditJob").fadeOut();
            $("#SlideContent_EditLocations").fadeOut();
            $("#SlideContent_EditProjectCodes").fadeOut();
            $("#Button_Close_Content").fadeOut();
        }, 300);
    }

    function EditLocations() {
        var grid = $('#GridLocations').data('kendoGrid');
        grid.dataSource.read();
        $("#SlideContent_EditLocations").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditLocations").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function EditProjectCodes() {
        var grid = $('#GridProjectCodes').data('kendoGrid');
        grid.dataSource.read();
        $("#SlideContent_EditProjectCodes").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditProjectCodes").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

</script>




