﻿@model JMS.Models.UserViewModel
@{
    ViewBag.Title = "Edit User";
}

<div id="divEdit" class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Edit User Account</h2>
            <h4 style="color:grey">@Model.FirstName @Model.LastName (@Model.Email)</h4>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Users/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Users</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Ajax.BeginForm("Edit", "Users", new AjaxOptions { UpdateTargetId = "divEdit" }, FormMethod.Post))
            {  
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CompanyID)

                    <div class="row" style="margin:0px; padding:0px;">
                        <div class="col-sm-4">
                            <label>First Name:</label>
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            <br />

                            <label>Last Name:</label>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            <br />

                            <label>Role:</label><br />
                            @(Html.Kendo().DropDownListFor(model => model.RoleID)
                                        .DataTextField("Name")
                                        .DataValueField("ID")
                                        .DataSource(source => { source.Read(read => { read.Action("DropDownRoles", "Users", new { companyID = Model.CompanyID } ); }); })
                                        .AutoBind(true)
                                        .Value(Model.RoleID)
                                        .HtmlAttributes(new { style = "width: 100%; max-width: 280px;" })
                            )
                            <br />

                        </div>
                        <div class="col-sm-4">
                            <label>Email:</label><br />
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <br />

                            <label>Phone Number:</label>
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            <br />
                        </div>
                        <div class="col-sm-4">
                            <label>Select the modules user can access:</label><br />
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessCRM)
                                &nbsp;<strong>CRM</strong><span style="font-size:x-small"></span>
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessProducts)
                                &nbsp;<strong>Products</strong><span style="font-size:x-small"></span>
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessQuotations)
                                &nbsp;<strong>Quotations</strong><span style="font-size:x-small"></span>
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessJobs)
                                &nbsp;<strong>Jobs</strong><span style="font-size:x-small"></span>
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessDeliveryNotes)
                                &nbsp;<strong>Delivery Notes</strong><span style="font-size:x-small"></span>
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessInvoices)
                                &nbsp;<strong>Invoices</strong><span style="font-size:x-small"></span>
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessPurchaseOrders)
                                &nbsp;<strong>Purchase Orders</strong><span style="font-size:x-small"></span>
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.AccessStockControl)
                                &nbsp;<strong>Stock Control</strong><span style="font-size:x-small"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr />
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                        </div>
                    </div>
            }
            </div>
        </div>
    </div>


