﻿@model JMS.Models.JobsDashboardViewModel



<div class="panel panel-info">
    <div class="panel-heading" onclick="location.href='@Url.Action("Index", "Jobs")';" style="cursor: pointer;">
        <h4>Jobs</h4>
    </div>
    <div class="panel-body">
        <div class="row">            
            <div class="col-sm-6">
                <h4>Start:</h4>
                @Html.ActionLink("Create a new job", "New", "Jobs")<br />
                @Html.ActionLink("View all jobs", "Index", "Jobs")<br />
            </div>
            <div class="col-sm-6">
                <h4>Past 30 days:</h4>
                <table style="width:100%">
                    @foreach (var item in Model.Stats)
                    {
                        <tr>
                            <td style="width:1%; text-align:right; color:@item.HexColour">@item.Count </td>
                            <td style="color:@item.HexColour">&nbsp;&nbsp;@item.Name</td>
                        </tr>
                    }
                </table>
            </div>

            @if (Model.RecentJobs.Count() > 0)
            {       
                <div class="col-sm-12">
                    <br />
                    <h4>Recent:</h4>
                    <hr style="padding:0; margin:3px" />
                    <table style="width:100%">
                        @foreach (var item in Model.RecentJobs)
                        {
                            <tr>                                
                                <td style="vertical-align:text-top">
                                    <span>@Html.ActionLink(string.Format("{0} - {1}", item.Reference, item.ClientName), "Edit", "Jobs", new { ID = item.ID }, null)</span><br />
                                    <span style="font-size:small">@item.Description</span>
                                </td>
                                <td style="text-align:right">
                                    <span>@string.Format("{0}{1:#,##0.00}", item.CurrencySymbol, item.TotalNet)</span><br />
                                    <span style="font-size:smaller">@item.Created.ToShortDateString()</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr style="padding:0; margin:3px" />
                                </td>
                                <td>
                                    <hr style="padding:0; margin:3px" />
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</div>




