﻿
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-sm-12" style="margin-top: 5px; margin-bottom: 15px;">
        @*<h2>@ViewBag.Title</h2>*@
    </div>
</div>
<div class="row row-equal">


</div>
<div class="row">
    <h1 style="font-size: 50px;">Hi, @User.Identity.Name</h1>
    @if (ViewBag.Trial != null)
    {
        <div class="col-sm-12">
            <hr />
            <label>Your SNAP Suite trial ends in @ViewBag.DaysRemaining days</label><br />
            <span>To carry on beyond your trial, go to @Html.ActionLink("Settings => Subscription Details", "Index", "Subscription") </span>
        </div>
    }
</div>


<style>
    .row-equal [class="col-md-4"]:nth-child(3n+1) {
        clear: left;
    }
</style>





