﻿@{
    ViewBag.Title = "Statistics";
}

<div class="container">
    <div class="row">
        <div class="col-sm-7" style="padding-left: 20px;">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-5">
            <br />
        </div>
        <div class="col-sm-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @(Html.Kendo().Grid<JMS.Models.StatisticsGridViewModel>()
                           .Name("StatisticsGrid")
                           .Columns(columns =>
                           {
                               columns.Bound(x => x.Title).Title("Items");
                               columns.Bound(x => x.Month0).Title(DateTime.Today.AddMonths(-11).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month1).Title(DateTime.Today.AddMonths(-10).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month2).Title(DateTime.Today.AddMonths(-9).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month3).Title(DateTime.Today.AddMonths(-8).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month4).Title(DateTime.Today.AddMonths(-7).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month5).Title(DateTime.Today.AddMonths(-6).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month6).Title(DateTime.Today.AddMonths(-5).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month7).Title(DateTime.Today.AddMonths(-4).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month8).Title(DateTime.Today.AddMonths(-3).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month9).Title(DateTime.Today.AddMonths(-2).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month10).Title(DateTime.Today.AddMonths(-1).ToString("MMM")).Width("7%");
                               columns.Bound(x => x.Month11).Title(DateTime.Today.AddMonths(0).ToString("MMM")).Width("7%");

                           })
            )
                         
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Engineering Job Activity</h4>
                </div>
                <div class="panel-body">
                    @(Html.Kendo().Chart<JMS.Models.EngineerJobStatisticsViewModel>()
                        .Name("JobChart")
                        .Title("Past 12 Months")
                        .DataSource(dataSource => dataSource
                            .Read(read => read.Action("Read", "Statistics"))
                            .Events(events => events.RequestEnd("FeedJobData"))
                        )
                        .Series(series =>
                        {
                            series.Column(model => model.CountCompletedJobs).Name("Jobs Completed in Month").Axis("Count").Color("#f4b241").Stack(true);
                            series.Column(model => model.CountNewJobs).Name("New Jobs In Month").Axis("Count").Color("#4286f4").Stack(true).Opacity(0.5);
                            series.VerticalArea(model => model.CountJobsOnHold).Name("Jobs on Hold").Axis("Count").Color("#e0b153").Stack(true);
                            series.VerticalArea(model => model.CountJobsOpened).Name("open Jobs (not on Hold)").Axis("Count").Color("#adedbd").Stack(true);
                        })
                        .Legend(legend => legend.Position(ChartLegendPosition.Top).Visible(true))
                        .ValueAxis(axis => axis.Numeric("Count"))
                        .CategoryAxis(axis => axis.Categories(model => model.CategoryLabel))
                        .Tooltip(tooltips =>
                        {
                            tooltips.Visible(true);
                            tooltips.Template("#=series.name#: #=value#");
                        })
                    )
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Engineering Purchasing Activity</h4>
                </div>
                <div class="panel-body">
                    @(Html.Kendo().Chart<JMS.Models.EngineerPurchaseStatisticsViewModel>()
                      .Name("PurchaseChart")
                      .Title("Past 12 Months")
                      .DataSource(dataSource => dataSource
                            .Read(read => read.Action("ReadPurchases", "Statistics"))
                            .Events(events => events.RequestEnd("FeedPurchasingData"))
                      )
                      .Series(series =>
                      {
                          series.Column(model => model.Count).Name("Purchase Orders Placed").Color("#42a1f4").Axis("Count").Opacity(0.5);
                          series.VerticalArea(model => model.TotalValue).Name("Value of Purchase Orders (£)").Axis("PurchaseTotalValue").Color("#ef92e4");
                      })
                      .Legend(legend => legend.Position(ChartLegendPosition.Top).Visible(true))
                      .CategoryAxis(axis => axis.AxisCrossingValue(0, 20))
                      .ValueAxis(axis => axis.Numeric("Count").Color("#42a1f4"))
                      .ValueAxis(axis => axis.Numeric("PurchaseTotalValue").Title("Value").Color("#ef92e4").Labels(labels => labels.Template("£#=value#")))
                      .CategoryAxis(axis => axis.Categories(model => model.CategoryLabel))
                      .Tooltip(tooltips =>
                      {
                          tooltips.Visible(true);
                          tooltips.Template("#=series.name#: #=value#");
                      })
                    )
                </div>
            </div>

        </div>
    </div>

    <style>
        .div-inline {
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            align-items: center;
        }
    </style>

</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditJob" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1500px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditJob_Body"></div>
    </div>
</div>

<script>
    function FeedJobData(e) {
        var data = e.response;
        var newJobsInMonth = { Title: "New Jobs in Month" };
        var jobsCompletedInMonth = { Title: "Jobs Completed in Month" };
        var currentOpenJobs = { Title: "Open Jobs (not on Hold)" };
        var currentJobsOnHold = { Title: "Jobs on Hold" };
        $.each(data, function(index, value){
            newJobsInMonth["Month" + index] =  value.CountNewJobs;
            jobsCompletedInMonth["Month" + index] = value.CountCompletedJobs;
            currentOpenJobs["Month" + index] = value.CountJobsOpened;
            currentJobsOnHold["Month" + index] = value.CountJobsOnHold;
        })

        $('#StatisticsGrid').data('kendoGrid').dataSource.add(newJobsInMonth);
        $('#StatisticsGrid').data('kendoGrid').dataSource.add(jobsCompletedInMonth);
        $('#StatisticsGrid').data('kendoGrid').dataSource.add(currentOpenJobs);
        $('#StatisticsGrid').data('kendoGrid').dataSource.add(currentJobsOnHold);
    }

    function FeedPurchasingData(e) {
        var data = e.response;
        var newPurchasesInMonth = { Title: "Purchase Orders Placed" };
        var valueOfPurchasesInMonth = { Title: "Value of Purchase Orders (£)" };

        $.each(data, function(index, value){
            newPurchasesInMonth["Month" + index] =  value.Count;
            valueOfPurchasesInMonth["Month" + index] = kendo.toString(value.TotalValue, "C");
        })

        $('#StatisticsGrid').data('kendoGrid').dataSource.add(newPurchasesInMonth);
        $('#StatisticsGrid').data('kendoGrid').dataSource.add(valueOfPurchasesInMonth);
    }

</script>




