﻿@model JMS.Models.RequestorViewModel

@Html.Partial("_EditRequestorDetails", Model)

<div class="row">
    <div class="col-sm-12">
        <br />
        @(Html.Kendo().TabStrip().Scrollable(false)
        .Name("Requestor_Tabstrip")
        .Items(tabstrip =>
        {
            tabstrip.Add().Text("Purchases").Content(@Html.Partial("_TabPurchases", Model).ToHtmlString()).Selected(true);
            tabstrip.Add().Text("Jobs").Content(@Html.Partial("_TabJobs", Model).ToHtmlString()).Selected(false);
            tabstrip.Add().Text("Equipments").Content(@Html.Partial("_TabEquipments", Model).ToHtmlString()).Selected(false);
            //tabstrip.Add().Text("Purchase Orders").Content(@Html.Partial("_PurchaseOrdersTab", Model).ToHtmlString()).Selected(false);
            /*
            if (Model.IsSupplier)
            {
                tabstrip.Add().Text("Supplier Categories").Content(@Html.Partial("_CategoriesTab", Model).ToHtmlString()).Selected(false);
            }
            */
        }))
    </div>
</div>