﻿@model JMS.Models.RequestorViewModel

<div id="divEditRequestor">
     <script> $("divEditRequestor").submit(function (e) { e.preventDefault(e); }); </script>
    
    <div class="row form-table" style="margin-left:5px; margin-right:5px;">
        <div class="col-sm-12">
            @using (Ajax.BeginForm("_EditRequestorDetails", "Requestor", new AjaxOptions { UpdateTargetId = "divEditRequestor" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.RefID)
                <div id="div_Body" class="row">
                    <div class="col-xs-9">
                        <h2>Edit Requestor</h2>
                    </div>
                    <div class="col-xs-3">
                        <br />
                        <div style="float:right;">
                            @if (!User.IsInRole("Viewer"))
                            {
                            <input type="submit" value="Save Changes" class="btn btn-sm btn-inverse">
                            }
                            <a class="btn btn-sm btn-default" onclick="HideViews()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                            @if (ViewBag.Saved != null)
                            {
                                <br />
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                    <div class="col-sm-4">
                        <table>
                            @*<tr>
                                <td style="width:80px;"><label>ID:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.RefID, new { @class = "form-control", @placeholder = "ID", @style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.RefID, "", new { @class = "text-danger" })
                                </td>
                            </tr>*@
                            <tr>
                                <td><label>First Name:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label>Surname:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", @placeholder = "Surname", @style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    @if (!User.IsInRole("Viewer"))
                    {
                        <div class="col-sm-12">
                            <br /><br />
                            <input type="submit" value="Save Changes" class="btn btn-inverse">&nbsp;
                            @if (ViewBag.Saved != null)
                            {
                                <label class="l_Saved"><strong>Details Saved!</strong></label>
                                <script>
                                    setTimeout(function () { $(".l_Saved").fadeOut(); }, 2000);
                                </script>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>

</div>