﻿@model JMS.Models.RequestorViewModel

<br />

@(Html.Kendo().Grid<JMS.Models.EquipmentGridViewModel>()
              .Name("GridEquipments")
              .HtmlAttributes(new { style = "min-width: 900px" })
              .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Equipments").Empty("No Equipments Found")))
              .Columns(columns =>
              {
                  columns.Bound(x => x.EquipNo).ClientTemplate("<a href='/Equipment/GoTo/#=ID#' target='_blank' title='Go to #=EquipNo#'>#=EquipNo#</a>");
                  columns.Bound(x => x.Title).ClientTemplate("<a href='/Equipment/GoTo/#=ID#' target='_blank' title='Go to #=EquipNo#'>#=Title#</a>");
                  columns.Bound(x => x.LocationName).Title("Location");
                  columns.Bound(x => x.DepartmentName).Title("Department").Encoded(false);
                  columns.Bound(u => u.ManufacturerID).Title("Manufacturer").ClientTemplate("#=Manufacturer#").Width("1%");
                  columns.Bound(u => u.EquipStatusID).Title("Status").ClientTemplate("<label class='label label-primary' style = 'background-color:#=EquipStatus.HexColour#;'>#=EquipStatus.Name#</label>").HtmlAttributes(new { @class = "div-inline" }).Width("1%").HeaderHtmlAttributes(new { @style = "text-align: center;" });
                  //columns.Template(@<text></text>).ClientTemplate("<a href='/Equipment/GoTo/#=ID#' target='_blank' title='Go to #=EquipNo#'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
              })
              //.Sortable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Model(model =>
                  {
                      model.Id(l => l.ID);
                  })
                  .Read(read => read.Action("Read", "EquipmentGrid", new { requestorID = Model.ID }).Data("function() { return { statuses: [1, 2, 3] } }")).PageSize(10)
              )
              .Events(events => events.DataBound("KendoGridDatabound"))

)