﻿@{
    ViewBag.Title = "Confirm Email";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>@ViewBag.Title.</h2>
            <hr />
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>

