﻿@model JMS.Models.UserViewModel
@{
    ViewBag.Title = "Manage User Account";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Manage User Account</h2>
            <h4 style="color:grey">@Model.FirstName @Model.LastName (@Model.Email)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            @using (Html.BeginForm("Manage", "Account", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="row" style="margin:0px; padding:0px;">
                    <div class="col-sm-4">
                        <label>First Name:</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        <br />

                        <label>Last Name:</label>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        <br />

                        <label>Role:</label>
                        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control input-sm", @readonly = true })
                        <br />

                    </div>
                    <div class="col-sm-4">
                        <label>Email:</label><br />
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <br />

                        <label>Phone Number:</label>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        <br />
                    </div>
                    <div class="col-sm-12">
                        <hr />
                        <input type="submit" value="Save Changes" class="btn btn-inverse" />&nbsp;
                        @Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-inverse" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>


