﻿@{
    ViewBag.Title = "Awaiting Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>@ViewBag.Title</h1>
            <hr />
            <p class="text-default">
                Thank you for Registering your account with SNAP Suite.
                <br />
                Please click on the Confirmation link sent to your email to activate your account.
                <br />
                Remember to check you Spam folder.
            </p>
        </div>
    </div>
</div>
<div class="row">

</div>