﻿@model JMS.Models.SupplierContactViewModel


<div class="form-table" style="margin:20px; margin-top:0; -webkit-box-sizing: border-box; box-sizing: border-box;">

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.SupplierID)
    @Html.HiddenFor(m => m.SupplierName)
    <table style="width:100%">        
        <tr>
            <td><label>Name:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><label>Position Held:</label></td>
            <td>
                @Html.TextBoxFor(model => model.PositionHeld, new { @class = "form-control", @placeholder = "Position Held", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Telephone:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @style = "width:100%;" })
            </td>
        </tr>
    </table>
    

</div>





