body {background-color: <wpdisplay disp=body.bg>; <wpdisplay disp=body.bg.image pre=" background-image: url('" post="');"> margin: 0px 0px 0px 0px;}
table.header {background-color: <wpdisplay disp=header.bg>; width: 100%; border: 0px;}
td.headerlogo1 {background-color: <wpdisplay disp=header.bg>; vertical-align: <wpdisplay disp=header.logo1.valign>; width: 383px; text-align: <wpdisplay disp=header.logo1.halign>;}
td.headerlogo2 {background-color: <wpdisplay disp=body.bg>; vertical-align: <wpdisplay disp=header.logo2.valign>; width: 272px; text-align: <wpdisplay disp=header.logo2.halign>;}
table.nav { background-image:url('/images/wp/navbar.gif'); background-repeat: repeat-x; width: 100%; border: 0px; height: 21px;}
table.container { background-color: <wpdisplay disp=wp.container.border.bg>; width: <wpdisplay disp=wp.container.width>; border: 0px; margin-right: auto; margin-left: auto;}
td.title {background-color: <wpdisplay disp=title.bg>; width: 100%;}
table.containercell {background-color: <wpdisplay disp=1.bg>; width: 100%; border: <wpdisplay disp=wp.container.cellBorder>;}
h1 {font-size: <wpdisplay fontsize=|disp=title.font.size empty=|disp=title.font.size>; font-family: <wpdisplay disp=title.font>; color: <wpdisplay disp=title.fg>; margin: 0px;}
h2 {font-size: <wpdisplay fontsize=|disp=header2.font.size empty=|disp=header2.font.size>; font-family: <wpdisplay disp=header2.font>; color: <wpdisplay disp=header2.fg>; font-weight: bold; margin: 0px;}
h3 {font-size: <wpdisplay fontsize=|disp=header3.font.size empty=|disp=header3.font.size>; font-family: <wpdisplay disp=header3.font>; color: <wpdisplay disp=header3.fg>; font-weight: bold; margin: 0px;}
A.header:Link {text-decoration: none; color: <wpdisplay disp=header.font.fg>; font-family: <wpdisplay disp=header.font>; font-size: <wpdisplay fontsize=|disp=header.font.size empty=|disp=header.font.size>; font-weight: bold;}
A.header:Visited {text-decoration: none; color: <wpdisplay disp=header.font.fg>; font-family: <wpdisplay disp=header.font>; font-size: <wpdisplay fontsize=|disp=header.font.size empty=|disp=header.font.size>; font-weight: bold;}
A.header:Active {text-decoration: none; color: <wpdisplay disp=header.font.fg>; font-family: <wpdisplay disp=header.font>; font-size: <wpdisplay fontsize=|disp=header.font.size empty=|disp=header.font.size>; font-weight: bold;}
A.header:Hover {text-decoration: underlined; color: <wpdisplay disp=header.font.ahover.fg>; font-family: <wpdisplay disp=header.font>; font-size: <wpdisplay fontsize=|disp=header.font.size empty=|disp=header.font.size>; font-weight: bold;}
hr {color: <wpdisplay disp=3.bg>; background-color: <wpdisplay disp=3.bg>; height: 3px;}
td.footerdivider {<wpdisplay disp=footer.divider.bg.image pre=" background-image: url('" post="');">; background-repeat: repeat-x; vertical-align: <wpdisplay disp=footer.valign>; text-align: <wpdisplay disp=footer.halign>; width: 760px; height:1px;}
td.footer {background-color: <wpdisplay disp=body.bg>; vertical-align: <wpdisplay disp=footer.valign>; text-align: <wpdisplay disp=footer.halign>; width: 760px;}
@media print {
body {font-size:100%; width: 100%; margin: 0; float: none; font-family:Times New Roman, Serif; color: #000000; background: #ffffff;}
table.header {display:none; width: 100%;}
td.headerlogo1 {display:none;}
td.headerlogo2 {display:none;}
table.nav {display:none; width: 100%;}
table.container {background-color: #ffffff; width: 100%;}
td.title {background-color: #ffffff; color: #000000; width: 100%;}
table.containercell {background-color: #ffffff; width: 100%;}
h1 {font-size:130%; color: #000000;}
h2 {font-size:120%; color: #000000;}
h3 {font-size:110%; color: #000000;}
A.header:Link {display:none;}
A.header:Visited {display:none;}
A.header:Active {display:none;}
A.header:Hover {display:none;}
hr {color: #000000; background-color: #000000; height: 1px;}
td.footerdivider {display:none; width: 100%;}
td.footer {display:none; width: 100%;}
td.brand {display:none;}
td.two {background-color: #ffffff;}
td.one {background-color: #ffffff;}
td.error {background-color: #ffffff;}
td.three {background-color: #ffffff;}
.print_buttons {display:none;}
#print_buttons tr{display:none;}
div.print_buttons {display:none;}
img.print_buttons {display:none;}
}
